// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Sat Nov 29 15:09:56 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/sojayaweera/e155/project/fpga/source/impl_1/synchronizer.sv"
// file 1 "c:/users/sojayaweera/e155/project/fpga/source/impl_1/top.sv"
// file 2 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 3 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 4 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 5 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 6 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 7 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 22 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 23 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 24 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 25 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 26 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 36 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 37 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 38 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 39 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 40 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 53 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input reset_in, input square, output [11:0]led);
    
    wire reset_in_c;
    wire square_c;
    wire led_c_11;
    wire led_c_10;
    wire led_c_9;
    wire led_c_8;
    wire led_c_7;
    wire led_c_6;
    wire led_c_5;
    wire led_c_4;
    wire led_c_3;
    wire led_c_2;
    wire led_c_1;
    wire led_c_0;
    (* is_clock=1, lineinfo="@1(7[11],7[18])" *) wire int_osc;
    wire reset_in_c_N_47;
    wire [25:0]timer;
    wire [9:0]edge_count;
    wire [9:0]edge_count_display;
    wire collecting;
    wire square_sync;
    wire square_prev;
    wire reset_released;
    wire reset_prev;
    
    wire GND_net, VCC_net, n686, n1322, n705, n690, collecting_N_48, 
        n12, n1319, n1316, n1274, n1313, n1271, n692, n688, 
        n672, n684, n1280, n843, n833, n496, n478, n494, n678;
    wire [9:0]edge_count_9__N_27;
    
    wire n492, n490, n850, n14, n853, n480, n1277, n682, n703, 
        n926, n1310, n1265, n670, n920, n918, n701, n469, n476, 
        n488, n463, n506, n1292, n699, n466, n848, n1307, n486, 
        n1304, n504, n470, n1286, n1283, n697, n474, n464, n472, 
        n471, n676, n460, n680, n1301, n508, n10, n510, n512, 
        n1298, n694;
    wire [25:0]n137;
    
    wire n484, n502, n1268, n500, n482, n674, n498, n520, n518, 
        n516, n514, n1289, n1295;
    
    VHI i2 (.Z(VCC_net));
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i560_4_lut (.A(n463), .B(timer[9]), 
            .C(timer[0]), .D(n920), .Z(n926));
    defparam i560_4_lut.INIT = "0xfffe";
    (* lut_function="(!((((D)+!C)+!B)+!A))" *) LUT4 i5_4_lut (.A(timer[19]), 
            .B(n843), .C(timer[22]), .D(n926), .Z(n12));
    defparam i5_4_lut.INIT = "0x0080";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i319_2_lut_3_lut (.A(n137[20]), 
            .B(reset_prev), .C(reset_in_c), .Z(n482));
    defparam i319_2_lut_3_lut.INIT = "0x2a2a";
    (* lut_function="(!(((C+!(D))+!B)+!A))" *) LUT4 i6_4_lut (.A(n853), .B(n12), 
            .C(n833), .D(timer[16]), .Z(n469));
    defparam i6_4_lut.INIT = "0x0800";
    (* lineinfo="@1(64[9],70[12])" *) FD1P3XZ collecting_c (.D(collecting_N_48), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(collecting));
    defparam collecting_c.REGSET = "RESET";
    defparam collecting_c.SRMODE = "ASYNC";
    (* lineinfo="@1(114[9],125[12])" *) FD1P3XZ led_i11 (.D(edge_count_display[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(led_c_10));
    defparam led_i11.REGSET = "SET";
    defparam led_i11.SRMODE = "ASYNC";
    (* lineinfo="@1(114[9],125[12])" *) FD1P3XZ led_i10 (.D(edge_count_display[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(led_c_9));
    defparam led_i10.REGSET = "SET";
    defparam led_i10.SRMODE = "ASYNC";
    (* lineinfo="@1(5[25],5[28])" *) OB \led_pad[10]  (.I(led_c_10), .O(led[10]));
    (* lineinfo="@1(5[25],5[28])" *) OB \led_pad[11]  (.I(led_c_11), .O(led[11]));
    (* lineinfo="@1(82[22],82[35])" *) FA2 add_19_add_5_21 (.A0(GND_net), 
            .B0(timer[19]), .C0(GND_net), .D0(n688), .CI0(n688), .A1(GND_net), 
            .B1(timer[20]), .C1(GND_net), .D1(n1295), .CI1(n1295), .CO0(n1295), 
            .CO1(n690), .S0(n137[19]), .S1(n137[20]));
    defparam add_19_add_5_21.INIT0 = "0xc33c";
    defparam add_19_add_5_21.INIT1 = "0xc33c";
    (* lineinfo="@1(114[9],125[12])" *) FD1P3XZ led_i9 (.D(edge_count_display[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(led_c_8));
    defparam led_i9.REGSET = "SET";
    defparam led_i9.SRMODE = "ASYNC";
    (* lineinfo="@1(51[9],55[12])" *) FD1P3XZ reset_prev_c (.D(reset_in_c_N_47), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(reset_prev));
    defparam reset_prev_c.REGSET = "SET";
    defparam reset_prev_c.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(95[27],95[45])" *) FD1P3XZ edge_count__97__i0 (.D(edge_count_9__N_27[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count[0]));
    defparam edge_count__97__i0.REGSET = "RESET";
    defparam edge_count__97__i0.SRMODE = "ASYNC";
    (* lineinfo="@1(114[9],125[12])" *) FD1P3XZ led_i12 (.D(edge_count_display[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(led_c_11));
    defparam led_i12.REGSET = "SET";
    defparam led_i12.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i22 (.D(n478), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[22]));
    defparam timer__i22.REGSET = "RESET";
    defparam timer__i22.SRMODE = "ASYNC";
    (* syn_instantiated=1 *) HSOSC hf_osc (.CLKHFPU(VCC_net), .CLKHFEN(VCC_net), 
            .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b00";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i23 (.D(n476), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[23]));
    defparam timer__i23.REGSET = "RESET";
    defparam timer__i23.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i346_2_lut_3_lut (.A(n137[1]), 
            .B(reset_prev), .C(reset_in_c), .Z(n520));
    defparam i346_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(114[9],125[12])" *) FD1P3XZ led_i8 (.D(edge_count_display[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(led_c_7));
    defparam led_i8.REGSET = "SET";
    defparam led_i8.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i345_2_lut_3_lut (.A(n137[2]), 
            .B(reset_prev), .C(reset_in_c), .Z(n518));
    defparam i345_2_lut_3_lut.INIT = "0x2a2a";
    (* lut_function="(A+(B+(C)))" *) LUT4 i2_3_lut (.A(timer[24]), .B(timer[25]), 
            .C(timer[23]), .Z(n833));
    defparam i2_3_lut.INIT = "0xfefe";
    (* lineinfo="@1(114[9],125[12])" *) FD1P3XZ led_i7 (.D(edge_count_display[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(led_c_6));
    defparam led_i7.REGSET = "SET";
    defparam led_i7.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i24 (.D(n474), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[24]));
    defparam timer__i24.REGSET = "RESET";
    defparam timer__i24.SRMODE = "ASYNC";
    (* lineinfo="@1(114[9],125[12])" *) FD1P3XZ led_i6 (.D(edge_count_display[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(led_c_5));
    defparam led_i6.REGSET = "SET";
    defparam led_i6.SRMODE = "ASYNC";
    (* lineinfo="@1(114[9],125[12])" *) FD1P3XZ led_i5 (.D(edge_count_display[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(led_c_4));
    defparam led_i5.REGSET = "SET";
    defparam led_i5.SRMODE = "ASYNC";
    (* lineinfo="@1(103[9],107[12])" *) FD1P3XZ edge_count_display_i0_i0 (.D(edge_count[0]), 
            .SP(n469), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count_display[0]));
    defparam edge_count_display_i0_i0.REGSET = "RESET";
    defparam edge_count_display_i0_i0.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i344_2_lut_3_lut (.A(n137[3]), 
            .B(reset_prev), .C(reset_in_c), .Z(n516));
    defparam i344_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i25 (.D(n472), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[25]));
    defparam timer__i25.REGSET = "RESET";
    defparam timer__i25.SRMODE = "ASYNC";
    (* lineinfo="@1(114[9],125[12])" *) FD1P3XZ led_i4 (.D(edge_count_display[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(led_c_3));
    defparam led_i4.REGSET = "SET";
    defparam led_i4.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i0 (.D(n470), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[0]));
    defparam timer__i0.REGSET = "RESET";
    defparam timer__i0.SRMODE = "ASYNC";
    (* lut_function="(A (B))", lineinfo="@1(58[29],58[48])" *) LUT4 reset_prev_I_4_2_lut (.A(reset_prev), 
            .B(reset_in_c), .Z(reset_released));
    defparam reset_prev_I_4_2_lut.INIT = "0x8888";
    (* lineinfo="@1(114[9],125[12])" *) FD1P3XZ led_i3 (.D(edge_count_display[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(led_c_2));
    defparam led_i3.REGSET = "SET";
    defparam led_i3.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i343_2_lut_3_lut (.A(n137[4]), 
            .B(reset_prev), .C(reset_in_c), .Z(n514));
    defparam i343_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(114[9],125[12])" *) FD1P3XZ led_i2 (.D(collecting), .SP(VCC_net), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(led_c_1));
    defparam led_i2.REGSET = "SET";
    defparam led_i2.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i342_2_lut_3_lut (.A(n137[5]), 
            .B(reset_prev), .C(reset_in_c), .Z(n512));
    defparam i342_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(114[9],125[12])" *) FD1P3XZ led_i1 (.D(GND_net), .SP(VCC_net), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(led_c_0));
    defparam led_i1.REGSET = "SET";
    defparam led_i1.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i341_2_lut_3_lut (.A(n137[6]), 
            .B(reset_prev), .C(reset_in_c), .Z(n510));
    defparam i341_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i21 (.D(n480), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[21]));
    defparam timer__i21.REGSET = "RESET";
    defparam timer__i21.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(95[27],95[45])" *) FD1P3XZ edge_count__97__i1 (.D(edge_count_9__N_27[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count[1]));
    defparam edge_count__97__i1.REGSET = "RESET";
    defparam edge_count__97__i1.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i340_2_lut_3_lut (.A(n137[7]), 
            .B(reset_prev), .C(reset_in_c), .Z(n508));
    defparam i340_2_lut_3_lut.INIT = "0x2a2a";
    (* lut_function="(A (B (C+(D))+!B (C)))" *) LUT4 i1_4_lut (.A(n853), .B(timer[0]), 
            .C(timer[9]), .D(n843), .Z(n848));
    defparam i1_4_lut.INIT = "0xa8a0";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=18, LSE_RCOL=6, LSE_LLINE=31, LSE_RLINE=35, lineinfo="@1(31[18],35[6])" *) synchronizer square_synchronizer (square_sync, 
            int_osc, square_c);
    (* syn_use_carry_chain=1, lineinfo="@1(95[27],95[45])" *) FD1P3XZ edge_count__97__i2 (.D(edge_count_9__N_27[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count[2]));
    defparam edge_count__97__i2.REGSET = "RESET";
    defparam edge_count__97__i2.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i339_2_lut_3_lut (.A(n137[8]), 
            .B(reset_prev), .C(reset_in_c), .Z(n506));
    defparam i339_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(82[22],82[35])" *) FA2 add_19_add_5_19 (.A0(GND_net), 
            .B0(timer[17]), .C0(GND_net), .D0(n686), .CI0(n686), .A1(GND_net), 
            .B1(timer[18]), .C1(GND_net), .D1(n1292), .CI1(n1292), .CO0(n1292), 
            .CO1(n688), .S0(n137[17]), .S1(n137[18]));
    defparam add_19_add_5_19.INIT0 = "0xc33c";
    defparam add_19_add_5_19.INIT1 = "0xc33c";
    (* lineinfo="@1(95[27],95[45])" *) FA2 edge_count__97_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(n850), .C1(edge_count[0]), 
            .D1(n1301), .CI1(n1301), .CO0(n1301), .CO1(n697), .S1(edge_count_9__N_27[0]));
    defparam edge_count__97_add_4_1.INIT0 = "0xc33c";
    defparam edge_count__97_add_4_1.INIT1 = "0xc33c";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i321_2_lut_3_lut (.A(n137[18]), 
            .B(reset_prev), .C(reset_in_c), .Z(n486));
    defparam i321_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(95[27],95[45])" *) FA2 edge_count__97_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(edge_count[5]), .D0(n701), .CI0(n701), 
            .A1(GND_net), .B1(GND_net), .C1(edge_count[6]), .D1(n1316), 
            .CI1(n1316), .CO0(n1316), .CO1(n703), .S0(edge_count_9__N_27[5]), 
            .S1(edge_count_9__N_27[6]));
    defparam edge_count__97_add_4_7.INIT0 = "0xc33c";
    defparam edge_count__97_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@1(82[22],82[35])" *) FA2 add_19_add_5_27 (.A0(GND_net), 
            .B0(timer[25]), .C0(GND_net), .D0(n694), .CI0(n694), .A1(GND_net), 
            .B1(GND_net), .C1(GND_net), .D1(n1307), .CI1(n1307), .CO0(n1307), 
            .S0(n137[25]));
    defparam add_19_add_5_27.INIT0 = "0xc33c";
    defparam add_19_add_5_27.INIT1 = "0xc33c";
    (* lut_function="(!((B+!(C))+!A))", lineinfo="@1(94[22],94[47])" *) LUT4 i1_3_lut (.A(collecting), 
            .B(square_sync), .C(square_prev), .Z(n850));
    defparam i1_3_lut.INIT = "0x2020";
    (* lut_function="(A (B+(C+(D)))+!A (B))" *) LUT4 i1_4_lut_adj_5 (.A(timer[16]), 
            .B(n463), .C(n848), .D(n460), .Z(n464));
    defparam i1_4_lut_adj_5.INIT = "0xeeec";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i337_2_lut_3_lut (.A(n137[10]), 
            .B(reset_prev), .C(reset_in_c), .Z(n502));
    defparam i337_2_lut_3_lut.INIT = "0x2a2a";
    (* lut_function="(A (B (C+(D)))+!A (B (C)))" *) LUT4 i552_4_lut (.A(n464), 
            .B(timer[22]), .C(n466), .D(timer[19]), .Z(n918));
    defparam i552_4_lut.INIT = "0xc8c0";
    (* lut_function="(A+!(B+(C+!(D))))", lineinfo="@1(58[29],58[48])" *) LUT4 i1_4_lut_adj_6 (.A(reset_released), 
            .B(n918), .C(n833), .D(collecting), .Z(collecting_N_48));
    defparam i1_4_lut_adj_6.INIT = "0xabaa";
    (* lineinfo="@1(82[22],82[35])" *) FA2 add_19_add_5_17 (.A0(GND_net), 
            .B0(timer[15]), .C0(GND_net), .D0(n684), .CI0(n684), .A1(GND_net), 
            .B1(timer[16]), .C1(GND_net), .D1(n1289), .CI1(n1289), .CO0(n1289), 
            .CO1(n686), .S0(n137[15]), .S1(n137[16]));
    defparam add_19_add_5_17.INIT0 = "0xc33c";
    defparam add_19_add_5_17.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@1(11[20],11[29])" *) LUT4 reset_in_c_I_0_1_lut (.A(reset_in_c), 
            .Z(reset_in_c_N_47));
    defparam reset_in_c_I_0_1_lut.INIT = "0x5555";
    (* lineinfo="@1(82[22],82[35])" *) FA2 add_19_add_5_15 (.A0(GND_net), 
            .B0(timer[13]), .C0(GND_net), .D0(n682), .CI0(n682), .A1(GND_net), 
            .B1(timer[14]), .C1(GND_net), .D1(n1286), .CI1(n1286), .CO0(n1286), 
            .CO1(n684), .S0(n137[13]), .S1(n137[14]));
    defparam add_19_add_5_15.INIT0 = "0xc33c";
    defparam add_19_add_5_15.INIT1 = "0xc33c";
    (* lineinfo="@1(82[22],82[35])" *) FA2 add_19_add_5_9 (.A0(GND_net), .B0(timer[7]), 
            .C0(GND_net), .D0(n676), .CI0(n676), .A1(GND_net), .B1(timer[8]), 
            .C1(GND_net), .D1(n1277), .CI1(n1277), .CO0(n1277), .CO1(n678), 
            .S0(n137[7]), .S1(n137[8]));
    defparam add_19_add_5_9.INIT0 = "0xc33c";
    defparam add_19_add_5_9.INIT1 = "0xc33c";
    (* lineinfo="@1(82[22],82[35])" *) FA2 add_19_add_5_7 (.A0(GND_net), .B0(timer[5]), 
            .C0(GND_net), .D0(n674), .CI0(n674), .A1(GND_net), .B1(timer[6]), 
            .C1(GND_net), .D1(n1274), .CI1(n1274), .CO0(n1274), .CO1(n676), 
            .S0(n137[5]), .S1(n137[6]));
    defparam add_19_add_5_7.INIT0 = "0xc33c";
    defparam add_19_add_5_7.INIT1 = "0xc33c";
    (* lineinfo="@1(82[22],82[35])" *) FA2 add_19_add_5_13 (.A0(GND_net), 
            .B0(timer[11]), .C0(GND_net), .D0(n680), .CI0(n680), .A1(GND_net), 
            .B1(timer[12]), .C1(GND_net), .D1(n1283), .CI1(n1283), .CO0(n1283), 
            .CO1(n682), .S0(n137[11]), .S1(n137[12]));
    defparam add_19_add_5_13.INIT0 = "0xc33c";
    defparam add_19_add_5_13.INIT1 = "0xc33c";
    (* lineinfo="@1(82[22],82[35])" *) FA2 add_19_add_5_25 (.A0(GND_net), 
            .B0(timer[23]), .C0(GND_net), .D0(n692), .CI0(n692), .A1(GND_net), 
            .B1(timer[24]), .C1(GND_net), .D1(n1304), .CI1(n1304), .CO0(n1304), 
            .CO1(n694), .S0(n137[23]), .S1(n137[24]));
    defparam add_19_add_5_25.INIT0 = "0xc33c";
    defparam add_19_add_5_25.INIT1 = "0xc33c";
    (* lineinfo="@1(82[22],82[35])" *) FA2 add_19_add_5_5 (.A0(GND_net), .B0(timer[3]), 
            .C0(GND_net), .D0(n672), .CI0(n672), .A1(GND_net), .B1(timer[4]), 
            .C1(GND_net), .D1(n1271), .CI1(n1271), .CO0(n1271), .CO1(n674), 
            .S0(n137[3]), .S1(n137[4]));
    defparam add_19_add_5_5.INIT0 = "0xc33c";
    defparam add_19_add_5_5.INIT1 = "0xc33c";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i336_2_lut_3_lut (.A(n137[11]), 
            .B(reset_prev), .C(reset_in_c), .Z(n500));
    defparam i336_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(82[22],82[35])" *) FA2 add_19_add_5_23 (.A0(GND_net), 
            .B0(timer[21]), .C0(GND_net), .D0(n690), .CI0(n690), .A1(GND_net), 
            .B1(timer[22]), .C1(GND_net), .D1(n1298), .CI1(n1298), .CO0(n1298), 
            .CO1(n692), .S0(n137[21]), .S1(n137[22]));
    defparam add_19_add_5_23.INIT0 = "0xc33c";
    defparam add_19_add_5_23.INIT1 = "0xc33c";
    (* lineinfo="@1(95[27],95[45])" *) FA2 edge_count__97_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(edge_count[9]), .D0(n705), .CI0(n705), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n1322), .CI1(n1322), 
            .CO0(n1322), .S0(edge_count_9__N_27[9]));
    defparam edge_count__97_add_4_11.INIT0 = "0xc33c";
    defparam edge_count__97_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@1(95[27],95[45])" *) FA2 edge_count__97_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(edge_count[3]), .D0(n699), .CI0(n699), 
            .A1(GND_net), .B1(GND_net), .C1(edge_count[4]), .D1(n1313), 
            .CI1(n1313), .CO0(n1313), .CO1(n701), .S0(edge_count_9__N_27[3]), 
            .S1(edge_count_9__N_27[4]));
    defparam edge_count__97_add_4_5.INIT0 = "0xc33c";
    defparam edge_count__97_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@1(95[27],95[45])" *) FA2 edge_count__97_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(edge_count[7]), .D0(n703), .CI0(n703), 
            .A1(GND_net), .B1(GND_net), .C1(edge_count[8]), .D1(n1319), 
            .CI1(n1319), .CO0(n1319), .CO1(n705), .S0(edge_count_9__N_27[7]), 
            .S1(edge_count_9__N_27[8]));
    defparam edge_count__97_add_4_9.INIT0 = "0xc33c";
    defparam edge_count__97_add_4_9.INIT1 = "0xc33c";
    (* lut_function="(A (B (C (D))))" *) LUT4 i3_4_lut (.A(timer[13]), .B(timer[11]), 
            .C(timer[12]), .D(timer[10]), .Z(n853));
    defparam i3_4_lut.INIT = "0x8000";
    (* lineinfo="@1(95[27],95[45])" *) FA2 edge_count__97_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(edge_count[1]), .D0(n697), .CI0(n697), 
            .A1(GND_net), .B1(GND_net), .C1(edge_count[2]), .D1(n1310), 
            .CI1(n1310), .CO0(n1310), .CO1(n699), .S0(edge_count_9__N_27[1]), 
            .S1(edge_count_9__N_27[2]));
    defparam edge_count__97_add_4_3.INIT0 = "0xc33c";
    defparam edge_count__97_add_4_3.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@1(95[27],95[45])" *) FD1P3XZ edge_count__97__i3 (.D(edge_count_9__N_27[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count[3]));
    defparam edge_count__97__i3.REGSET = "RESET";
    defparam edge_count__97__i3.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i327_2_lut_3_lut (.A(n137[12]), 
            .B(reset_prev), .C(reset_in_c), .Z(n498));
    defparam i327_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(82[22],82[35])" *) FA2 add_19_add_5_3 (.A0(GND_net), .B0(timer[1]), 
            .C0(GND_net), .D0(n670), .CI0(n670), .A1(GND_net), .B1(timer[2]), 
            .C1(GND_net), .D1(n1268), .CI1(n1268), .CO0(n1268), .CO1(n672), 
            .S0(n137[1]), .S1(n137[2]));
    defparam add_19_add_5_3.INIT0 = "0xc33c";
    defparam add_19_add_5_3.INIT1 = "0xc33c";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i322_2_lut_3_lut (.A(n137[17]), 
            .B(reset_prev), .C(reset_in_c), .Z(n488));
    defparam i322_2_lut_3_lut.INIT = "0x2a2a";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut (.A(timer[15]), .B(timer[14]), 
            .Z(n460));
    defparam i1_2_lut.INIT = "0xeeee";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_7 (.A(timer[21]), .B(timer[20]), 
            .Z(n466));
    defparam i1_2_lut_adj_7.INIT = "0xeeee";
    (* lut_function="(A (B (C (D))))" *) LUT4 i7_4_lut (.A(timer[5]), .B(n14), 
            .C(n10), .D(timer[3]), .Z(n843));
    defparam i7_4_lut.INIT = "0x8000";
    (* lut_function="(A (B))" *) LUT4 i2_2_lut (.A(timer[2]), .B(timer[7]), 
            .Z(n10));
    defparam i2_2_lut.INIT = "0x8888";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i313_2_lut_3_lut (.A(n137[0]), 
            .B(reset_prev), .C(reset_in_c), .Z(n470));
    defparam i313_2_lut_3_lut.INIT = "0x2a2a";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i554_2_lut_4_lut (.A(timer[15]), 
            .B(timer[14]), .C(timer[21]), .D(timer[20]), .Z(n920));
    defparam i554_2_lut_4_lut.INIT = "0xfffe";
    (* lineinfo="@1(5[25],5[28])" *) OB \led_pad[9]  (.I(led_c_9), .O(led[9]));
    (* lineinfo="@1(5[25],5[28])" *) OB \led_pad[8]  (.I(led_c_8), .O(led[8]));
    (* lineinfo="@1(5[25],5[28])" *) OB \led_pad[7]  (.I(led_c_7), .O(led[7]));
    (* lineinfo="@1(5[25],5[28])" *) OB \led_pad[6]  (.I(led_c_6), .O(led[6]));
    (* lineinfo="@1(5[25],5[28])" *) OB \led_pad[5]  (.I(led_c_5), .O(led[5]));
    (* lineinfo="@1(5[25],5[28])" *) OB \led_pad[4]  (.I(led_c_4), .O(led[4]));
    (* lineinfo="@1(5[25],5[28])" *) OB \led_pad[3]  (.I(led_c_3), .O(led[3]));
    (* lineinfo="@1(5[25],5[28])" *) OB \led_pad[2]  (.I(led_c_2), .O(led[2]));
    (* lineinfo="@1(5[25],5[28])" *) OB \led_pad[1]  (.I(led_c_1), .O(led[1]));
    (* lineinfo="@1(5[25],5[28])" *) OB \led_pad[0]  (.I(led_c_0), .O(led[0]));
    (* lineinfo="@1(3[18],3[26])" *) IB reset_in_pad (.I(reset_in), .O(reset_in_c));
    (* lineinfo="@1(4[18],4[24])" *) IB square_pad (.I(square), .O(square_c));
    (* lut_function="(A (B (C (D))))" *) LUT4 i6_4_lut_adj_8 (.A(timer[1]), 
            .B(timer[4]), .C(timer[6]), .D(timer[8]), .Z(n14));
    defparam i6_4_lut_adj_8.INIT = "0x8000";
    (* lut_function="(A+(B))" *) LUT4 i1_2_lut_adj_9 (.A(timer[18]), .B(timer[17]), 
            .Z(n463));
    defparam i1_2_lut_adj_9.INIT = "0xeeee";
    (* syn_use_carry_chain=1, lineinfo="@1(95[27],95[45])" *) FD1P3XZ edge_count__97__i4 (.D(edge_count_9__N_27[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count[4]));
    defparam edge_count__97__i4.REGSET = "RESET";
    defparam edge_count__97__i4.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(95[27],95[45])" *) FD1P3XZ edge_count__97__i5 (.D(edge_count_9__N_27[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count[5]));
    defparam edge_count__97__i5.REGSET = "RESET";
    defparam edge_count__97__i5.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(95[27],95[45])" *) FD1P3XZ edge_count__97__i6 (.D(edge_count_9__N_27[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count[6]));
    defparam edge_count__97__i6.REGSET = "RESET";
    defparam edge_count__97__i6.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(95[27],95[45])" *) FD1P3XZ edge_count__97__i7 (.D(edge_count_9__N_27[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count[7]));
    defparam edge_count__97__i7.REGSET = "RESET";
    defparam edge_count__97__i7.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(95[27],95[45])" *) FD1P3XZ edge_count__97__i8 (.D(edge_count_9__N_27[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count[8]));
    defparam edge_count__97__i8.REGSET = "RESET";
    defparam edge_count__97__i8.SRMODE = "ASYNC";
    (* syn_use_carry_chain=1, lineinfo="@1(95[27],95[45])" *) FD1P3XZ edge_count__97__i9 (.D(edge_count_9__N_27[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count[9]));
    defparam edge_count__97__i9.REGSET = "RESET";
    defparam edge_count__97__i9.SRMODE = "ASYNC";
    (* lineinfo="@1(103[9],107[12])" *) FD1P3XZ edge_count_display_i0_i1 (.D(edge_count[1]), 
            .SP(n469), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count_display[1]));
    defparam edge_count_display_i0_i1.REGSET = "RESET";
    defparam edge_count_display_i0_i1.SRMODE = "ASYNC";
    (* lineinfo="@1(103[9],107[12])" *) FD1P3XZ edge_count_display_i0_i2 (.D(edge_count[2]), 
            .SP(n469), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count_display[2]));
    defparam edge_count_display_i0_i2.REGSET = "RESET";
    defparam edge_count_display_i0_i2.SRMODE = "ASYNC";
    (* lineinfo="@1(103[9],107[12])" *) FD1P3XZ edge_count_display_i0_i3 (.D(edge_count[3]), 
            .SP(n469), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count_display[3]));
    defparam edge_count_display_i0_i3.REGSET = "RESET";
    defparam edge_count_display_i0_i3.SRMODE = "ASYNC";
    (* lineinfo="@1(103[9],107[12])" *) FD1P3XZ edge_count_display_i0_i4 (.D(edge_count[4]), 
            .SP(n469), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count_display[4]));
    defparam edge_count_display_i0_i4.REGSET = "RESET";
    defparam edge_count_display_i0_i4.SRMODE = "ASYNC";
    (* lineinfo="@1(103[9],107[12])" *) FD1P3XZ edge_count_display_i0_i5 (.D(edge_count[5]), 
            .SP(n469), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count_display[5]));
    defparam edge_count_display_i0_i5.REGSET = "RESET";
    defparam edge_count_display_i0_i5.SRMODE = "ASYNC";
    (* lineinfo="@1(103[9],107[12])" *) FD1P3XZ edge_count_display_i0_i6 (.D(edge_count[6]), 
            .SP(n469), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count_display[6]));
    defparam edge_count_display_i0_i6.REGSET = "RESET";
    defparam edge_count_display_i0_i6.SRMODE = "ASYNC";
    (* lineinfo="@1(103[9],107[12])" *) FD1P3XZ edge_count_display_i0_i7 (.D(edge_count[7]), 
            .SP(n469), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count_display[7]));
    defparam edge_count_display_i0_i7.REGSET = "RESET";
    defparam edge_count_display_i0_i7.SRMODE = "ASYNC";
    (* lineinfo="@1(103[9],107[12])" *) FD1P3XZ edge_count_display_i0_i8 (.D(edge_count[8]), 
            .SP(n469), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count_display[8]));
    defparam edge_count_display_i0_i8.REGSET = "RESET";
    defparam edge_count_display_i0_i8.SRMODE = "ASYNC";
    (* lineinfo="@1(103[9],107[12])" *) FD1P3XZ edge_count_display_i0_i9 (.D(edge_count[9]), 
            .SP(n469), .CK(int_osc), .SR(reset_in_c_N_47), .Q(edge_count_display[9]));
    defparam edge_count_display_i0_i9.REGSET = "RESET";
    defparam edge_count_display_i0_i9.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i20 (.D(n482), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[20]));
    defparam timer__i20.REGSET = "RESET";
    defparam timer__i20.SRMODE = "ASYNC";
    (* lineinfo="@1(39[9],43[12])" *) FD1P3XZ square_prev_c (.D(square_sync), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_in_c_N_47), .Q(square_prev));
    defparam square_prev_c.REGSET = "RESET";
    defparam square_prev_c.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i323_2_lut_3_lut (.A(n137[16]), 
            .B(reset_prev), .C(reset_in_c), .Z(n490));
    defparam i323_2_lut_3_lut.INIT = "0x2a2a";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i324_2_lut_3_lut (.A(n137[15]), 
            .B(reset_prev), .C(reset_in_c), .Z(n492));
    defparam i324_2_lut_3_lut.INIT = "0x2a2a";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i314_2_lut_3_lut (.A(n137[25]), 
            .B(reset_prev), .C(reset_in_c), .Z(n472));
    defparam i314_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i19 (.D(n484), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[19]));
    defparam timer__i19.REGSET = "RESET";
    defparam timer__i19.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i318_2_lut_3_lut (.A(n137[21]), 
            .B(reset_prev), .C(reset_in_c), .Z(n480));
    defparam i318_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(82[22],82[35])" *) FA2 add_19_add_5_1 (.A0(GND_net), .B0(GND_net), 
            .C0(GND_net), .A1(GND_net), .B1(timer[0]), .C1(VCC_net), 
            .D1(n1265), .CI1(n1265), .CO0(n1265), .CO1(n670), .S1(n137[0]));
    defparam add_19_add_5_1.INIT0 = "0xc33c";
    defparam add_19_add_5_1.INIT1 = "0xc33c";
    (* lineinfo="@1(82[22],82[35])" *) FA2 add_19_add_5_11 (.A0(GND_net), 
            .B0(timer[9]), .C0(GND_net), .D0(n678), .CI0(n678), .A1(GND_net), 
            .B1(timer[10]), .C1(GND_net), .D1(n1280), .CI1(n1280), .CO0(n1280), 
            .CO1(n680), .S0(n137[9]), .S1(n137[10]));
    defparam add_19_add_5_11.INIT0 = "0xc33c";
    defparam add_19_add_5_11.INIT1 = "0xc33c";
    (* lut_function="(A (B+(C))+!A (C))", lineinfo="@1(77[9],83[12])" *) LUT4 i209_2_lut_3_lut (.A(reset_prev), 
            .B(reset_in_c), .C(collecting), .Z(n471));
    defparam i209_2_lut_3_lut.INIT = "0xf8f8";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i18 (.D(n486), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[18]));
    defparam timer__i18.REGSET = "RESET";
    defparam timer__i18.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i17 (.D(n488), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[17]));
    defparam timer__i17.REGSET = "RESET";
    defparam timer__i17.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i16 (.D(n490), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[16]));
    defparam timer__i16.REGSET = "RESET";
    defparam timer__i16.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i15 (.D(n492), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[15]));
    defparam timer__i15.REGSET = "RESET";
    defparam timer__i15.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i14 (.D(n494), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[14]));
    defparam timer__i14.REGSET = "RESET";
    defparam timer__i14.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i13 (.D(n496), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[13]));
    defparam timer__i13.REGSET = "RESET";
    defparam timer__i13.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i325_2_lut_3_lut (.A(n137[14]), 
            .B(reset_prev), .C(reset_in_c), .Z(n494));
    defparam i325_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i12 (.D(n498), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[12]));
    defparam timer__i12.REGSET = "RESET";
    defparam timer__i12.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i11 (.D(n500), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[11]));
    defparam timer__i11.REGSET = "RESET";
    defparam timer__i11.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i10 (.D(n502), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[10]));
    defparam timer__i10.REGSET = "RESET";
    defparam timer__i10.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i320_2_lut_3_lut (.A(n137[19]), 
            .B(reset_prev), .C(reset_in_c), .Z(n484));
    defparam i320_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i9 (.D(n504), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[9]));
    defparam timer__i9.REGSET = "RESET";
    defparam timer__i9.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i8 (.D(n506), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[8]));
    defparam timer__i8.REGSET = "RESET";
    defparam timer__i8.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i7 (.D(n508), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[7]));
    defparam timer__i7.REGSET = "RESET";
    defparam timer__i7.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i317_2_lut_3_lut (.A(n137[22]), 
            .B(reset_prev), .C(reset_in_c), .Z(n478));
    defparam i317_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i6 (.D(n510), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[6]));
    defparam timer__i6.REGSET = "RESET";
    defparam timer__i6.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i5 (.D(n512), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[5]));
    defparam timer__i5.REGSET = "RESET";
    defparam timer__i5.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i4 (.D(n514), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[4]));
    defparam timer__i4.REGSET = "RESET";
    defparam timer__i4.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i3 (.D(n516), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[3]));
    defparam timer__i3.REGSET = "RESET";
    defparam timer__i3.SRMODE = "ASYNC";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i2 (.D(n518), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[2]));
    defparam timer__i2.REGSET = "RESET";
    defparam timer__i2.SRMODE = "ASYNC";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i316_2_lut_3_lut (.A(n137[23]), 
            .B(reset_prev), .C(reset_in_c), .Z(n476));
    defparam i316_2_lut_3_lut.INIT = "0x2a2a";
    (* lineinfo="@1(77[9],83[12])" *) FD1P3XZ timer__i1 (.D(n520), .SP(n471), 
            .CK(int_osc), .SR(reset_in_c_N_47), .Q(timer[1]));
    defparam timer__i1.REGSET = "RESET";
    defparam timer__i1.SRMODE = "ASYNC";
    VLO i1 (.Z(GND_net));
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i315_2_lut_3_lut (.A(n137[24]), 
            .B(reset_prev), .C(reset_in_c), .Z(n474));
    defparam i315_2_lut_3_lut.INIT = "0x2a2a";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i338_2_lut_3_lut (.A(n137[9]), 
            .B(reset_prev), .C(reset_in_c), .Z(n504));
    defparam i338_2_lut_3_lut.INIT = "0x2a2a";
    (* lut_function="(!((B (C))+!A))", lineinfo="@1(77[9],83[12])" *) LUT4 i326_2_lut_3_lut (.A(n137[13]), 
            .B(reset_prev), .C(reset_in_c), .Z(n496));
    defparam i326_2_lut_3_lut.INIT = "0x2a2a";
    
endmodule

//
// Verilog Description of module synchronizer
//

module synchronizer (output square_sync, input int_osc, input square_c);
    
    wire sync1;
    (* is_clock=1, lineinfo="@1(7[11],7[18])" *) wire int_osc;
    
    wire VCC_net, GND_net;
    
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=18, LSE_RCOL=6, LSE_LLINE=31, LSE_RLINE=35, lineinfo="@0(9[15],14[8])" *) IOL_B sync1_c (.PADDI(square_c), 
            .DO1(GND_net), .DO0(GND_net), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(int_osc), .OUTCLK(GND_net), .DI0(sync1));
    defparam sync1_c.LATCHIN = "NONE_REG";
    defparam sync1_c.DDROUT = "NO";
    VLO i2 (.Z(GND_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=18, LSE_RCOL=6, LSE_LLINE=31, LSE_RLINE=35, lineinfo="@0(9[15],14[8])" *) FD1P3XZ sync2 (.D(sync1), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(square_sync));
    defparam sync2.REGSET = "RESET";
    defparam sync2.SRMODE = "CE_OVER_LSR";
    VHI i1 (.Z(VCC_net));
    
endmodule
