module test_sum ();
	// inputs
	logic [3:0] i0;
	logic [3:0] i1;
	logic reset;

	//outputs to test
	logic sel;
	logic esel;
	
	logic nsel;
	logic ensel;
	
	logic [6:0] segout;
	logic [6:0] esegout;
	logic [4:0] sumout;
	logic [4:0] esumout;


	
	


endmodule