// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Mon Sep 15 11:05:27 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/sojayaweera/e155/lab3_sj/source/impl_1/count_module.sv"
// file 1 "c:/users/sojayaweera/e155/lab3_sj/source/impl_1/keypad_handler.sv"
// file 2 "c:/users/sojayaweera/e155/lab3_sj/source/impl_1/sevenseglut.sv"
// file 3 "c:/users/sojayaweera/e155/lab3_sj/source/impl_1/synchronizer.sv"
// file 4 "c:/users/sojayaweera/e155/lab3_sj/source/impl_1/top.sv"
// file 5 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 6 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 7 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 22 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 23 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 24 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 25 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 26 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 36 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 37 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 38 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 39 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 40 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 53 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 54 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 55 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 56 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input reset, input [3:0]colunstable, output sel, output [3:0]row, 
            output nsel, output [6:0]segout, output debugger);
    
    wire GND_net;
    wire reset_c;
    wire colunstable_c_3;
    wire colunstable_c_2;
    wire colunstable_c_1;
    wire colunstable_c_0;
    wire row_c_3;
    wire row_c_2;
    wire row_c_1;
    wire row_c_0;
    wire sel_c_18_N_134;
    wire segout_c_6;
    wire segout_c_5;
    wire segout_c_4;
    wire segout_c_3;
    wire segout_c_2;
    wire segout_c_1;
    wire segout_c_0;
    wire debugger_c;
    wire [3:0]col;
    wire [3:0]iActive;
    wire [3:0]itemp;
    wire [3:0]i0;
    wire [3:0]i1;
    (* is_clock=1, lineinfo="@4(25[8],25[15])" *) wire int_osc;
    wire pressed;
    wire [31:0]counter;
    wire sel_c_18;
    wire [31:0]countstart;
    wire [31:0]pressedcountstart;
    wire [1:0]cycleflag;
    
    wire VCC_net, n4091, n2263, n2307, n2287, n4040, n17, n2884, 
        n2676, n2698, n2305;
    wire [3:0]n129;
    
    wire n4007, n149, n4046;
    wire [31:0]n1_adj_238;
    
    wire n4010, n2285, n4037, n2303, n2667, n902, n2679, n2301, 
        n12, n11, n2675, n930, n2299, n2666, n4034, n2681, n927, 
        n4088, n4082, n2261, n535, n537, n4073;
    wire [31:0]n1;
    
    wire n2283, n2668, n2271, n2297;
    wire [32:0]timepassed_N_155;
    
    wire n4001, n905, n17_adj_199, n16_adj_200, n15_adj_201, n2295, 
        n2255, n15_adj_202, n4_adj_203, n4085, n4076, n2259, n2269, 
        n2691, n2279, n4031, n2293, n2277;
    wire [32:0]pressedtimepassed_N_157;
    
    wire n4070, n2291, n4067, n2275, n4028, n2251, n2257, n4064, 
        n16_adj_235, n4016, n2665, n4019, n4013, n4025, n4004, 
        n2273, n4061, n2267, n2253, n4022, n4058, n2265, n2311, 
        n4055, n2289, n4052, n4079, n2309, n4094, n4049, n12_adj_236, 
        n11_adj_237, n4043;
    
    VHI i2 (.Z(VCC_net));
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i29_1_lut (.A(countstart[28]), 
            .Z(n1_adj_238[28]));
    defparam sub_7_inv_0_i29_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i32_1_lut (.A(countstart[31]), 
            .Z(n1_adj_238[31]));
    defparam sub_7_inv_0_i32_1_lut.INIT = "0x5555";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ i0__i0 (.D(itemp[0]), .SP(n537), 
            .CK(int_osc), .SR(reset_c), .Q(i0[0]));
    defparam i0__i0.REGSET = "RESET";
    defparam i0__i0.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i16 (.D(counter[16]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[16]));
    defparam countstart_i0_i16.REGSET = "RESET";
    defparam countstart_i0_i16.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i15 (.D(counter[15]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[15]));
    defparam countstart_i0_i15.REGSET = "RESET";
    defparam countstart_i0_i15.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i14 (.D(counter[14]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[14]));
    defparam countstart_i0_i14.REGSET = "RESET";
    defparam countstart_i0_i14.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(63[11],71[6])" *) FD1P3XZ iActive__i0 (.D(n129[0]), .SP(VCC_net), 
            .CK(int_osc), .SR(reset_c), .Q(iActive[0]));
    defparam iActive__i0.REGSET = "RESET";
    defparam iActive__i0.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i13 (.D(counter[13]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[13]));
    defparam countstart_i0_i13.REGSET = "RESET";
    defparam countstart_i0_i13.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_8 (.A0(GND_net), .B0(counter[6]), 
            .C0(n1_adj_238[6]), .D0(n2255), .CI0(n2255), .A1(GND_net), 
            .B1(counter[7]), .C1(n1_adj_238[7]), .D1(n4058), .CI1(n4058), 
            .CO0(n4058), .CO1(n2257), .S0(timepassed_N_155[7]), .S1(timepassed_N_155[8]));
    defparam add_166_8.INIT0 = "0xc33c";
    defparam add_166_8.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i31_1_lut (.A(countstart[30]), 
            .Z(n1_adj_238[30]));
    defparam sub_7_inv_0_i31_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i16_1_lut (.A(pressedcountstart[15]), 
            .Z(n1[15]));
    defparam sub_9_inv_0_i16_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i15_1_lut (.A(pressedcountstart[14]), 
            .Z(n1[14]));
    defparam sub_9_inv_0_i15_1_lut.INIT = "0x5555";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i18 (.D(sel_c_18), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[18]));
    defparam countstart_i0_i18.REGSET = "RESET";
    defparam countstart_i0_i18.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i2_1_lut (.A(pressedcountstart[1]), 
            .Z(n1[1]));
    defparam sub_9_inv_0_i2_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i1_1_lut (.A(pressedcountstart[0]), 
            .Z(n1[0]));
    defparam sub_9_inv_0_i1_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i20_1_lut (.A(countstart[19]), 
            .Z(n1_adj_238[19]));
    defparam sub_7_inv_0_i20_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i19_1_lut (.A(countstart[18]), 
            .Z(n1_adj_238[18]));
    defparam sub_7_inv_0_i19_1_lut.INIT = "0x5555";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i12 (.D(counter[12]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[12]));
    defparam countstart_i0_i12.REGSET = "RESET";
    defparam countstart_i0_i12.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i18_1_lut (.A(pressedcountstart[17]), 
            .Z(n1[17]));
    defparam sub_9_inv_0_i18_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i17_1_lut (.A(pressedcountstart[16]), 
            .Z(n1[16]));
    defparam sub_9_inv_0_i17_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i22_1_lut (.A(countstart[21]), 
            .Z(n1_adj_238[21]));
    defparam sub_7_inv_0_i22_1_lut.INIT = "0x5555";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i11 (.D(counter[11]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[11]));
    defparam countstart_i0_i11.REGSET = "RESET";
    defparam countstart_i0_i11.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i17 (.D(counter[17]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[17]));
    defparam countstart_i0_i17.REGSET = "RESET";
    defparam countstart_i0_i17.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i21_1_lut (.A(countstart[20]), 
            .Z(n1_adj_238[20]));
    defparam sub_7_inv_0_i21_1_lut.INIT = "0x5555";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i10 (.D(counter[10]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[10]));
    defparam countstart_i0_i10.REGSET = "RESET";
    defparam countstart_i0_i10.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i20_1_lut (.A(pressedcountstart[19]), 
            .Z(n1[19]));
    defparam sub_9_inv_0_i20_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i19_1_lut (.A(pressedcountstart[18]), 
            .Z(n1[18]));
    defparam sub_9_inv_0_i19_1_lut.INIT = "0x5555";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ cycleflag__i0 (.D(n927), .SP(VCC_net), 
            .CK(int_osc), .SR(GND_net), .Q(cycleflag[0]));
    defparam cycleflag__i0.REGSET = "RESET";
    defparam cycleflag__i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i10_1_lut (.A(countstart[9]), 
            .Z(n1_adj_238[9]));
    defparam sub_7_inv_0_i10_1_lut.INIT = "0x5555";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i9 (.D(counter[9]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[9]));
    defparam countstart_i0_i9.REGSET = "RESET";
    defparam countstart_i0_i9.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i9_1_lut (.A(countstart[8]), 
            .Z(n1_adj_238[8]));
    defparam sub_7_inv_0_i9_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i22_1_lut (.A(pressedcountstart[21]), 
            .Z(n1[21]));
    defparam sub_9_inv_0_i22_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i21_1_lut (.A(pressedcountstart[20]), 
            .Z(n1[20]));
    defparam sub_9_inv_0_i21_1_lut.INIT = "0x5555";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i8 (.D(counter[8]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[8]));
    defparam countstart_i0_i8.REGSET = "RESET";
    defparam countstart_i0_i8.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i4_1_lut (.A(countstart[3]), 
            .Z(n1_adj_238[3]));
    defparam sub_7_inv_0_i4_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i3_1_lut (.A(countstart[2]), 
            .Z(n1_adj_238[2]));
    defparam sub_7_inv_0_i3_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i4_1_lut (.A(pressedcountstart[3]), 
            .Z(n1[3]));
    defparam sub_9_inv_0_i4_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=14, LSE_RCOL=43, LSE_LLINE=43, LSE_RLINE=43, lineinfo="@4(43[14],43[43])" *) sevensegLUT lut ({iActive}, 
            segout_c_0, segout_c_6, segout_c_5, segout_c_4, segout_c_3, 
            segout_c_2, segout_c_1);
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i3_1_lut (.A(pressedcountstart[2]), 
            .Z(n1[2]));
    defparam sub_9_inv_0_i3_1_lut.INIT = "0x5555";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i19 (.D(counter[19]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[19]));
    defparam countstart_i0_i19.REGSET = "RESET";
    defparam countstart_i0_i19.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i20 (.D(counter[20]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[20]));
    defparam countstart_i0_i20.REGSET = "RESET";
    defparam countstart_i0_i20.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i6_1_lut (.A(pressedcountstart[5]), 
            .Z(n1[5]));
    defparam sub_9_inv_0_i6_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i5_1_lut (.A(pressedcountstart[4]), 
            .Z(n1[4]));
    defparam sub_9_inv_0_i5_1_lut.INIT = "0x5555";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i0 (.D(counter[0]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[0]));
    defparam pressedcountstart_i0_i0.REGSET = "RESET";
    defparam pressedcountstart_i0_i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i24_1_lut (.A(pressedcountstart[23]), 
            .Z(n1[23]));
    defparam sub_9_inv_0_i24_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i23_1_lut (.A(pressedcountstart[22]), 
            .Z(n1[22]));
    defparam sub_9_inv_0_i23_1_lut.INIT = "0x5555";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i7 (.D(counter[7]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[7]));
    defparam countstart_i0_i7.REGSET = "RESET";
    defparam countstart_i0_i7.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i6 (.D(counter[6]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[6]));
    defparam countstart_i0_i6.REGSET = "RESET";
    defparam countstart_i0_i6.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i5 (.D(counter[5]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[5]));
    defparam countstart_i0_i5.REGSET = "RESET";
    defparam countstart_i0_i5.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i4 (.D(counter[4]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[4]));
    defparam countstart_i0_i4.REGSET = "RESET";
    defparam countstart_i0_i4.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i3 (.D(counter[3]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[3]));
    defparam countstart_i0_i3.REGSET = "RESET";
    defparam countstart_i0_i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i2 (.D(counter[2]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[2]));
    defparam countstart_i0_i2.REGSET = "RESET";
    defparam countstart_i0_i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i21 (.D(counter[21]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[21]));
    defparam countstart_i0_i21.REGSET = "RESET";
    defparam countstart_i0_i21.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i1 (.D(counter[1]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[1]));
    defparam countstart_i0_i1.REGSET = "RESET";
    defparam countstart_i0_i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(63[11],71[6])" *) FD1P3XZ iActive__i3 (.D(n129[3]), .SP(VCC_net), 
            .CK(int_osc), .SR(reset_c), .Q(iActive[3]));
    defparam iActive__i3.REGSET = "RESET";
    defparam iActive__i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i22 (.D(counter[22]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[22]));
    defparam countstart_i0_i22.REGSET = "RESET";
    defparam countstart_i0_i22.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(63[11],71[6])" *) FD1P3XZ iActive__i2 (.D(n129[2]), .SP(VCC_net), 
            .CK(int_osc), .SR(reset_c), .Q(iActive[2]));
    defparam iActive__i2.REGSET = "RESET";
    defparam iActive__i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(63[11],71[6])" *) FD1P3XZ iActive__i1 (.D(n129[1]), .SP(VCC_net), 
            .CK(int_osc), .SR(reset_c), .Q(iActive[1]));
    defparam iActive__i1.REGSET = "RESET";
    defparam iActive__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ cycleflag__i1 (.D(n930), .SP(VCC_net), 
            .CK(int_osc), .SR(GND_net), .Q(cycleflag[1]));
    defparam cycleflag__i1.REGSET = "RESET";
    defparam cycleflag__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i31 (.D(counter[31]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[31]));
    defparam pressedcountstart_i0_i31.REGSET = "RESET";
    defparam pressedcountstart_i0_i31.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i12_1_lut (.A(countstart[11]), 
            .Z(n1_adj_238[11]));
    defparam sub_7_inv_0_i12_1_lut.INIT = "0x5555";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i30 (.D(counter[30]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[30]));
    defparam pressedcountstart_i0_i30.REGSET = "RESET";
    defparam pressedcountstart_i0_i30.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i11_1_lut (.A(countstart[10]), 
            .Z(n1_adj_238[10]));
    defparam sub_7_inv_0_i11_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i26_1_lut (.A(pressedcountstart[25]), 
            .Z(n1[25]));
    defparam sub_9_inv_0_i26_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i25_1_lut (.A(pressedcountstart[24]), 
            .Z(n1[24]));
    defparam sub_9_inv_0_i25_1_lut.INIT = "0x5555";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_16 (.A0(GND_net), .B0(counter[14]), 
            .C0(n1_adj_238[14]), .D0(n2263), .CI0(n2263), .A1(GND_net), 
            .B1(counter[15]), .C1(n1_adj_238[15]), .D1(n4070), .CI1(n4070), 
            .CO0(n4070), .CO1(n2265), .S0(timepassed_N_155[15]), .S1(timepassed_N_155[16]));
    defparam add_166_16.INIT0 = "0xc33c";
    defparam add_166_16.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i28_1_lut (.A(pressedcountstart[27]), 
            .Z(n1[27]));
    defparam sub_9_inv_0_i28_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i27_1_lut (.A(pressedcountstart[26]), 
            .Z(n1[26]));
    defparam sub_9_inv_0_i27_1_lut.INIT = "0x5555";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_14 (.A0(GND_net), .B0(counter[12]), 
            .C0(n1_adj_238[12]), .D0(n2261), .CI0(n2261), .A1(GND_net), 
            .B1(counter[13]), .C1(n1_adj_238[13]), .D1(n4067), .CI1(n4067), 
            .CO0(n4067), .CO1(n2263), .S0(timepassed_N_155[13]), .S1(timepassed_N_155[14]));
    defparam add_166_14.INIT0 = "0xc33c";
    defparam add_166_14.INIT1 = "0xc33c";
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_14 (.A0(GND_net), .B0(counter[12]), 
            .C0(n1[12]), .D0(n2293), .CI0(n2293), .A1(GND_net), .B1(counter[13]), 
            .C1(n1[13]), .D1(n4019), .CI1(n4019), .CO0(n4019), .CO1(n2295), 
            .S0(pressedtimepassed_N_157[13]), .S1(pressedtimepassed_N_157[14]));
    defparam add_165_14.INIT0 = "0xc33c";
    defparam add_165_14.INIT1 = "0xc33c";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i29 (.D(counter[29]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[29]));
    defparam pressedcountstart_i0_i29.REGSET = "RESET";
    defparam pressedcountstart_i0_i29.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i6_1_lut (.A(countstart[5]), 
            .Z(n1_adj_238[5]));
    defparam sub_7_inv_0_i6_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i5_1_lut (.A(countstart[4]), 
            .Z(n1_adj_238[4]));
    defparam sub_7_inv_0_i5_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i24_1_lut (.A(countstart[23]), 
            .Z(n1_adj_238[23]));
    defparam sub_7_inv_0_i24_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i23_1_lut (.A(countstart[22]), 
            .Z(n1_adj_238[22]));
    defparam sub_7_inv_0_i23_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i30_1_lut (.A(pressedcountstart[29]), 
            .Z(n1[29]));
    defparam sub_9_inv_0_i30_1_lut.INIT = "0x5555";
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_12 (.A0(GND_net), .B0(counter[10]), 
            .C0(n1[10]), .D0(n2291), .CI0(n2291), .A1(GND_net), .B1(counter[11]), 
            .C1(n1[11]), .D1(n4016), .CI1(n4016), .CO0(n4016), .CO1(n2293), 
            .S0(pressedtimepassed_N_157[11]), .S1(pressedtimepassed_N_157[12]));
    defparam add_165_12.INIT0 = "0xc33c";
    defparam add_165_12.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i29_1_lut (.A(pressedcountstart[28]), 
            .Z(n1[28]));
    defparam sub_9_inv_0_i29_1_lut.INIT = "0x5555";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_28 (.A0(GND_net), .B0(counter[26]), 
            .C0(n1_adj_238[26]), .D0(n2275), .CI0(n2275), .A1(GND_net), 
            .B1(counter[27]), .C1(n1_adj_238[27]), .D1(n4088), .CI1(n4088), 
            .CO0(n4088), .CO1(n2277), .S0(timepassed_N_155[27]), .S1(timepassed_N_155[28]));
    defparam add_166_28.INIT0 = "0xc33c";
    defparam add_166_28.INIT1 = "0xc33c";
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_10 (.A0(GND_net), .B0(counter[8]), 
            .C0(n1[8]), .D0(n2289), .CI0(n2289), .A1(GND_net), .B1(counter[9]), 
            .C1(n1[9]), .D1(n4013), .CI1(n4013), .CO0(n4013), .CO1(n2291), 
            .S0(pressedtimepassed_N_157[9]), .S1(pressedtimepassed_N_157[10]));
    defparam add_165_10.INIT0 = "0xc33c";
    defparam add_165_10.INIT1 = "0xc33c";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_26 (.A0(GND_net), .B0(counter[24]), 
            .C0(n1_adj_238[24]), .D0(n2273), .CI0(n2273), .A1(GND_net), 
            .B1(counter[25]), .C1(n1_adj_238[25]), .D1(n4085), .CI1(n4085), 
            .CO0(n4085), .CO1(n2275), .S0(timepassed_N_155[25]), .S1(timepassed_N_155[26]));
    defparam add_166_26.INIT0 = "0xc33c";
    defparam add_166_26.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i8_1_lut (.A(pressedcountstart[7]), 
            .Z(n1[7]));
    defparam sub_9_inv_0_i8_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i7_1_lut (.A(pressedcountstart[6]), 
            .Z(n1[6]));
    defparam sub_9_inv_0_i7_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i32_1_lut (.A(pressedcountstart[31]), 
            .Z(n1[31]));
    defparam sub_9_inv_0_i32_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i31_1_lut (.A(pressedcountstart[30]), 
            .Z(n1[30]));
    defparam sub_9_inv_0_i31_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(117[16],117[20])" *) LUT4 sel_c_18_I_0_1_lut (.A(sel_c_18), 
            .Z(sel_c_18_N_134));
    defparam sel_c_18_I_0_1_lut.INIT = "0x5555";
    (* lineinfo="@4(8[21],8[32])" *) IB \colunstable_pad[0]  (.I(colunstable[0]), 
            .O(colunstable_c_0));
    (* lineinfo="@4(8[21],8[32])" *) IB \colunstable_pad[1]  (.I(colunstable[1]), 
            .O(colunstable_c_1));
    (* lineinfo="@4(8[21],8[32])" *) IB \colunstable_pad[2]  (.I(colunstable[2]), 
            .O(colunstable_c_2));
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i26_1_lut (.A(countstart[25]), 
            .Z(n1_adj_238[25]));
    defparam sub_7_inv_0_i26_1_lut.INIT = "0x5555";
    (* lineinfo="@4(8[21],8[32])" *) IB \colunstable_pad[3]  (.I(colunstable[3]), 
            .O(colunstable_c_3));
    (* lineinfo="@4(7[15],7[20])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lineinfo="@4(13[15],13[23])" *) OB debugger_pad (.I(debugger_c), .O(debugger));
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i25_1_lut (.A(countstart[24]), 
            .Z(n1_adj_238[24]));
    defparam sub_7_inv_0_i25_1_lut.INIT = "0x5555";
    (* lineinfo="@4(12[21],12[27])" *) OB \segout_pad[0]  (.I(segout_c_0), 
            .O(segout[0]));
    (* lineinfo="@4(12[21],12[27])" *) OB \segout_pad[1]  (.I(segout_c_1), 
            .O(segout[1]));
    (* lineinfo="@4(12[21],12[27])" *) OB \segout_pad[2]  (.I(segout_c_2), 
            .O(segout[2]));
    (* lineinfo="@4(12[21],12[27])" *) OB \segout_pad[3]  (.I(segout_c_3), 
            .O(segout[3]));
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i10_1_lut (.A(pressedcountstart[9]), 
            .Z(n1[9]));
    defparam sub_9_inv_0_i10_1_lut.INIT = "0x5555";
    (* lineinfo="@4(12[21],12[27])" *) OB \segout_pad[4]  (.I(segout_c_4), 
            .O(segout[4]));
    (* lineinfo="@4(12[21],12[27])" *) OB \segout_pad[5]  (.I(segout_c_5), 
            .O(segout[5]));
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i9_1_lut (.A(pressedcountstart[8]), 
            .Z(n1[8]));
    defparam sub_9_inv_0_i9_1_lut.INIT = "0x5555";
    (* lineinfo="@4(12[21],12[27])" *) OB \segout_pad[6]  (.I(segout_c_6), 
            .O(segout[6]));
    (* lineinfo="@4(11[15],11[19])" *) OB nsel_pad (.I(sel_c_18_N_134), .O(nsel));
    (* lineinfo="@4(10[21],10[24])" *) OB \row_pad[0]  (.I(row_c_0), .O(row[0]));
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_32 (.A0(GND_net), .B0(counter[30]), 
            .C0(n1[30]), .D0(n2311), .CI0(n2311), .A1(GND_net), .B1(counter[31]), 
            .C1(n1[31]), .D1(n4046), .CI1(n4046), .CO0(n4046), .S0(pressedtimepassed_N_157[31]), 
            .S1(pressedtimepassed_N_157[32]));
    defparam add_165_32.INIT0 = "0xc33c";
    defparam add_165_32.INIT1 = "0xc33c";
    (* lineinfo="@4(10[21],10[24])" *) OB \row_pad[1]  (.I(row_c_1), .O(row[1]));
    (* lineinfo="@4(10[21],10[24])" *) OB \row_pad[2]  (.I(row_c_2), .O(row[2]));
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i28_1_lut (.A(countstart[27]), 
            .Z(n1_adj_238[27]));
    defparam sub_7_inv_0_i28_1_lut.INIT = "0x5555";
    (* lineinfo="@4(10[21],10[24])" *) OB \row_pad[3]  (.I(row_c_3), .O(row[3]));
    (* lineinfo="@4(9[15],9[18])" *) OB sel_pad (.I(sel_c_18), .O(sel));
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i27_1_lut (.A(countstart[26]), 
            .Z(n1_adj_238[26]));
    defparam sub_7_inv_0_i27_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i12_1_lut (.A(pressedcountstart[11]), 
            .Z(n1[11]));
    defparam sub_9_inv_0_i12_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i11_1_lut (.A(pressedcountstart[10]), 
            .Z(n1[10]));
    defparam sub_9_inv_0_i11_1_lut.INIT = "0x5555";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i28 (.D(counter[28]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[28]));
    defparam pressedcountstart_i0_i28.REGSET = "RESET";
    defparam pressedcountstart_i0_i28.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i27 (.D(counter[27]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[27]));
    defparam pressedcountstart_i0_i27.REGSET = "RESET";
    defparam pressedcountstart_i0_i27.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i26 (.D(counter[26]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[26]));
    defparam pressedcountstart_i0_i26.REGSET = "RESET";
    defparam pressedcountstart_i0_i26.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i25 (.D(counter[25]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[25]));
    defparam pressedcountstart_i0_i25.REGSET = "RESET";
    defparam pressedcountstart_i0_i25.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i24 (.D(counter[24]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[24]));
    defparam pressedcountstart_i0_i24.REGSET = "RESET";
    defparam pressedcountstart_i0_i24.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i23 (.D(counter[23]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[23]));
    defparam pressedcountstart_i0_i23.REGSET = "RESET";
    defparam pressedcountstart_i0_i23.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i22 (.D(counter[22]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[22]));
    defparam pressedcountstart_i0_i22.REGSET = "RESET";
    defparam pressedcountstart_i0_i22.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i21 (.D(counter[21]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[21]));
    defparam pressedcountstart_i0_i21.REGSET = "RESET";
    defparam pressedcountstart_i0_i21.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i20 (.D(counter[20]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[20]));
    defparam pressedcountstart_i0_i20.REGSET = "RESET";
    defparam pressedcountstart_i0_i20.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i19 (.D(counter[19]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[19]));
    defparam pressedcountstart_i0_i19.REGSET = "RESET";
    defparam pressedcountstart_i0_i19.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i18 (.D(sel_c_18), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[18]));
    defparam pressedcountstart_i0_i18.REGSET = "RESET";
    defparam pressedcountstart_i0_i18.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i17 (.D(counter[17]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[17]));
    defparam pressedcountstart_i0_i17.REGSET = "RESET";
    defparam pressedcountstart_i0_i17.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i16 (.D(counter[16]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[16]));
    defparam pressedcountstart_i0_i16.REGSET = "RESET";
    defparam pressedcountstart_i0_i16.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i15 (.D(counter[15]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[15]));
    defparam pressedcountstart_i0_i15.REGSET = "RESET";
    defparam pressedcountstart_i0_i15.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i14 (.D(counter[14]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[14]));
    defparam pressedcountstart_i0_i14.REGSET = "RESET";
    defparam pressedcountstart_i0_i14.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i13 (.D(counter[13]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[13]));
    defparam pressedcountstart_i0_i13.REGSET = "RESET";
    defparam pressedcountstart_i0_i13.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i12 (.D(counter[12]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[12]));
    defparam pressedcountstart_i0_i12.REGSET = "RESET";
    defparam pressedcountstart_i0_i12.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i11 (.D(counter[11]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[11]));
    defparam pressedcountstart_i0_i11.REGSET = "RESET";
    defparam pressedcountstart_i0_i11.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i10 (.D(counter[10]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[10]));
    defparam pressedcountstart_i0_i10.REGSET = "RESET";
    defparam pressedcountstart_i0_i10.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i9 (.D(counter[9]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[9]));
    defparam pressedcountstart_i0_i9.REGSET = "RESET";
    defparam pressedcountstart_i0_i9.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i8 (.D(counter[8]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[8]));
    defparam pressedcountstart_i0_i8.REGSET = "RESET";
    defparam pressedcountstart_i0_i8.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i7 (.D(counter[7]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[7]));
    defparam pressedcountstart_i0_i7.REGSET = "RESET";
    defparam pressedcountstart_i0_i7.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i6 (.D(counter[6]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[6]));
    defparam pressedcountstart_i0_i6.REGSET = "RESET";
    defparam pressedcountstart_i0_i6.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i5 (.D(counter[5]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[5]));
    defparam pressedcountstart_i0_i5.REGSET = "RESET";
    defparam pressedcountstart_i0_i5.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i4 (.D(counter[4]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[4]));
    defparam pressedcountstart_i0_i4.REGSET = "RESET";
    defparam pressedcountstart_i0_i4.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i3 (.D(counter[3]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[3]));
    defparam pressedcountstart_i0_i3.REGSET = "RESET";
    defparam pressedcountstart_i0_i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i2 (.D(counter[2]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[2]));
    defparam pressedcountstart_i0_i2.REGSET = "RESET";
    defparam pressedcountstart_i0_i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ pressedcountstart_i0_i1 (.D(counter[1]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[1]));
    defparam pressedcountstart_i0_i1.REGSET = "RESET";
    defparam pressedcountstart_i0_i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i0 (.D(counter[0]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[0]));
    defparam countstart_i0_i0.REGSET = "RESET";
    defparam countstart_i0_i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i14_1_lut (.A(pressedcountstart[13]), 
            .Z(n1[13]));
    defparam sub_9_inv_0_i14_1_lut.INIT = "0x5555";
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_8 (.A0(GND_net), .B0(counter[6]), 
            .C0(n1[6]), .D0(n2287), .CI0(n2287), .A1(GND_net), .B1(counter[7]), 
            .C1(n1[7]), .D1(n4010), .CI1(n4010), .CO0(n4010), .CO1(n2289), 
            .S0(pressedtimepassed_N_157[7]), .S1(pressedtimepassed_N_157[8]));
    defparam add_165_8.INIT0 = "0xc33c";
    defparam add_165_8.INIT1 = "0xc33c";
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_30 (.A0(GND_net), .B0(counter[28]), 
            .C0(n1[28]), .D0(n2309), .CI0(n2309), .A1(GND_net), .B1(counter[29]), 
            .C1(n1[29]), .D1(n4043), .CI1(n4043), .CO0(n4043), .CO1(n2311), 
            .S0(pressedtimepassed_N_157[29]), .S1(pressedtimepassed_N_157[30]));
    defparam add_165_30.INIT0 = "0xc33c";
    defparam add_165_30.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@4(60[29],60[58])" *) LUT4 sub_9_inv_0_i13_1_lut (.A(pressedcountstart[12]), 
            .Z(n1[12]));
    defparam sub_9_inv_0_i13_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i14_1_lut (.A(countstart[13]), 
            .Z(n1_adj_238[13]));
    defparam sub_7_inv_0_i14_1_lut.INIT = "0x5555";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_24 (.A0(GND_net), .B0(counter[22]), 
            .C0(n1_adj_238[22]), .D0(n2271), .CI0(n2271), .A1(GND_net), 
            .B1(counter[23]), .C1(n1_adj_238[23]), .D1(n4082), .CI1(n4082), 
            .CO0(n4082), .CO1(n2273), .S0(timepassed_N_155[23]), .S1(timepassed_N_155[24]));
    defparam add_166_24.INIT0 = "0xc33c";
    defparam add_166_24.INIT1 = "0xc33c";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_6 (.A0(GND_net), .B0(counter[4]), 
            .C0(n1_adj_238[4]), .D0(n2253), .CI0(n2253), .A1(GND_net), 
            .B1(counter[5]), .C1(n1_adj_238[5]), .D1(n4055), .CI1(n4055), 
            .CO0(n4055), .CO1(n2255), .S0(timepassed_N_155[5]), .S1(timepassed_N_155[6]));
    defparam add_166_6.INIT0 = "0xc33c";
    defparam add_166_6.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i13_1_lut (.A(countstart[12]), 
            .Z(n1_adj_238[12]));
    defparam sub_7_inv_0_i13_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i16_1_lut (.A(countstart[15]), 
            .Z(n1_adj_238[15]));
    defparam sub_7_inv_0_i16_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i15_1_lut (.A(countstart[14]), 
            .Z(n1_adj_238[14]));
    defparam sub_7_inv_0_i15_1_lut.INIT = "0x5555";
    (* lut_function="(!(A+!(B (C+!(D))+!B (C (D)))))", lineinfo="@4(80[11],112[6])" *) LUT4 i453_4_lut (.A(n537), 
            .B(cycleflag[1]), .C(debugger_c), .D(n2884), .Z(n930));
    defparam i453_4_lut.INIT = "0x5044";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(69[16],69[29])" *) LUT4 mux_13_i2_3_lut (.A(i1[1]), 
            .B(i0[1]), .C(sel_c_18), .Z(n129[1]));
    defparam mux_13_i2_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(69[16],69[29])" *) LUT4 mux_13_i3_3_lut (.A(i1[2]), 
            .B(i0[2]), .C(sel_c_18), .Z(n129[2]));
    defparam mux_13_i3_3_lut.INIT = "0xcaca";
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_28 (.A0(GND_net), .B0(counter[26]), 
            .C0(n1[26]), .D0(n2307), .CI0(n2307), .A1(GND_net), .B1(counter[27]), 
            .C1(n1[27]), .D1(n4040), .CI1(n4040), .CO0(n4040), .CO1(n2309), 
            .S0(pressedtimepassed_N_157[27]), .S1(pressedtimepassed_N_157[28]));
    defparam add_165_28.INIT0 = "0xc33c";
    defparam add_165_28.INIT1 = "0xc33c";
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_26 (.A0(GND_net), .B0(counter[24]), 
            .C0(n1[24]), .D0(n2305), .CI0(n2305), .A1(GND_net), .B1(counter[25]), 
            .C1(n1[25]), .D1(n4037), .CI1(n4037), .CO0(n4037), .CO1(n2307), 
            .S0(pressedtimepassed_N_157[25]), .S1(pressedtimepassed_N_157[26]));
    defparam add_165_26.INIT0 = "0xc33c";
    defparam add_165_26.INIT1 = "0xc33c";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(69[16],69[29])" *) LUT4 mux_13_i4_3_lut (.A(i1[3]), 
            .B(i0[3]), .C(sel_c_18), .Z(n129[3]));
    defparam mux_13_i4_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B))", lineinfo="@4(81[3],108[7])" *) LUT4 i68_3_lut (.A(debugger_c), 
            .B(reset_c), .C(n149), .Z(n535));
    defparam i68_3_lut.INIT = "0xcece";
    (* lut_function="(!(((C)+!B)+!A))" *) LUT4 i2_3_lut (.A(cycleflag[0]), 
            .B(n905), .C(pressed), .Z(debugger_c));
    defparam i2_3_lut.INIT = "0x0808";
    (* lut_function="(!((B)+!A))" *) LUT4 i1_2_lut (.A(n902), .B(pressed), 
            .Z(n4_adj_203));
    defparam i1_2_lut.INIT = "0x2222";
    (* lut_function="(A+(B+(C (D))))" *) LUT4 i1_4_lut (.A(n537), .B(debugger_c), 
            .C(cycleflag[1]), .D(n4_adj_203), .Z(n2884));
    defparam i1_4_lut.INIT = "0xfeee";
    (* lut_function="(!(A+!(B (C+!(D))+!B (C (D)))))", lineinfo="@4(80[11],112[6])" *) LUT4 i450_4_lut (.A(reset_c), 
            .B(cycleflag[0]), .C(n149), .D(n2884), .Z(n927));
    defparam i450_4_lut.INIT = "0x5044";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_12 (.A0(GND_net), .B0(counter[10]), 
            .C0(n1_adj_238[10]), .D0(n2259), .CI0(n2259), .A1(GND_net), 
            .B1(counter[11]), .C1(n1_adj_238[11]), .D1(n4064), .CI1(n4064), 
            .CO0(n4064), .CO1(n2261), .S0(timepassed_N_155[11]), .S1(timepassed_N_155[12]));
    defparam add_166_12.INIT0 = "0xc33c";
    defparam add_166_12.INIT1 = "0xc33c";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ i0__i3 (.D(itemp[3]), .SP(n537), 
            .CK(int_osc), .SR(reset_c), .Q(i0[3]));
    defparam i0__i3.REGSET = "RESET";
    defparam i0__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=73, LSE_LLINE=49, LSE_RLINE=49, lineinfo="@4(49[15],49[73])" *) count_module clocker (int_osc, 
            counter[31], reset_c, counter[30], counter[29], counter[28], 
            counter[27], counter[26], counter[25], counter[24], counter[23], 
            counter[22], counter[21], counter[20], counter[19], sel_c_18, 
            counter[17], counter[16], counter[15], counter[14], counter[13], 
            counter[12], counter[11], counter[10], counter[9], counter[8], 
            counter[7], counter[6], counter[5], counter[4], counter[3], 
            counter[2], counter[1], counter[0]);
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ i0__i2 (.D(itemp[2]), .SP(n537), 
            .CK(int_osc), .SR(reset_c), .Q(i0[2]));
    defparam i0__i2.REGSET = "RESET";
    defparam i0__i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ i0__i1 (.D(itemp[1]), .SP(n537), 
            .CK(int_osc), .SR(reset_c), .Q(i0[1]));
    defparam i0__i1.REGSET = "RESET";
    defparam i0__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ i1__i3 (.D(i0[3]), .SP(n537), 
            .CK(int_osc), .SR(reset_c), .Q(i1[3]));
    defparam i1__i3.REGSET = "RESET";
    defparam i1__i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ i1__i2 (.D(i0[2]), .SP(n537), 
            .CK(int_osc), .SR(reset_c), .Q(i1[2]));
    defparam i1__i2.REGSET = "RESET";
    defparam i1__i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ i1__i1 (.D(i0[1]), .SP(n537), 
            .CK(int_osc), .SR(reset_c), .Q(i1[1]));
    defparam i1__i1.REGSET = "RESET";
    defparam i1__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i31 (.D(counter[31]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[31]));
    defparam countstart_i0_i31.REGSET = "RESET";
    defparam countstart_i0_i31.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i30 (.D(counter[30]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[30]));
    defparam countstart_i0_i30.REGSET = "RESET";
    defparam countstart_i0_i30.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i29 (.D(counter[29]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[29]));
    defparam countstart_i0_i29.REGSET = "RESET";
    defparam countstart_i0_i29.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i28 (.D(counter[28]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[28]));
    defparam countstart_i0_i28.REGSET = "RESET";
    defparam countstart_i0_i28.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i27 (.D(counter[27]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[27]));
    defparam countstart_i0_i27.REGSET = "RESET";
    defparam countstart_i0_i27.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i26 (.D(counter[26]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[26]));
    defparam countstart_i0_i26.REGSET = "RESET";
    defparam countstart_i0_i26.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i25 (.D(counter[25]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[25]));
    defparam countstart_i0_i25.REGSET = "RESET";
    defparam countstart_i0_i25.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i24 (.D(counter[24]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[24]));
    defparam countstart_i0_i24.REGSET = "RESET";
    defparam countstart_i0_i24.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ countstart_i0_i23 (.D(counter[23]), 
            .SP(n537), .CK(int_osc), .SR(GND_net), .Q(countstart[23]));
    defparam countstart_i0_i23.REGSET = "RESET";
    defparam countstart_i0_i23.SRMODE = "CE_OVER_LSR";
    VLO i1_2 (.Z(GND_net));
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_24 (.A0(GND_net), .B0(counter[22]), 
            .C0(n1[22]), .D0(n2303), .CI0(n2303), .A1(GND_net), .B1(counter[23]), 
            .C1(n1[23]), .D1(n4034), .CI1(n4034), .CO0(n4034), .CO1(n2305), 
            .S0(pressedtimepassed_N_157[23]), .S1(pressedtimepassed_N_157[24]));
    defparam add_165_24.INIT0 = "0xc33c";
    defparam add_165_24.INIT1 = "0xc33c";
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_6 (.A0(GND_net), .B0(counter[4]), 
            .C0(n1[4]), .D0(n2285), .CI0(n2285), .A1(GND_net), .B1(counter[5]), 
            .C1(n1[5]), .D1(n4007), .CI1(n4007), .CO0(n4007), .CO1(n2287), 
            .S0(pressedtimepassed_N_157[5]), .S1(pressedtimepassed_N_157[6]));
    defparam add_165_6.INIT0 = "0xc33c";
    defparam add_165_6.INIT1 = "0xc33c";
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_4 (.A0(GND_net), .B0(counter[2]), 
            .C0(n1[2]), .D0(n2283), .CI0(n2283), .A1(GND_net), .B1(counter[3]), 
            .C1(n1[3]), .D1(n4004), .CI1(n4004), .CO0(n4004), .CO1(n2285), 
            .S0(pressedtimepassed_N_157[3]), .S1(pressedtimepassed_N_157[4]));
    defparam add_165_4.INIT0 = "0xc33c";
    defparam add_165_4.INIT1 = "0xc33c";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_4 (.A0(GND_net), .B0(counter[2]), 
            .C0(n1_adj_238[2]), .D0(n2251), .CI0(n2251), .A1(GND_net), 
            .B1(counter[3]), .C1(n1_adj_238[3]), .D1(n4052), .CI1(n4052), 
            .CO0(n4052), .CO1(n2253), .S0(timepassed_N_155[3]), .S1(timepassed_N_155[4]));
    defparam add_166_4.INIT0 = "0xc33c";
    defparam add_166_4.INIT1 = "0xc33c";
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_22 (.A0(GND_net), .B0(counter[20]), 
            .C0(n1[20]), .D0(n2301), .CI0(n2301), .A1(GND_net), .B1(counter[21]), 
            .C1(n1[21]), .D1(n4031), .CI1(n4031), .CO0(n4031), .CO1(n2303), 
            .S0(pressedtimepassed_N_157[21]), .S1(pressedtimepassed_N_157[22]));
    defparam add_165_22.INIT0 = "0xc33c";
    defparam add_165_22.INIT1 = "0xc33c";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_10 (.A0(GND_net), .B0(counter[8]), 
            .C0(n1_adj_238[8]), .D0(n2257), .CI0(n2257), .A1(GND_net), 
            .B1(counter[9]), .C1(n1_adj_238[9]), .D1(n4061), .CI1(n4061), 
            .CO0(n4061), .CO1(n2259), .S0(timepassed_N_155[9]), .S1(timepassed_N_155[10]));
    defparam add_166_10.INIT0 = "0xc33c";
    defparam add_166_10.INIT1 = "0xc33c";
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_20 (.A0(GND_net), .B0(sel_c_18), 
            .C0(n1[18]), .D0(n2299), .CI0(n2299), .A1(GND_net), .B1(counter[19]), 
            .C1(n1[19]), .D1(n4028), .CI1(n4028), .CO0(n4028), .CO1(n2301), 
            .S0(pressedtimepassed_N_157[19]), .S1(pressedtimepassed_N_157[20]));
    defparam add_165_20.INIT0 = "0xc33c";
    defparam add_165_20.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i8_1_lut (.A(countstart[7]), 
            .Z(n1_adj_238[7]));
    defparam sub_7_inv_0_i8_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i7_1_lut (.A(countstart[6]), 
            .Z(n1_adj_238[6]));
    defparam sub_7_inv_0_i7_1_lut.INIT = "0x5555";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(69[16],69[29])" *) LUT4 mux_13_i1_3_lut (.A(i1[0]), 
            .B(i0[0]), .C(sel_c_18), .Z(n129[0]));
    defparam mux_13_i1_3_lut.INIT = "0xcaca";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_22 (.A0(GND_net), .B0(counter[20]), 
            .C0(n1_adj_238[20]), .D0(n2269), .CI0(n2269), .A1(GND_net), 
            .B1(counter[21]), .C1(n1_adj_238[21]), .D1(n4079), .CI1(n4079), 
            .CO0(n4079), .CO1(n2271), .S0(timepassed_N_155[21]), .S1(timepassed_N_155[22]));
    defparam add_166_22.INIT0 = "0xc33c";
    defparam add_166_22.INIT1 = "0xc33c";
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_18 (.A0(GND_net), .B0(counter[16]), 
            .C0(n1[16]), .D0(n2297), .CI0(n2297), .A1(GND_net), .B1(counter[17]), 
            .C1(n1[17]), .D1(n4025), .CI1(n4025), .CO0(n4025), .CO1(n2299), 
            .S0(pressedtimepassed_N_157[17]), .S1(pressedtimepassed_N_157[18]));
    defparam add_165_18.INIT0 = "0xc33c";
    defparam add_165_18.INIT1 = "0xc33c";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_20 (.A0(GND_net), .B0(sel_c_18), 
            .C0(n1_adj_238[18]), .D0(n2267), .CI0(n2267), .A1(GND_net), 
            .B1(counter[19]), .C1(n1_adj_238[19]), .D1(n4076), .CI1(n4076), 
            .CO0(n4076), .CO1(n2269), .S0(timepassed_N_155[19]), .S1(timepassed_N_155[20]));
    defparam add_166_20.INIT0 = "0xc33c";
    defparam add_166_20.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i5_4_lut (.A(timepassed_N_155[1]), 
            .B(timepassed_N_155[5]), .C(timepassed_N_155[4]), .D(timepassed_N_155[7]), 
            .Z(n12_adj_236));
    defparam i5_4_lut.INIT = "0xfffe";
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_2 (.A0(GND_net), .B0(counter[0]), 
            .C0(n1[0]), .D0(VCC_net), .A1(GND_net), .B1(counter[1]), 
            .C1(n1[1]), .D1(n4001), .CI1(n4001), .CO0(n4001), .CO1(n2283), 
            .S0(pressedtimepassed_N_157[1]), .S1(pressedtimepassed_N_157[2]));
    defparam add_165_2.INIT0 = "0xc33c";
    defparam add_165_2.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C)))" *) LUT4 i4_3_lut (.A(timepassed_N_155[3]), 
            .B(timepassed_N_155[2]), .C(timepassed_N_155[6]), .Z(n11_adj_237));
    defparam i4_3_lut.INIT = "0xfefe";
    (* lut_function="(A (B (C+(D))))" *) LUT4 i2_4_lut (.A(timepassed_N_155[9]), 
            .B(timepassed_N_155[8]), .C(n11_adj_237), .D(n12_adj_236), 
            .Z(n2681));
    defparam i2_4_lut.INIT = "0x8880";
    (* lut_function="(A (B (C+(D))))" *) LUT4 i2_4_lut_adj_8 (.A(timepassed_N_155[12]), 
            .B(timepassed_N_155[11]), .C(n2681), .D(timepassed_N_155[10]), 
            .Z(n2665));
    defparam i2_4_lut_adj_8.INIT = "0x8880";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut (.A(n2665), .B(timepassed_N_155[15]), 
            .C(timepassed_N_155[14]), .D(timepassed_N_155[13]), .Z(n2691));
    defparam i3_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B (C (D))))" *) LUT4 i3_4_lut_adj_9 (.A(n2691), .B(timepassed_N_155[18]), 
            .C(timepassed_N_155[17]), .D(timepassed_N_155[16]), .Z(n2666));
    defparam i3_4_lut_adj_9.INIT = "0x8000";
    (* lineinfo="@4(60[29],60[58])" *) FA2 add_165_16 (.A0(GND_net), .B0(counter[14]), 
            .C0(n1[14]), .D0(n2295), .CI0(n2295), .A1(GND_net), .B1(counter[15]), 
            .C1(n1[15]), .D1(n4022), .CI1(n4022), .CO0(n4022), .CO1(n2297), 
            .S0(pressedtimepassed_N_157[15]), .S1(pressedtimepassed_N_157[16]));
    defparam add_165_16.INIT0 = "0xc33c";
    defparam add_165_16.INIT1 = "0xc33c";
    (* lut_function="(A (B (C+(D))))" *) LUT4 i2_4_lut_adj_10 (.A(timepassed_N_155[21]), 
            .B(timepassed_N_155[20]), .C(n2666), .D(timepassed_N_155[19]), 
            .Z(n2668));
    defparam i2_4_lut_adj_10.INIT = "0x8880";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_32 (.A0(GND_net), .B0(counter[30]), 
            .C0(n1_adj_238[30]), .D0(n2279), .CI0(n2279), .A1(GND_net), 
            .B1(counter[31]), .C1(n1_adj_238[31]), .D1(n4094), .CI1(n4094), 
            .CO0(n4094), .S0(timepassed_N_155[31]), .S1(timepassed_N_155[32]));
    defparam add_166_32.INIT0 = "0xc33c";
    defparam add_166_32.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(59[22],59[55])" *) LUT4 i6_4_lut (.A(timepassed_N_155[30]), 
            .B(timepassed_N_155[26]), .C(timepassed_N_155[32]), .D(timepassed_N_155[28]), 
            .Z(n16_adj_235));
    defparam i6_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))", lineinfo="@4(59[22],59[55])" *) LUT4 i5_4_lut_adj_11 (.A(n2668), 
            .B(timepassed_N_155[31]), .C(timepassed_N_155[23]), .D(timepassed_N_155[22]), 
            .Z(n15_adj_201));
    defparam i5_4_lut_adj_11.INIT = "0xfcec";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_30 (.A0(GND_net), .B0(counter[28]), 
            .C0(n1_adj_238[28]), .D0(n2277), .CI0(n2277), .A1(GND_net), 
            .B1(counter[29]), .C1(n1_adj_238[29]), .D1(n4091), .CI1(n4091), 
            .CO0(n4091), .CO1(n2279), .S0(timepassed_N_155[29]), .S1(timepassed_N_155[30]));
    defparam add_166_30.INIT0 = "0xc33c";
    defparam add_166_30.INIT1 = "0xc33c";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_18 (.A0(GND_net), .B0(counter[16]), 
            .C0(n1_adj_238[16]), .D0(n2265), .CI0(n2265), .A1(GND_net), 
            .B1(counter[17]), .C1(n1_adj_238[17]), .D1(n4073), .CI1(n4073), 
            .CO0(n4073), .CO1(n2267), .S0(timepassed_N_155[17]), .S1(timepassed_N_155[18]));
    defparam add_166_18.INIT0 = "0xc33c";
    defparam add_166_18.INIT1 = "0xc33c";
    (* lineinfo="@4(59[22],59[45])" *) FA2 add_166_2 (.A0(GND_net), .B0(counter[0]), 
            .C0(n1_adj_238[0]), .D0(VCC_net), .A1(GND_net), .B1(counter[1]), 
            .C1(n1_adj_238[1]), .D1(n4049), .CI1(n4049), .CO0(n4049), 
            .CO1(n2251), .S0(timepassed_N_155[1]), .S1(timepassed_N_155[2]));
    defparam add_166_2.INIT0 = "0xc33c";
    defparam add_166_2.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(59[22],59[55])" *) LUT4 i7_4_lut (.A(timepassed_N_155[29]), 
            .B(timepassed_N_155[25]), .C(timepassed_N_155[24]), .D(timepassed_N_155[27]), 
            .Z(n17));
    defparam i7_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A (B)+!A (B+!(C+(D)))))" *) LUT4 i1_4_lut_adj_12 (.A(n17), 
            .B(cycleflag[1]), .C(n15_adj_201), .D(n16_adj_235), .Z(n905));
    defparam i1_4_lut_adj_12.INIT = "0x3332";
    (* lineinfo="@4(80[11],112[6])" *) FD1P3XZ i1__i0 (.D(i0[0]), .SP(n537), 
            .CK(int_osc), .SR(reset_c), .Q(i1[0]));
    defparam i1__i0.REGSET = "RESET";
    defparam i1__i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i5_4_lut_adj_13 (.A(pressedtimepassed_N_157[1]), 
            .B(pressedtimepassed_N_157[5]), .C(pressedtimepassed_N_157[4]), 
            .D(pressedtimepassed_N_157[7]), .Z(n12));
    defparam i5_4_lut_adj_13.INIT = "0xfffe";
    (* lut_function="(A+(B+(C)))" *) LUT4 i4_3_lut_adj_14 (.A(pressedtimepassed_N_157[3]), 
            .B(pressedtimepassed_N_157[2]), .C(pressedtimepassed_N_157[6]), 
            .Z(n11));
    defparam i4_3_lut_adj_14.INIT = "0xfefe";
    (* lut_function="(A (B (C+(D))))" *) LUT4 i2_4_lut_adj_15 (.A(pressedtimepassed_N_157[9]), 
            .B(pressedtimepassed_N_157[8]), .C(n11), .D(n12), .Z(n2667));
    defparam i2_4_lut_adj_15.INIT = "0x8880";
    (* lut_function="(A (B (C+(D))))" *) LUT4 i2_4_lut_adj_16 (.A(pressedtimepassed_N_157[12]), 
            .B(pressedtimepassed_N_157[11]), .C(n2667), .D(pressedtimepassed_N_157[10]), 
            .Z(n2679));
    defparam i2_4_lut_adj_16.INIT = "0x8880";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i3_4_lut_adj_17 (.A(n2679), 
            .B(pressedtimepassed_N_157[15]), .C(pressedtimepassed_N_157[14]), 
            .D(pressedtimepassed_N_157[13]), .Z(n2698));
    defparam i3_4_lut_adj_17.INIT = "0xfffe";
    (* lut_function="(A (B (C (D))))" *) LUT4 i3_4_lut_adj_18 (.A(n2698), 
            .B(pressedtimepassed_N_157[18]), .C(pressedtimepassed_N_157[17]), 
            .D(pressedtimepassed_N_157[16]), .Z(n2676));
    defparam i3_4_lut_adj_18.INIT = "0x8000";
    (* lut_function="(A (B (C+(D))))" *) LUT4 i2_4_lut_adj_19 (.A(pressedtimepassed_N_157[21]), 
            .B(pressedtimepassed_N_157[20]), .C(n2676), .D(pressedtimepassed_N_157[19]), 
            .Z(n2675));
    defparam i2_4_lut_adj_19.INIT = "0x8880";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(60[29],60[68])" *) LUT4 i6_4_lut_adj_20 (.A(pressedtimepassed_N_157[30]), 
            .B(pressedtimepassed_N_157[26]), .C(pressedtimepassed_N_157[32]), 
            .D(pressedtimepassed_N_157[28]), .Z(n16_adj_200));
    defparam i6_4_lut_adj_20.INIT = "0xfffe";
    (* lut_function="(A (B+(C))+!A (B+(C (D))))", lineinfo="@4(60[29],60[68])" *) LUT4 i5_4_lut_adj_21 (.A(n2675), 
            .B(pressedtimepassed_N_157[31]), .C(pressedtimepassed_N_157[23]), 
            .D(pressedtimepassed_N_157[22]), .Z(n15_adj_202));
    defparam i5_4_lut_adj_21.INIT = "0xfcec";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(60[29],60[68])" *) LUT4 i7_4_lut_adj_22 (.A(pressedtimepassed_N_157[29]), 
            .B(pressedtimepassed_N_157[25]), .C(pressedtimepassed_N_157[24]), 
            .D(pressedtimepassed_N_157[27]), .Z(n17_adj_199));
    defparam i7_4_lut_adj_22.INIT = "0xfffe";
    (* lut_function="(!(A+!(B+(C+(D)))))" *) LUT4 i1_4_lut_adj_23 (.A(cycleflag[0]), 
            .B(n17_adj_199), .C(n15_adj_202), .D(n16_adj_200), .Z(n902));
    defparam i1_4_lut_adj_23.INIT = "0x5554";
    (* lut_function="(A (B (C)))" *) LUT4 i2_3_lut_adj_24 (.A(n902), .B(n905), 
            .C(pressed), .Z(n149));
    defparam i2_3_lut_adj_24.INIT = "0x8080";
    (* lut_function="(A+(B))", lineinfo="@4(80[11],112[6])" *) LUT4 i415_2_lut (.A(reset_c), 
            .B(n149), .Z(n537));
    defparam i415_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i2_1_lut (.A(countstart[1]), 
            .Z(n1_adj_238[1]));
    defparam sub_7_inv_0_i2_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i1_1_lut (.A(countstart[0]), 
            .Z(n1_adj_238[0]));
    defparam sub_7_inv_0_i1_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i18_1_lut (.A(countstart[17]), 
            .Z(n1_adj_238[17]));
    defparam sub_7_inv_0_i18_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i17_1_lut (.A(countstart[16]), 
            .Z(n1_adj_238[16]));
    defparam sub_7_inv_0_i17_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(59[22],59[45])" *) LUT4 sub_7_inv_0_i30_1_lut (.A(countstart[29]), 
            .Z(n1_adj_238[29]));
    defparam sub_7_inv_0_i30_1_lut.INIT = "0x5555";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=17, LSE_RCOL=92, LSE_LLINE=46, LSE_RLINE=46, lineinfo="@4(46[17],46[92])" *) keypad_handler keypad ({col}, 
            counter[15], counter[16], {itemp}, row_c_2, row_c_3, row_c_1, 
            row_c_0, pressed);
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=81, LSE_LLINE=52, LSE_RLINE=52, lineinfo="@4(52[15],52[81])" *) synchronizer colsyncer (colunstable_c_3, 
            {col}, int_osc, colunstable_c_2, colunstable_c_1, colunstable_c_0);
    
endmodule

//
// Verilog Description of module sevensegLUT
//

module sevensegLUT (input [3:0]iActive, output segout_c_0, output segout_c_6, 
            output segout_c_5, output segout_c_4, output segout_c_3, output segout_c_2, 
            output segout_c_1);
    
    
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))", lineinfo="@2(9[3],29[10])" *) LUT4 iActive_3__I_0_4_lut (.A(iActive[1]), 
            .B(iActive[0]), .C(iActive[3]), .D(iActive[2]), .Z(segout_c_0));
    defparam iActive_3__I_0_4_lut.INIT = "0x1805";
    (* lut_function="(!(A (B ((D)+!C)+!B !(C (D)+!C !(D)))+!A (B+(C+!(D)))))", lineinfo="@2(9[3],29[10])" *) LUT4 segout_c_6_I_0_4_lut (.A(iActive[0]), 
            .B(iActive[1]), .C(iActive[3]), .D(iActive[2]), .Z(segout_c_6));
    defparam segout_c_6_I_0_4_lut.INIT = "0x2182";
    (* lut_function="(A (B (D)+!B !((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@2(9[3],29[10])" *) LUT4 segout_c_5_I_0_4_lut (.A(iActive[0]), 
            .B(iActive[3]), .C(iActive[2]), .D(iActive[1]), .Z(segout_c_5));
    defparam segout_c_5_I_0_4_lut.INIT = "0xd860";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))", lineinfo="@2(9[3],29[10])" *) LUT4 segout_c_4_I_0_4_lut (.A(iActive[0]), 
            .B(iActive[3]), .C(iActive[1]), .D(iActive[2]), .Z(segout_c_4));
    defparam segout_c_4_I_0_4_lut.INIT = "0xc410";
    (* lut_function="(A (C (D)+!C !(D))+!A !(B (C+!(D))+!B ((D)+!C)))", lineinfo="@2(9[3],29[10])" *) LUT4 segout_c_3_I_0_4_lut (.A(iActive[0]), 
            .B(iActive[3]), .C(iActive[2]), .D(iActive[1]), .Z(segout_c_3));
    defparam segout_c_3_I_0_4_lut.INIT = "0xa41a";
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))", lineinfo="@2(9[3],29[10])" *) LUT4 segout_c_2_I_0_4_lut (.A(iActive[1]), 
            .B(iActive[3]), .C(iActive[0]), .D(iActive[2]), .Z(segout_c_2));
    defparam segout_c_2_I_0_4_lut.INIT = "0x3170";
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@2(9[3],29[10])" *) LUT4 segout_c_1_I_0_4_lut (.A(iActive[1]), 
            .B(iActive[3]), .C(iActive[2]), .D(iActive[0]), .Z(segout_c_1));
    defparam segout_c_1_I_0_4_lut.INIT = "0x6302";
    
endmodule

//
// Verilog Description of module count_module
//

module count_module (output int_osc, output \counter[31] , input reset_c, 
            output \counter[30] , output \counter[29] , output \counter[28] , 
            output \counter[27] , output \counter[26] , output \counter[25] , 
            output \counter[24] , output \counter[23] , output \counter[22] , 
            output \counter[21] , output \counter[20] , output \counter[19] , 
            output sel_c_18, output \counter[17] , output \counter[16] , 
            output \counter[15] , output \counter[14] , output \counter[13] , 
            output \counter[12] , output \counter[11] , output \counter[10] , 
            output \counter[9] , output \counter[8] , output \counter[7] , 
            output \counter[6] , output \counter[5] , output \counter[4] , 
            output \counter[3] , output \counter[2] , output \counter[1] , 
            output \counter[0] );
    
    (* is_clock=1, lineinfo="@4(25[8],25[15])" *) wire int_osc;
    
    wire VCC_net;
    wire [31:0]n133;
    
    wire n2325, n4127, GND_net, n2327, n2323, n4124, n2321, n4121, 
        n2319, n4118, n2317, n4115, n2315, n4112, n4109, n2345, 
        n4157, n2343, n4154, n2341, n4151, n2339, n4148, n2337, 
        n4145, n2335, n4142, n2333, n4139, n2331, n4136, n2329, 
        n4133, n4130;
    
    (* syn_instantiated=1, LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=73, LSE_LLINE=49, LSE_RLINE=49, lineinfo="@4(49[15],49[73])" *) HSOSC hf_osc (.CLKHFPU(VCC_net), 
            .CLKHFEN(VCC_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b01";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i30 (.D(n133[30]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[30] ));
    defparam counter_97__i30.REGSET = "RESET";
    defparam counter_97__i30.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i29 (.D(n133[29]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[29] ));
    defparam counter_97__i29.REGSET = "RESET";
    defparam counter_97__i29.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i28 (.D(n133[28]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[28] ));
    defparam counter_97__i28.REGSET = "RESET";
    defparam counter_97__i28.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i27 (.D(n133[27]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[27] ));
    defparam counter_97__i27.REGSET = "RESET";
    defparam counter_97__i27.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i26 (.D(n133[26]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[26] ));
    defparam counter_97__i26.REGSET = "RESET";
    defparam counter_97__i26.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i25 (.D(n133[25]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[25] ));
    defparam counter_97__i25.REGSET = "RESET";
    defparam counter_97__i25.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i24 (.D(n133[24]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[24] ));
    defparam counter_97__i24.REGSET = "RESET";
    defparam counter_97__i24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i23 (.D(n133[23]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[23] ));
    defparam counter_97__i23.REGSET = "RESET";
    defparam counter_97__i23.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i22 (.D(n133[22]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[22] ));
    defparam counter_97__i22.REGSET = "RESET";
    defparam counter_97__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i21 (.D(n133[21]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[21] ));
    defparam counter_97__i21.REGSET = "RESET";
    defparam counter_97__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i20 (.D(n133[20]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[20] ));
    defparam counter_97__i20.REGSET = "RESET";
    defparam counter_97__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i19 (.D(n133[19]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[19] ));
    defparam counter_97__i19.REGSET = "RESET";
    defparam counter_97__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i18 (.D(n133[18]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(sel_c_18));
    defparam counter_97__i18.REGSET = "RESET";
    defparam counter_97__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i17 (.D(n133[17]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[17] ));
    defparam counter_97__i17.REGSET = "RESET";
    defparam counter_97__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i16 (.D(n133[16]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[16] ));
    defparam counter_97__i16.REGSET = "RESET";
    defparam counter_97__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i15 (.D(n133[15]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[15] ));
    defparam counter_97__i15.REGSET = "RESET";
    defparam counter_97__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i14 (.D(n133[14]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[14] ));
    defparam counter_97__i14.REGSET = "RESET";
    defparam counter_97__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i13 (.D(n133[13]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[13] ));
    defparam counter_97__i13.REGSET = "RESET";
    defparam counter_97__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i12 (.D(n133[12]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[12] ));
    defparam counter_97__i12.REGSET = "RESET";
    defparam counter_97__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i11 (.D(n133[11]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[11] ));
    defparam counter_97__i11.REGSET = "RESET";
    defparam counter_97__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i10 (.D(n133[10]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[10] ));
    defparam counter_97__i10.REGSET = "RESET";
    defparam counter_97__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i9 (.D(n133[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[9] ));
    defparam counter_97__i9.REGSET = "RESET";
    defparam counter_97__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i8 (.D(n133[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[8] ));
    defparam counter_97__i8.REGSET = "RESET";
    defparam counter_97__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i7 (.D(n133[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[7] ));
    defparam counter_97__i7.REGSET = "RESET";
    defparam counter_97__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i6 (.D(n133[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[6] ));
    defparam counter_97__i6.REGSET = "RESET";
    defparam counter_97__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i5 (.D(n133[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[5] ));
    defparam counter_97__i5.REGSET = "RESET";
    defparam counter_97__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i4 (.D(n133[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[4] ));
    defparam counter_97__i4.REGSET = "RESET";
    defparam counter_97__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i3 (.D(n133[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[3] ));
    defparam counter_97__i3.REGSET = "RESET";
    defparam counter_97__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i2 (.D(n133[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[2] ));
    defparam counter_97__i2.REGSET = "RESET";
    defparam counter_97__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i1 (.D(n133[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[1] ));
    defparam counter_97__i1.REGSET = "RESET";
    defparam counter_97__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i0 (.D(n133[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[0] ));
    defparam counter_97__i0.REGSET = "RESET";
    defparam counter_97__i0.SRMODE = "CE_OVER_LSR";
    VLO i2 (.Z(GND_net));
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[11] ), .D0(n2325), .CI0(n2325), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[12] ), .D1(n4127), 
            .CI1(n4127), .CO0(n4127), .CO1(n2327), .S0(n133[11]), .S1(n133[12]));
    defparam counter_97_add_4_13.INIT0 = "0xc33c";
    defparam counter_97_add_4_13.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[9] ), .D0(n2323), .CI0(n2323), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[10] ), .D1(n4124), 
            .CI1(n4124), .CO0(n4124), .CO1(n2325), .S0(n133[9]), .S1(n133[10]));
    defparam counter_97_add_4_11.INIT0 = "0xc33c";
    defparam counter_97_add_4_11.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[7] ), .D0(n2321), .CI0(n2321), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[8] ), .D1(n4121), 
            .CI1(n4121), .CO0(n4121), .CO1(n2323), .S0(n133[7]), .S1(n133[8]));
    defparam counter_97_add_4_9.INIT0 = "0xc33c";
    defparam counter_97_add_4_9.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[5] ), .D0(n2319), .CI0(n2319), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[6] ), .D1(n4118), 
            .CI1(n4118), .CO0(n4118), .CO1(n2321), .S0(n133[5]), .S1(n133[6]));
    defparam counter_97_add_4_7.INIT0 = "0xc33c";
    defparam counter_97_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[3] ), .D0(n2317), .CI0(n2317), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[4] ), .D1(n4115), 
            .CI1(n4115), .CO0(n4115), .CO1(n2319), .S0(n133[3]), .S1(n133[4]));
    defparam counter_97_add_4_5.INIT0 = "0xc33c";
    defparam counter_97_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[1] ), .D0(n2315), .CI0(n2315), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[2] ), .D1(n4112), 
            .CI1(n4112), .CO0(n4112), .CO1(n2317), .S0(n133[1]), .S1(n133[2]));
    defparam counter_97_add_4_3.INIT0 = "0xc33c";
    defparam counter_97_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(\counter[0] ), .D1(n4109), .CI1(n4109), .CO0(n4109), 
            .CO1(n2315), .S1(n133[0]));
    defparam counter_97_add_4_1.INIT0 = "0xc33c";
    defparam counter_97_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_33 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[31] ), .D0(n2345), .CI0(n2345), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n4157), .CI1(n4157), 
            .CO0(n4157), .S0(n133[31]));
    defparam counter_97_add_4_33.INIT0 = "0xc33c";
    defparam counter_97_add_4_33.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_31 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[29] ), .D0(n2343), .CI0(n2343), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[30] ), .D1(n4154), 
            .CI1(n4154), .CO0(n4154), .CO1(n2345), .S0(n133[29]), .S1(n133[30]));
    defparam counter_97_add_4_31.INIT0 = "0xc33c";
    defparam counter_97_add_4_31.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_29 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[27] ), .D0(n2341), .CI0(n2341), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[28] ), .D1(n4151), 
            .CI1(n4151), .CO0(n4151), .CO1(n2343), .S0(n133[27]), .S1(n133[28]));
    defparam counter_97_add_4_29.INIT0 = "0xc33c";
    defparam counter_97_add_4_29.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_27 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[25] ), .D0(n2339), .CI0(n2339), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[26] ), .D1(n4148), 
            .CI1(n4148), .CO0(n4148), .CO1(n2341), .S0(n133[25]), .S1(n133[26]));
    defparam counter_97_add_4_27.INIT0 = "0xc33c";
    defparam counter_97_add_4_27.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[23] ), .D0(n2337), .CI0(n2337), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[24] ), .D1(n4145), 
            .CI1(n4145), .CO0(n4145), .CO1(n2339), .S0(n133[23]), .S1(n133[24]));
    defparam counter_97_add_4_25.INIT0 = "0xc33c";
    defparam counter_97_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[21] ), .D0(n2335), .CI0(n2335), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[22] ), .D1(n4142), 
            .CI1(n4142), .CO0(n4142), .CO1(n2337), .S0(n133[21]), .S1(n133[22]));
    defparam counter_97_add_4_23.INIT0 = "0xc33c";
    defparam counter_97_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[19] ), .D0(n2333), .CI0(n2333), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[20] ), .D1(n4139), 
            .CI1(n4139), .CO0(n4139), .CO1(n2335), .S0(n133[19]), .S1(n133[20]));
    defparam counter_97_add_4_21.INIT0 = "0xc33c";
    defparam counter_97_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[17] ), .D0(n2331), .CI0(n2331), 
            .A1(GND_net), .B1(GND_net), .C1(sel_c_18), .D1(n4136), .CI1(n4136), 
            .CO0(n4136), .CO1(n2333), .S0(n133[17]), .S1(n133[18]));
    defparam counter_97_add_4_19.INIT0 = "0xc33c";
    defparam counter_97_add_4_19.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[15] ), .D0(n2329), .CI0(n2329), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[16] ), .D1(n4133), 
            .CI1(n4133), .CO0(n4133), .CO1(n2331), .S0(n133[15]), .S1(n133[16]));
    defparam counter_97_add_4_17.INIT0 = "0xc33c";
    defparam counter_97_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_97_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[13] ), .D0(n2327), .CI0(n2327), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[14] ), .D1(n4130), 
            .CI1(n4130), .CO0(n4130), .CO1(n2329), .S0(n133[13]), .S1(n133[14]));
    defparam counter_97_add_4_15.INIT0 = "0xc33c";
    defparam counter_97_add_4_15.INIT1 = "0xc33c";
    VHI i1 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_97__i31 (.D(n133[31]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[31] ));
    defparam counter_97__i31.REGSET = "RESET";
    defparam counter_97__i31.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module keypad_handler
//

module keypad_handler (input [3:0]col, input \counter[15] , input \counter[16] , 
            output [3:0]itemp, output row_c_2, output row_c_3, output row_c_1, 
            output row_c_0, output pressed);
    
    wire [5:0]num;
    wire [3:0]pressedarr;
    
    wire n61, n64, n2886, pressedarr_0__N_131, n1473, n61_adj_158, 
        n70, n1501, n2876, n6, n3223, n3050, n4, n65, n3222, 
        n4_adj_159, n71, n61_adj_160, n2684, n70_adj_161, n67, n4_adj_162, 
        n7, n1535, n3251, n3253, n899, n13, n10;
    
    (* lut_function="(!(A ((C+(D))+!B)+!A (B+!(C (D)))))" *) LUT4 i99_4_lut (.A(col[2]), 
            .B(\counter[15] ), .C(col[0]), .D(\counter[16] ), .Z(n61));
    defparam i99_4_lut.INIT = "0x1008";
    (* lut_function="(!(A (B (C+!(D))+!B !(C (D)))+!A ((C+!(D))+!B)))" *) LUT4 i102_4_lut (.A(\counter[15] ), 
            .B(col[3]), .C(col[0]), .D(\counter[16] ), .Z(n64));
    defparam i102_4_lut.INIT = "0x2c00";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(num[1]), .B(n2886), .Z(itemp[1]));
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(A (B+((D)+!C))+!A !(((D)+!C)+!B))", lineinfo="@1(24[2],30[10])" *) LUT4 i467_3_lut_4_lut (.A(pressedarr[1]), 
            .B(pressedarr_0__N_131), .C(\counter[15] ), .D(\counter[16] ), 
            .Z(pressedarr[1]));
    defparam i467_3_lut_4_lut.INIT = "0xaaca";
    (* lut_function="(A+(B))" *) LUT4 i991_2_lut (.A(col[3]), .B(col[2]), 
            .Z(n1473));
    defparam i991_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A (B (C+(D))+!B !(C (D)+!C !(D)))+!A (B+!(C (D)))))" *) LUT4 i99_4_lut_adj_1 (.A(n61_adj_158), 
            .B(n1473), .C(col[0]), .D(\counter[16] ), .Z(n70));
    defparam i99_4_lut_adj_1.INIT = "0x300a";
    (* lut_function="(!(A (B+!(D))+!A !(B (C)+!B (C+(D)))))" *) LUT4 num_1__I_0_4_lut (.A(n1501), 
            .B(col[1]), .C(n2876), .D(n70), .Z(num[1]));
    defparam num_1__I_0_4_lut.INIT = "0x7350";
    (* lut_function="(A (B+(C+(D)))+!A !((C+(D))+!B))", lineinfo="@1(24[2],30[10])" *) LUT4 i469_3_lut_4_lut (.A(pressedarr[0]), 
            .B(pressedarr_0__N_131), .C(\counter[15] ), .D(\counter[16] ), 
            .Z(pressedarr[0]));
    defparam i469_3_lut_4_lut.INIT = "0xaaac";
    (* lut_function="(A (B)+!A !(B+(C+(D))))", lineinfo="@1(35[3],57[10])" *) LUT4 i1_2_lut_3_lut_4_lut_4_lut (.A(col[1]), 
            .B(col[0]), .C(col[3]), .D(col[2]), .Z(n6));
    defparam i1_2_lut_3_lut_4_lut_4_lut.INIT = "0x8889";
    (* lut_function="(!(A (B+(C+(D)))+!A (B (C+(D))+!B (C (D)+!C !(D)))))", lineinfo="@1(35[3],57[10])" *) LUT4 i4_4_lut_4_lut_4_lut (.A(col[1]), 
            .B(col[0]), .C(col[2]), .D(col[3]), .Z(n2886));
    defparam i4_4_lut_4_lut_4_lut.INIT = "0x0116";
    (* lut_function="(A+(B))" *) LUT4 i1019_2_lut (.A(col[3]), .B(col[0]), 
            .Z(n1501));
    defparam i1019_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A+!(B)))", lineinfo="@1(25[3],30[10])" *) LUT4 i1051_2_lut (.A(\counter[15] ), 
            .B(\counter[16] ), .Z(row_c_2));
    defparam i1051_2_lut.INIT = "0x4444";
    (* lut_function="(A (B))", lineinfo="@1(25[3],30[10])" *) LUT4 i1052_2_lut (.A(\counter[15] ), 
            .B(\counter[16] ), .Z(row_c_3));
    defparam i1052_2_lut.INIT = "0x8888";
    (* lut_function="(!((B)+!A))", lineinfo="@1(25[3],30[10])" *) LUT4 i1050_2_lut (.A(\counter[15] ), 
            .B(\counter[16] ), .Z(row_c_1));
    defparam i1050_2_lut.INIT = "0x2222";
    (* lut_function="(!(A (B+(C+(D)))+!A (B+((D)+!C))))" *) LUT4 i2471_4_lut (.A(col[1]), 
            .B(row_c_3), .C(col[0]), .D(col[2]), .Z(n3223));
    defparam i2471_4_lut.INIT = "0x0012";
    (* lut_function="(A+(B (D)+!B (C+(D))))" *) LUT4 i2285_2_lut_4_lut (.A(col[0]), 
            .B(\counter[15] ), .C(\counter[16] ), .D(col[1]), .Z(n3050));
    defparam i2285_2_lut_4_lut.INIT = "0xffba";
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut_adj_2 (.A(col[3]), .B(n61), 
            .Z(n4));
    defparam i1_2_lut_adj_2.INIT = "0x4444";
    (* lut_function="(!((B+(C))+!A))" *) LUT4 i2_3_lut (.A(n64), .B(row_c_1), 
            .C(col[2]), .Z(n65));
    defparam i2_3_lut.INIT = "0x0202";
    (* lut_function="(!(A+!(B (C+!(D))+!B (C (D)))))" *) LUT4 i1_4_lut (.A(col[3]), 
            .B(n3222), .C(n3223), .D(row_c_1), .Z(n4_adj_159));
    defparam i1_4_lut.INIT = "0x5044";
    (* lut_function="(!(A+!(B (C)+!B (C+(D)))))" *) LUT4 i1_4_lut_adj_3 (.A(col[1]), 
            .B(row_c_3), .C(n65), .D(n4), .Z(n71));
    defparam i1_4_lut_adj_3.INIT = "0x5150";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i107_2_lut (.A(col[1]), .B(col[2]), 
            .Z(n61_adj_160));
    defparam i107_2_lut.INIT = "0x6666";
    (* lut_function="(!(A+((C+!(D))+!B)))" *) LUT4 i3_4_lut (.A(n1501), .B(n61_adj_160), 
            .C(row_c_3), .D(row_c_2), .Z(n2684));
    defparam i3_4_lut.INIT = "0x0400";
    (* lut_function="(A+!(B+(C+!(D))))" *) LUT4 i1_4_lut_adj_4 (.A(n2684), 
            .B(col[2]), .C(col[1]), .D(n64), .Z(n70_adj_161));
    defparam i1_4_lut_adj_4.INIT = "0xabaa";
    (* lut_function="(A (B ((D)+!C)+!B !(C))+!A (B (D)))" *) LUT4 num_3__I_0_4_lut (.A(n67), 
            .B(n70_adj_161), .C(n3050), .D(\counter[16] ), .Z(num[3]));
    defparam num_3__I_0_4_lut.INIT = "0xce0a";
    (* lut_function="(A (C+(D))+!A (B (C)))" *) LUT4 num_2__I_0_4_lut_4_lut (.A(\counter[15] ), 
            .B(\counter[16] ), .C(n71), .D(n4_adj_159), .Z(num[2]));
    defparam num_2__I_0_4_lut_4_lut.INIT = "0xeae0";
    (* lut_function="(!(A+(B)))" *) LUT4 i2587_2_lut (.A(\counter[15] ), .B(\counter[16] ), 
            .Z(row_c_0));
    defparam i2587_2_lut.INIT = "0x1111";
    (* lut_function="(A+(B))", lineinfo="@1(26[49],26[62])" *) LUT4 i1_2_lut_adj_5 (.A(num[3]), 
            .B(num[2]), .Z(n4_adj_162));
    defparam i1_2_lut_adj_5.INIT = "0xeeee";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@1(26[49],26[62])" *) LUT4 i2_4_lut (.A(num[0]), 
            .B(n4_adj_162), .C(n2886), .D(num[1]), .Z(pressedarr_0__N_131));
    defparam i2_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+(B+!(C (D)))))", lineinfo="@1(35[3],57[10])" *) LUT4 i2440_3_lut_4_lut (.A(col[1]), 
            .B(col[0]), .C(col[2]), .D(row_c_3), .Z(n3222));
    defparam i2440_3_lut_4_lut.INIT = "0x1000";
    (* lut_function="(A (C+(D))+!A (B (C+(D))+!B (C (D))))", lineinfo="@1(35[3],57[10])" *) LUT4 i2_3_lut_4_lut (.A(col[1]), 
            .B(col[0]), .C(col[3]), .D(col[2]), .Z(n7));
    defparam i2_3_lut_4_lut.INIT = "0xfee0";
    (* lut_function="(A+!(B+!(C)))" *) LUT4 i1053_2_lut_3_lut (.A(col[0]), 
            .B(\counter[15] ), .C(\counter[16] ), .Z(n1535));
    defparam i1053_2_lut_3_lut.INIT = "0xbaba";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i2464_2_lut (.A(col[3]), 
            .B(col[2]), .Z(n3251));
    defparam i2464_2_lut.INIT = "0x6666";
    (* lut_function="(!(A+(B (C+(D))+!B (C+!(D)))))" *) LUT4 i2455_4_lut (.A(col[2]), 
            .B(col[1]), .C(col[0]), .D(col[3]), .Z(n3253));
    defparam i2455_4_lut.INIT = "0x0104";
    (* lut_function="(!(A (B (C (D))+!B (C))+!A (((D)+!C)+!B)))" *) LUT4 i30_4_lut (.A(n899), 
            .B(n3251), .C(row_c_3), .D(n1535), .Z(n13));
    defparam i30_4_lut.INIT = "0x0aca";
    (* lut_function="(A (B (C+!(D))+!B !(C+(D)))+!A (B (C)))" *) LUT4 i29_4_lut (.A(n899), 
            .B(n3253), .C(row_c_1), .D(col[1]), .Z(n10));
    defparam i29_4_lut.INIT = "0xc0ca";
    (* lut_function="(!(A (B (C (D))+!B (C))+!A (((D)+!C)+!B)))" *) LUT4 i28_4_lut (.A(n10), 
            .B(n13), .C(\counter[16] ), .D(col[1]), .Z(num[0]));
    defparam i28_4_lut.INIT = "0x0aca";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B+(C (D)+!C !(D)))))" *) LUT4 i1_2_lut_4_lut (.A(\counter[15] ), 
            .B(\counter[16] ), .C(col[1]), .D(col[2]), .Z(n2876));
    defparam i1_2_lut_4_lut.INIT = "0x0910";
    (* lut_function="(!((B+(C))+!A))" *) LUT4 i2582_4_lut (.A(num[0]), .B(n7), 
            .C(n6), .Z(itemp[0]));
    defparam i2582_4_lut.INIT = "0x0202";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@1(19[19],19[30])" *) LUT4 i3_4_lut_adj_6 (.A(pressedarr[0]), 
            .B(pressedarr[2]), .C(pressedarr[1]), .D(pressedarr[3]), .Z(pressed));
    defparam i3_4_lut_adj_6.INIT = "0xfffe";
    (* lut_function="(A (B+!(C (D)))+!A (B (C (D))))", lineinfo="@1(24[2],30[10])" *) LUT4 i471_3_lut_4_lut (.A(pressedarr[3]), 
            .B(pressedarr_0__N_131), .C(\counter[15] ), .D(\counter[16] ), 
            .Z(pressedarr[3]));
    defparam i471_3_lut_4_lut.INIT = "0xcaaa";
    (* lut_function="(A (B+(C+!(D)))+!A !((C+!(D))+!B))", lineinfo="@1(24[2],30[10])" *) LUT4 i465_3_lut_4_lut (.A(pressedarr[2]), 
            .B(pressedarr_0__N_131), .C(\counter[15] ), .D(\counter[16] ), 
            .Z(pressedarr[2]));
    defparam i465_3_lut_4_lut.INIT = "0xacaa";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_2_lut (.A(n2886), .B(num[2]), 
            .Z(itemp[2]));
    defparam i1_2_lut_2_lut.INIT = "0x8888";
    (* lut_function="(!(A+(B (C)+!B !(C))))" *) LUT4 i1_3_lut (.A(col[3]), 
            .B(col[0]), .C(col[2]), .Z(n899));
    defparam i1_3_lut.INIT = "0x1414";
    (* lut_function="(!(A (B+(C+!(D)))+!A (B+!(C))))" *) LUT4 i100_4_lut (.A(col[2]), 
            .B(\counter[16] ), .C(col[3]), .D(\counter[15] ), .Z(n61_adj_158));
    defparam i100_4_lut.INIT = "0x1210";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_2_lut_adj_7 (.A(n2886), .B(num[3]), 
            .Z(itemp[3]));
    defparam i1_2_lut_2_lut_adj_7.INIT = "0x8888";
    (* lut_function="(!(A (B (C+!(D))+!B ((D)+!C))+!A (B+((D)+!C))))" *) LUT4 i98_4_lut (.A(\counter[15] ), 
            .B(\counter[16] ), .C(col[3]), .D(col[2]), .Z(n67));
    defparam i98_4_lut.INIT = "0x0830";
    
endmodule

//
// Verilog Description of module synchronizer
//

module synchronizer (input colunstable_c_3, output [3:0]col, input int_osc, 
            input colunstable_c_2, input colunstable_c_1, input colunstable_c_0);
    
    (* is_clock=1, lineinfo="@4(25[8],25[15])" *) wire int_osc;
    
    wire VCC_net, GND_net;
    
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=81, LSE_LLINE=52, LSE_RLINE=52, lineinfo="@3(7[12],9[5])" *) IOL_B stableval_i2 (.PADDI(colunstable_c_2), 
            .DO1(GND_net), .DO0(GND_net), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(int_osc), .OUTCLK(GND_net), .DI0(col[2]));
    defparam stableval_i2.LATCHIN = "NONE_REG";
    defparam stableval_i2.DDROUT = "NO";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=81, LSE_LLINE=52, LSE_RLINE=52, lineinfo="@3(7[12],9[5])" *) IOL_B stableval_i1 (.PADDI(colunstable_c_1), 
            .DO1(GND_net), .DO0(GND_net), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(int_osc), .OUTCLK(GND_net), .DI0(col[1]));
    defparam stableval_i1.LATCHIN = "NONE_REG";
    defparam stableval_i1.DDROUT = "NO";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=81, LSE_LLINE=52, LSE_RLINE=52, lineinfo="@3(7[12],9[5])" *) IOL_B stableval_i0 (.PADDI(colunstable_c_0), 
            .DO1(GND_net), .DO0(GND_net), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(int_osc), .OUTCLK(GND_net), .DI0(col[0]));
    defparam stableval_i0.LATCHIN = "NONE_REG";
    defparam stableval_i0.DDROUT = "NO";
    VLO i2 (.Z(GND_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=81, LSE_LLINE=52, LSE_RLINE=52, lineinfo="@3(7[12],9[5])" *) IOL_B stableval_i3 (.PADDI(colunstable_c_3), 
            .DO1(GND_net), .DO0(GND_net), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(int_osc), .OUTCLK(GND_net), .DI0(col[3]));
    defparam stableval_i3.LATCHIN = "NONE_REG";
    defparam stableval_i3.DDROUT = "NO";
    VHI i1 (.Z(VCC_net));
    
endmodule
