// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2024.2.0.3.0
// Netlist written on Mon Sep 15 20:00:24 2025
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/sojayaweera/e155/lab3_sj/source/impl_1/count_module.sv"
// file 1 "c:/users/sojayaweera/e155/lab3_sj/source/impl_1/keypad_handler.sv"
// file 2 "c:/users/sojayaweera/e155/lab3_sj/source/impl_1/sevenseglut.sv"
// file 3 "c:/users/sojayaweera/e155/lab3_sj/source/impl_1/synchronizer.sv"
// file 4 "c:/users/sojayaweera/e155/lab3_sj/source/impl_1/top.sv"
// file 5 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.v"
// file 6 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ice40up.vhd"
// file 7 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 8 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 9 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 10 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 11 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 12 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 13 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 14 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ib.v"
// file 15 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 16 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 17 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 18 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ob.v"
// file 19 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 20 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 21 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 22 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb.v"
// file 23 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 24 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 25 "c:/lscc/radiant/2024.2/cae_library/simulation/verilog/ice40up/legacy.v"
// file 26 "c:/lscc/radiant/2024.2/ip/common/adder/rtl/lscc_adder.v"
// file 27 "c:/lscc/radiant/2024.2/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 28 "c:/lscc/radiant/2024.2/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 29 "c:/lscc/radiant/2024.2/ip/common/counter/rtl/lscc_cntr.v"
// file 30 "c:/lscc/radiant/2024.2/ip/common/fifo/rtl/lscc_fifo.v"
// file 31 "c:/lscc/radiant/2024.2/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 32 "c:/lscc/radiant/2024.2/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 33 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 34 "c:/lscc/radiant/2024.2/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 35 "c:/lscc/radiant/2024.2/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 36 "c:/lscc/radiant/2024.2/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 37 "c:/lscc/radiant/2024.2/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 38 "c:/lscc/radiant/2024.2/ip/common/rom/rtl/lscc_rom.v"
// file 39 "c:/lscc/radiant/2024.2/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 40 "c:/lscc/radiant/2024.2/ip/pmi/pmi_add.v"
// file 41 "c:/lscc/radiant/2024.2/ip/pmi/pmi_addsub.v"
// file 42 "c:/lscc/radiant/2024.2/ip/pmi/pmi_complex_mult.v"
// file 43 "c:/lscc/radiant/2024.2/ip/pmi/pmi_counter.v"
// file 44 "c:/lscc/radiant/2024.2/ip/pmi/pmi_dsp.v"
// file 45 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo.v"
// file 46 "c:/lscc/radiant/2024.2/ip/pmi/pmi_fifo_dc.v"
// file 47 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mac.v"
// file 48 "c:/lscc/radiant/2024.2/ip/pmi/pmi_mult.v"
// file 49 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsub.v"
// file 50 "c:/lscc/radiant/2024.2/ip/pmi/pmi_multaddsubsum.v"
// file 51 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp.v"
// file 52 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dp_be.v"
// file 53 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq.v"
// file 54 "c:/lscc/radiant/2024.2/ip/pmi/pmi_ram_dq_be.v"
// file 55 "c:/lscc/radiant/2024.2/ip/pmi/pmi_rom.v"
// file 56 "c:/lscc/radiant/2024.2/ip/pmi/pmi_sub.v"

//
// Verilog Description of module top
//

module top (input reset, input [3:0]colunstable, output sel, output [3:0]row, 
            output nsel, output [6:0]segout, output debugger);
    
    wire GND_net;
    wire reset_c;
    wire colunstable_c_3;
    wire colunstable_c_2;
    wire colunstable_c_1;
    wire colunstable_c_0;
    wire row_c_3;
    wire row_c_2;
    wire row_c_1;
    wire row_c_0;
    wire sel_c_18_N_134;
    wire segout_c_6;
    wire segout_c_5;
    wire segout_c_4;
    wire segout_c_3;
    wire segout_c_2;
    wire segout_c_1;
    wire segout_c_0;
    wire debugger_c;
    wire [3:0]col;
    wire [3:0]iActive;
    wire [3:0]itemp;
    wire [3:0]i0;
    wire [3:0]i1;
    (* is_clock=1, lineinfo="@4(25[8],25[15])" *) wire int_osc;
    wire pressed;
    wire pressedtimepassed;
    wire [31:0]counter;
    wire sel_c_18;
    wire [31:0]countstart;
    wire [31:0]pressedcountstart;
    wire [1:0]cycleflag;
    
    wire VCC_net, n3488, n1718, n38, n44;
    wire [3:0]n125;
    
    wire n3467, n147, n155;
    wire [31:0]n1_adj_244;
    
    wire n3485, n1702, n1716, n1740, n20, n2307, n1714, n2139, 
        n1708, n3611, n1696, n1706, n1700, n1694, n921, n1690, 
        n1738, n1692, n2683, n3608, n1728, n3605, n2140, n1684, 
        n3602, n533, n535;
    wire [31:0]n1;
    
    wire n3479, n44_adj_195, n1736, n3599, n1680, n38_adj_196, n11_adj_197, 
        n1704, n1726, n3596;
    wire [32:0]timepassed_N_155;
    
    wire n20_adj_200, n3593, n3590, n1712, n3587, n1698, n3491, 
        n3584, n5_adj_201, n18_adj_202, n3581, n16_adj_203, n14_adj_204, 
        n3578, n3575, n5_adj_205, n12_adj_206;
    wire [32:0]pressedtimepassed_N_157;
    
    wire n18_adj_238, n3470, n17_adj_239, n12_adj_240, n3572, n3569, 
        n3566, n1686, n5_adj_241, n3506, n1734, n1732, n3503, 
        n1724, n1730, n1682, n3500, n1722, n3482, n3512, n3497, 
        n3494, n1720, n1688, n2303, n3476, n5_adj_242, n3509, 
        n3473, n16_adj_243;
    
    VHI i2 (.Z(VCC_net));
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_30 (.A0(GND_net), .B0(counter[28]), 
            .C0(n1[28]), .D0(n1738), .CI0(n1738), .A1(GND_net), .B1(counter[29]), 
            .C1(n1[29]), .D1(n3608), .CI1(n3608), .CO0(n3608), .CO1(n1740), 
            .S0(pressedtimepassed_N_157[29]), .S1(pressedtimepassed_N_157[30]));
    defparam add_163_30.INIT0 = "0xc33c";
    defparam add_163_30.INIT1 = "0xc33c";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i6_4_lut (.A(pressedtimepassed_N_157[3]), 
            .B(n12_adj_240), .C(pressedtimepassed_N_157[2]), .D(pressedtimepassed_N_157[6]), 
            .Z(n2140));
    defparam i6_4_lut.INIT = "0xfffe";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i259_4_lut (.A(pressedtimepassed_N_157[9]), 
            .B(pressedtimepassed_N_157[10]), .C(pressedtimepassed_N_157[8]), 
            .D(n2140), .Z(n20));
    defparam i259_4_lut.INIT = "0xeccc";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_28 (.A0(GND_net), .B0(counter[26]), 
            .C0(n1[26]), .D0(n1736), .CI0(n1736), .A1(GND_net), .B1(counter[27]), 
            .C1(n1[27]), .D1(n3605), .CI1(n3605), .CO0(n3605), .CO1(n1738), 
            .S0(pressedtimepassed_N_157[27]), .S1(pressedtimepassed_N_157[28]));
    defparam add_163_28.INIT0 = "0xc33c";
    defparam add_163_28.INIT1 = "0xc33c";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_6 (.A0(GND_net), .B0(counter[4]), 
            .C0(n1[4]), .D0(n1714), .CI0(n1714), .A1(GND_net), .B1(counter[5]), 
            .C1(n1[5]), .D1(n3572), .CI1(n3572), .CO0(n3572), .CO1(n1716), 
            .S0(pressedtimepassed_N_157[5]), .S1(pressedtimepassed_N_157[6]));
    defparam add_163_6.INIT0 = "0xc33c";
    defparam add_163_6.INIT1 = "0xc33c";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ i0__i0 (.D(itemp[0]), .SP(n535), 
            .CK(int_osc), .SR(reset_c), .Q(i0[0]));
    defparam i0__i0.REGSET = "RESET";
    defparam i0__i0.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i16 (.D(counter[16]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[16]));
    defparam countstart_i0_i16.REGSET = "RESET";
    defparam countstart_i0_i16.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_16 (.A0(GND_net), .B0(counter[14]), 
            .C0(n1[14]), .D0(n1724), .CI0(n1724), .A1(GND_net), .B1(counter[15]), 
            .C1(n1[15]), .D1(n3587), .CI1(n3587), .CO0(n3587), .CO1(n1726), 
            .S0(pressedtimepassed_N_157[15]), .S1(pressedtimepassed_N_157[16]));
    defparam add_163_16.INIT0 = "0xc33c";
    defparam add_163_16.INIT1 = "0xc33c";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i15 (.D(counter[15]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[15]));
    defparam countstart_i0_i15.REGSET = "RESET";
    defparam countstart_i0_i15.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i14 (.D(counter[14]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[14]));
    defparam countstart_i0_i14.REGSET = "RESET";
    defparam countstart_i0_i14.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(61[11],69[6])" *) FD1P3XZ iActive__i0 (.D(n125[0]), .SP(VCC_net), 
            .CK(int_osc), .SR(reset_c), .Q(iActive[0]));
    defparam iActive__i0.REGSET = "RESET";
    defparam iActive__i0.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i13 (.D(counter[13]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[13]));
    defparam countstart_i0_i13.REGSET = "RESET";
    defparam countstart_i0_i13.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_4 (.A0(GND_net), .B0(counter[2]), 
            .C0(n1[2]), .D0(n1712), .CI0(n1712), .A1(GND_net), .B1(counter[3]), 
            .C1(n1[3]), .D1(n3569), .CI1(n3569), .CO0(n3569), .CO1(n1714), 
            .S0(pressedtimepassed_N_157[3]), .S1(pressedtimepassed_N_157[4]));
    defparam add_163_4.INIT0 = "0xc33c";
    defparam add_163_4.INIT1 = "0xc33c";
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_8 (.A0(GND_net), .B0(counter[6]), 
            .C0(n1_adj_244[6]), .D0(n1684), .CI0(n1684), .A1(GND_net), 
            .B1(counter[7]), .C1(n1_adj_244[7]), .D1(n3476), .CI1(n3476), 
            .CO0(n3476), .CO1(n1686), .S0(timepassed_N_155[7]), .S1(timepassed_N_155[8]));
    defparam add_164_8.INIT0 = "0xc33c";
    defparam add_164_8.INIT1 = "0xc33c";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i1_4_lut (.A(pressedtimepassed_N_157[12]), 
            .B(pressedtimepassed_N_157[14]), .C(pressedtimepassed_N_157[11]), 
            .D(n20), .Z(n5_adj_241));
    defparam i1_4_lut.INIT = "0xeccc";
    (* lut_function="(A (B)+!A (B (C+(D))))" *) LUT4 i1_4_lut_adj_11 (.A(n5_adj_241), 
            .B(pressedtimepassed_N_157[17]), .C(pressedtimepassed_N_157[15]), 
            .D(pressedtimepassed_N_157[13]), .Z(n5_adj_205));
    defparam i1_4_lut_adj_11.INIT = "0xccc8";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i268_4_lut (.A(n5_adj_205), 
            .B(pressedtimepassed_N_157[19]), .C(pressedtimepassed_N_157[18]), 
            .D(pressedtimepassed_N_157[16]), .Z(n38));
    defparam i268_4_lut.INIT = "0xeccc";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i18 (.D(sel_c_18), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[18]));
    defparam countstart_i0_i18.REGSET = "RESET";
    defparam countstart_i0_i18.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(58[29],58[68])" *) LUT4 i6_4_lut_adj_12 (.A(pressedtimepassed_N_157[30]), 
            .B(pressedtimepassed_N_157[26]), .C(pressedtimepassed_N_157[32]), 
            .D(pressedtimepassed_N_157[28]), .Z(n16_adj_203));
    defparam i6_4_lut_adj_12.INIT = "0xfffe";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_14 (.A0(GND_net), .B0(counter[12]), 
            .C0(n1[12]), .D0(n1722), .CI0(n1722), .A1(GND_net), .B1(counter[13]), 
            .C1(n1[13]), .D1(n3584), .CI1(n3584), .CO0(n3584), .CO1(n1724), 
            .S0(pressedtimepassed_N_157[13]), .S1(pressedtimepassed_N_157[14]));
    defparam add_163_14.INIT0 = "0xc33c";
    defparam add_163_14.INIT1 = "0xc33c";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_12 (.A0(GND_net), .B0(counter[10]), 
            .C0(n1[10]), .D0(n1720), .CI0(n1720), .A1(GND_net), .B1(counter[11]), 
            .C1(n1[11]), .D1(n3581), .CI1(n3581), .CO0(n3581), .CO1(n1722), 
            .S0(pressedtimepassed_N_157[11]), .S1(pressedtimepassed_N_157[12]));
    defparam add_163_12.INIT0 = "0xc33c";
    defparam add_163_12.INIT1 = "0xc33c";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i271_4_lut (.A(pressedtimepassed_N_157[21]), 
            .B(pressedtimepassed_N_157[22]), .C(pressedtimepassed_N_157[20]), 
            .D(n38), .Z(n44));
    defparam i271_4_lut.INIT = "0xeccc";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_2 (.A0(GND_net), .B0(counter[0]), 
            .C0(n1[0]), .D0(VCC_net), .A1(GND_net), .B1(counter[1]), 
            .C1(n1[1]), .D1(n3566), .CI1(n3566), .CO0(n3566), .CO1(n1712), 
            .S0(pressedtimepassed_N_157[1]), .S1(pressedtimepassed_N_157[2]));
    defparam add_163_2.INIT0 = "0xc33c";
    defparam add_163_2.INIT1 = "0xc33c";
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_26 (.A0(GND_net), .B0(counter[24]), 
            .C0(n1_adj_244[24]), .D0(n1702), .CI0(n1702), .A1(GND_net), 
            .B1(counter[25]), .C1(n1_adj_244[25]), .D1(n3503), .CI1(n3503), 
            .CO0(n3503), .CO1(n1704), .S0(timepassed_N_155[25]), .S1(timepassed_N_155[26]));
    defparam add_164_26.INIT0 = "0xc33c";
    defparam add_164_26.INIT1 = "0xc33c";
    (* lut_function="(A+(B))", lineinfo="@4(58[29],58[68])" *) LUT4 i4_2_lut (.A(pressedtimepassed_N_157[25]), 
            .B(pressedtimepassed_N_157[27]), .Z(n14_adj_204));
    defparam i4_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B+(C+(D)))+!A (B+(C)))", lineinfo="@4(58[29],58[68])" *) LUT4 i8_4_lut (.A(n44), 
            .B(n16_adj_203), .C(pressedtimepassed_N_157[31]), .D(pressedtimepassed_N_157[23]), 
            .Z(n18_adj_202));
    defparam i8_4_lut.INIT = "0xfefc";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(58[29],58[68])" *) LUT4 i9_4_lut (.A(pressedtimepassed_N_157[29]), 
            .B(n18_adj_202), .C(n14_adj_204), .D(pressedtimepassed_N_157[24]), 
            .Z(pressedtimepassed));
    defparam i9_4_lut.INIT = "0xfffe";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_26 (.A0(GND_net), .B0(counter[24]), 
            .C0(n1[24]), .D0(n1734), .CI0(n1734), .A1(GND_net), .B1(counter[25]), 
            .C1(n1[25]), .D1(n3602), .CI1(n3602), .CO0(n3602), .CO1(n1736), 
            .S0(pressedtimepassed_N_157[25]), .S1(pressedtimepassed_N_157[26]));
    defparam add_163_26.INIT0 = "0xc33c";
    defparam add_163_26.INIT1 = "0xc33c";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i12 (.D(counter[12]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[12]));
    defparam countstart_i0_i12.REGSET = "RESET";
    defparam countstart_i0_i12.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_16 (.A0(GND_net), .B0(counter[14]), 
            .C0(n1_adj_244[14]), .D0(n1692), .CI0(n1692), .A1(GND_net), 
            .B1(counter[15]), .C1(n1_adj_244[15]), .D1(n3488), .CI1(n3488), 
            .CO0(n3488), .CO1(n1694), .S0(timepassed_N_155[15]), .S1(timepassed_N_155[16]));
    defparam add_164_16.INIT0 = "0xc33c";
    defparam add_164_16.INIT1 = "0xc33c";
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_6 (.A0(GND_net), .B0(counter[4]), 
            .C0(n1_adj_244[4]), .D0(n1682), .CI0(n1682), .A1(GND_net), 
            .B1(counter[5]), .C1(n1_adj_244[5]), .D1(n3473), .CI1(n3473), 
            .CO0(n3473), .CO1(n1684), .S0(timepassed_N_155[5]), .S1(timepassed_N_155[6]));
    defparam add_164_6.INIT0 = "0xc33c";
    defparam add_164_6.INIT1 = "0xc33c";
    (* lut_function="(!(A+(((D)+!C)+!B)))" *) LUT4 i3_4_lut (.A(pressed), 
            .B(cycleflag[1]), .C(pressedtimepassed), .D(cycleflag[0]), 
            .Z(n155));
    defparam i3_4_lut.INIT = "0x0040";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i11 (.D(counter[11]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[11]));
    defparam countstart_i0_i11.REGSET = "RESET";
    defparam countstart_i0_i11.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_24 (.A0(GND_net), .B0(counter[22]), 
            .C0(n1[22]), .D0(n1732), .CI0(n1732), .A1(GND_net), .B1(counter[23]), 
            .C1(n1[23]), .D1(n3599), .CI1(n3599), .CO0(n3599), .CO1(n1734), 
            .S0(pressedtimepassed_N_157[23]), .S1(pressedtimepassed_N_157[24]));
    defparam add_163_24.INIT0 = "0xc33c";
    defparam add_163_24.INIT1 = "0xc33c";
    (* lut_function="(!(A+!(B (C+!(D))+!B (C))))", lineinfo="@4(79[11],111[6])" *) LUT4 i444_4_lut (.A(n535), 
            .B(cycleflag[1]), .C(debugger_c), .D(n155), .Z(n921));
    defparam i444_4_lut.INIT = "0x5054";
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_24 (.A0(GND_net), .B0(counter[22]), 
            .C0(n1_adj_244[22]), .D0(n1700), .CI0(n1700), .A1(GND_net), 
            .B1(counter[23]), .C1(n1_adj_244[23]), .D1(n3500), .CI1(n3500), 
            .CO0(n3500), .CO1(n1702), .S0(timepassed_N_155[23]), .S1(timepassed_N_155[24]));
    defparam add_164_24.INIT0 = "0xc33c";
    defparam add_164_24.INIT1 = "0xc33c";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i17 (.D(counter[17]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[17]));
    defparam countstart_i0_i17.REGSET = "RESET";
    defparam countstart_i0_i17.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(67[16],67[29])" *) LUT4 mux_9_i2_3_lut (.A(i1[1]), 
            .B(i0[1]), .C(sel_c_18), .Z(n125[1]));
    defparam mux_9_i2_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(67[16],67[29])" *) LUT4 mux_9_i3_3_lut (.A(i1[2]), 
            .B(i0[2]), .C(sel_c_18), .Z(n125[2]));
    defparam mux_9_i3_3_lut.INIT = "0xcaca";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(67[16],67[29])" *) LUT4 mux_9_i4_3_lut (.A(i1[3]), 
            .B(i0[3]), .C(sel_c_18), .Z(n125[3]));
    defparam mux_9_i4_3_lut.INIT = "0xcaca";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i10 (.D(counter[10]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[10]));
    defparam countstart_i0_i10.REGSET = "RESET";
    defparam countstart_i0_i10.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ cycleflag__i0 (.D(n11_adj_197), 
            .SP(VCC_net), .CK(int_osc), .SR(GND_net), .Q(cycleflag[0]));
    defparam cycleflag__i0.REGSET = "RESET";
    defparam cycleflag__i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i18_1_lut (.A(pressedcountstart[17]), 
            .Z(n1[17]));
    defparam sub_5_inv_0_i18_1_lut.INIT = "0x5555";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i9 (.D(counter[9]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[9]));
    defparam countstart_i0_i9.REGSET = "RESET";
    defparam countstart_i0_i9.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_18 (.A0(GND_net), .B0(counter[16]), 
            .C0(n1_adj_244[16]), .D0(n1694), .CI0(n1694), .A1(GND_net), 
            .B1(counter[17]), .C1(n1_adj_244[17]), .D1(n3491), .CI1(n3491), 
            .CO0(n3491), .CO1(n1696), .S0(timepassed_N_155[17]), .S1(timepassed_N_155[18]));
    defparam add_164_18.INIT0 = "0xc33c";
    defparam add_164_18.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i17_1_lut (.A(pressedcountstart[16]), 
            .Z(n1[16]));
    defparam sub_5_inv_0_i17_1_lut.INIT = "0x5555";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i8 (.D(counter[8]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[8]));
    defparam countstart_i0_i8.REGSET = "RESET";
    defparam countstart_i0_i8.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_14 (.A0(GND_net), .B0(counter[12]), 
            .C0(n1_adj_244[12]), .D0(n1690), .CI0(n1690), .A1(GND_net), 
            .B1(counter[13]), .C1(n1_adj_244[13]), .D1(n3485), .CI1(n3485), 
            .CO0(n3485), .CO1(n1692), .S0(timepassed_N_155[13]), .S1(timepassed_N_155[14]));
    defparam add_164_14.INIT0 = "0xc33c";
    defparam add_164_14.INIT1 = "0xc33c";
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_4 (.A0(GND_net), .B0(counter[2]), 
            .C0(n1_adj_244[2]), .D0(n1680), .CI0(n1680), .A1(GND_net), 
            .B1(counter[3]), .C1(n1_adj_244[3]), .D1(n3470), .CI1(n3470), 
            .CO0(n3470), .CO1(n1682), .S0(timepassed_N_155[3]), .S1(timepassed_N_155[4]));
    defparam add_164_4.INIT0 = "0xc33c";
    defparam add_164_4.INIT1 = "0xc33c";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=14, LSE_RCOL=43, LSE_LLINE=41, LSE_RLINE=41, lineinfo="@4(41[14],41[43])" *) sevensegLUT lut ({iActive}, 
            segout_c_2, segout_c_1, segout_c_0, segout_c_6, segout_c_5, 
            segout_c_4, segout_c_3);
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_22 (.A0(GND_net), .B0(counter[20]), 
            .C0(n1_adj_244[20]), .D0(n1698), .CI0(n1698), .A1(GND_net), 
            .B1(counter[21]), .C1(n1_adj_244[21]), .D1(n3497), .CI1(n3497), 
            .CO0(n3497), .CO1(n1700), .S0(timepassed_N_155[21]), .S1(timepassed_N_155[22]));
    defparam add_164_22.INIT0 = "0xc33c";
    defparam add_164_22.INIT1 = "0xc33c";
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_32 (.A0(GND_net), .B0(counter[30]), 
            .C0(n1_adj_244[30]), .D0(n1708), .CI0(n1708), .A1(GND_net), 
            .B1(counter[31]), .C1(n1_adj_244[31]), .D1(n3512), .CI1(n3512), 
            .CO0(n3512), .S0(timepassed_N_155[31]), .S1(timepassed_N_155[32]));
    defparam add_164_32.INIT0 = "0xc33c";
    defparam add_164_32.INIT1 = "0xc33c";
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_30 (.A0(GND_net), .B0(counter[28]), 
            .C0(n1_adj_244[28]), .D0(n1706), .CI0(n1706), .A1(GND_net), 
            .B1(counter[29]), .C1(n1_adj_244[29]), .D1(n3509), .CI1(n3509), 
            .CO0(n3509), .CO1(n1708), .S0(timepassed_N_155[29]), .S1(timepassed_N_155[30]));
    defparam add_164_30.INIT0 = "0xc33c";
    defparam add_164_30.INIT1 = "0xc33c";
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_28 (.A0(GND_net), .B0(counter[26]), 
            .C0(n1_adj_244[26]), .D0(n1704), .CI0(n1704), .A1(GND_net), 
            .B1(counter[27]), .C1(n1_adj_244[27]), .D1(n3506), .CI1(n3506), 
            .CO0(n3506), .CO1(n1706), .S0(timepassed_N_155[27]), .S1(timepassed_N_155[28]));
    defparam add_164_28.INIT0 = "0xc33c";
    defparam add_164_28.INIT1 = "0xc33c";
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_20 (.A0(GND_net), .B0(sel_c_18), 
            .C0(n1_adj_244[18]), .D0(n1696), .CI0(n1696), .A1(GND_net), 
            .B1(counter[19]), .C1(n1_adj_244[19]), .D1(n3494), .CI1(n3494), 
            .CO0(n3494), .CO1(n1698), .S0(timepassed_N_155[19]), .S1(timepassed_N_155[20]));
    defparam add_164_20.INIT0 = "0xc33c";
    defparam add_164_20.INIT1 = "0xc33c";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_10 (.A0(GND_net), .B0(counter[8]), 
            .C0(n1[8]), .D0(n1718), .CI0(n1718), .A1(GND_net), .B1(counter[9]), 
            .C1(n1[9]), .D1(n3578), .CI1(n3578), .CO0(n3578), .CO1(n1720), 
            .S0(pressedtimepassed_N_157[9]), .S1(pressedtimepassed_N_157[10]));
    defparam add_163_10.INIT0 = "0xc33c";
    defparam add_163_10.INIT1 = "0xc33c";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_22 (.A0(GND_net), .B0(counter[20]), 
            .C0(n1[20]), .D0(n1730), .CI0(n1730), .A1(GND_net), .B1(counter[21]), 
            .C1(n1[21]), .D1(n3596), .CI1(n3596), .CO0(n3596), .CO1(n1732), 
            .S0(pressedtimepassed_N_157[21]), .S1(pressedtimepassed_N_157[22]));
    defparam add_163_22.INIT0 = "0xc33c";
    defparam add_163_22.INIT1 = "0xc33c";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i19 (.D(counter[19]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[19]));
    defparam countstart_i0_i19.REGSET = "RESET";
    defparam countstart_i0_i19.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i20 (.D(counter[20]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[20]));
    defparam countstart_i0_i20.REGSET = "RESET";
    defparam countstart_i0_i20.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i12_1_lut (.A(countstart[11]), 
            .Z(n1_adj_244[11]));
    defparam sub_3_inv_0_i12_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i11_1_lut (.A(countstart[10]), 
            .Z(n1_adj_244[10]));
    defparam sub_3_inv_0_i11_1_lut.INIT = "0x5555";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i0 (.D(counter[0]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[0]));
    defparam pressedcountstart_i0_i0.REGSET = "RESET";
    defparam pressedcountstart_i0_i0.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_20 (.A0(GND_net), .B0(sel_c_18), 
            .C0(n1[18]), .D0(n1728), .CI0(n1728), .A1(GND_net), .B1(counter[19]), 
            .C1(n1[19]), .D1(n3593), .CI1(n3593), .CO0(n3593), .CO1(n1730), 
            .S0(pressedtimepassed_N_157[19]), .S1(pressedtimepassed_N_157[20]));
    defparam add_163_20.INIT0 = "0xc33c";
    defparam add_163_20.INIT1 = "0xc33c";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i7 (.D(counter[7]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[7]));
    defparam countstart_i0_i7.REGSET = "RESET";
    defparam countstart_i0_i7.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i6 (.D(counter[6]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[6]));
    defparam countstart_i0_i6.REGSET = "RESET";
    defparam countstart_i0_i6.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i5 (.D(counter[5]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[5]));
    defparam countstart_i0_i5.REGSET = "RESET";
    defparam countstart_i0_i5.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_12 (.A0(GND_net), .B0(counter[10]), 
            .C0(n1_adj_244[10]), .D0(n1688), .CI0(n1688), .A1(GND_net), 
            .B1(counter[11]), .C1(n1_adj_244[11]), .D1(n3482), .CI1(n3482), 
            .CO0(n3482), .CO1(n1690), .S0(timepassed_N_155[11]), .S1(timepassed_N_155[12]));
    defparam add_164_12.INIT0 = "0xc33c";
    defparam add_164_12.INIT1 = "0xc33c";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i4 (.D(counter[4]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[4]));
    defparam countstart_i0_i4.REGSET = "RESET";
    defparam countstart_i0_i4.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i3 (.D(counter[3]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[3]));
    defparam countstart_i0_i3.REGSET = "RESET";
    defparam countstart_i0_i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i2 (.D(counter[2]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[2]));
    defparam countstart_i0_i2.REGSET = "RESET";
    defparam countstart_i0_i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i21 (.D(counter[21]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[21]));
    defparam countstart_i0_i21.REGSET = "RESET";
    defparam countstart_i0_i21.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i1 (.D(counter[1]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[1]));
    defparam countstart_i0_i1.REGSET = "RESET";
    defparam countstart_i0_i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_18 (.A0(GND_net), .B0(counter[16]), 
            .C0(n1[16]), .D0(n1726), .CI0(n1726), .A1(GND_net), .B1(counter[17]), 
            .C1(n1[17]), .D1(n3590), .CI1(n3590), .CO0(n3590), .CO1(n1728), 
            .S0(pressedtimepassed_N_157[17]), .S1(pressedtimepassed_N_157[18]));
    defparam add_163_18.INIT0 = "0xc33c";
    defparam add_163_18.INIT1 = "0xc33c";
    (* lineinfo="@4(61[11],69[6])" *) FD1P3XZ iActive__i3 (.D(n125[3]), .SP(VCC_net), 
            .CK(int_osc), .SR(reset_c), .Q(iActive[3]));
    defparam iActive__i3.REGSET = "RESET";
    defparam iActive__i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i22 (.D(counter[22]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[22]));
    defparam countstart_i0_i22.REGSET = "RESET";
    defparam countstart_i0_i22.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(61[11],69[6])" *) FD1P3XZ iActive__i2 (.D(n125[2]), .SP(VCC_net), 
            .CK(int_osc), .SR(reset_c), .Q(iActive[2]));
    defparam iActive__i2.REGSET = "RESET";
    defparam iActive__i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(61[11],69[6])" *) FD1P3XZ iActive__i1 (.D(n125[1]), .SP(VCC_net), 
            .CK(int_osc), .SR(reset_c), .Q(iActive[1]));
    defparam iActive__i1.REGSET = "RESET";
    defparam iActive__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ cycleflag__i1 (.D(n921), .SP(VCC_net), 
            .CK(int_osc), .SR(GND_net), .Q(cycleflag[1]));
    defparam cycleflag__i1.REGSET = "RESET";
    defparam cycleflag__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i31 (.D(counter[31]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[31]));
    defparam pressedcountstart_i0_i31.REGSET = "RESET";
    defparam pressedcountstart_i0_i31.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i30 (.D(counter[30]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[30]));
    defparam pressedcountstart_i0_i30.REGSET = "RESET";
    defparam pressedcountstart_i0_i30.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i29 (.D(counter[29]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[29]));
    defparam pressedcountstart_i0_i29.REGSET = "RESET";
    defparam pressedcountstart_i0_i29.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(cycleflag[0]), .B(n2303), 
            .Z(debugger_c));
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i20_1_lut (.A(pressedcountstart[19]), 
            .Z(n1[19]));
    defparam sub_5_inv_0_i20_1_lut.INIT = "0x5555";
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_2 (.A0(GND_net), .B0(counter[0]), 
            .C0(n1_adj_244[0]), .D0(VCC_net), .A1(GND_net), .B1(counter[1]), 
            .C1(n1_adj_244[1]), .D1(n3467), .CI1(n3467), .CO0(n3467), 
            .CO1(n1680), .S0(timepassed_N_155[1]), .S1(timepassed_N_155[2]));
    defparam add_164_2.INIT0 = "0xc33c";
    defparam add_164_2.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i19_1_lut (.A(pressedcountstart[18]), 
            .Z(n1[18]));
    defparam sub_5_inv_0_i19_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i22_1_lut (.A(pressedcountstart[21]), 
            .Z(n1[21]));
    defparam sub_5_inv_0_i22_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i21_1_lut (.A(pressedcountstart[20]), 
            .Z(n1[20]));
    defparam sub_5_inv_0_i21_1_lut.INIT = "0x5555";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_8 (.A0(GND_net), .B0(counter[6]), 
            .C0(n1[6]), .D0(n1716), .CI0(n1716), .A1(GND_net), .B1(counter[7]), 
            .C1(n1[7]), .D1(n3575), .CI1(n3575), .CO0(n3575), .CO1(n1718), 
            .S0(pressedtimepassed_N_157[7]), .S1(pressedtimepassed_N_157[8]));
    defparam add_163_8.INIT0 = "0xc33c";
    defparam add_163_8.INIT1 = "0xc33c";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i10_1_lut (.A(pressedcountstart[9]), 
            .Z(n1[9]));
    defparam sub_5_inv_0_i10_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i9_1_lut (.A(pressedcountstart[8]), 
            .Z(n1[8]));
    defparam sub_5_inv_0_i9_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i20_1_lut (.A(countstart[19]), 
            .Z(n1_adj_244[19]));
    defparam sub_3_inv_0_i20_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i19_1_lut (.A(countstart[18]), 
            .Z(n1_adj_244[18]));
    defparam sub_3_inv_0_i19_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i28_1_lut (.A(countstart[27]), 
            .Z(n1_adj_244[27]));
    defparam sub_3_inv_0_i28_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i27_1_lut (.A(countstart[26]), 
            .Z(n1_adj_244[26]));
    defparam sub_3_inv_0_i27_1_lut.INIT = "0x5555";
    (* lineinfo="@4(8[21],8[32])" *) IB \colunstable_pad[0]  (.I(colunstable[0]), 
            .O(colunstable_c_0));
    (* lineinfo="@4(8[21],8[32])" *) IB \colunstable_pad[1]  (.I(colunstable[1]), 
            .O(colunstable_c_1));
    (* lineinfo="@4(8[21],8[32])" *) IB \colunstable_pad[2]  (.I(colunstable[2]), 
            .O(colunstable_c_2));
    (* lineinfo="@4(8[21],8[32])" *) IB \colunstable_pad[3]  (.I(colunstable[3]), 
            .O(colunstable_c_3));
    (* lineinfo="@4(7[15],7[20])" *) IB reset_pad (.I(reset), .O(reset_c));
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i30_1_lut (.A(countstart[29]), 
            .Z(n1_adj_244[29]));
    defparam sub_3_inv_0_i30_1_lut.INIT = "0x5555";
    (* lineinfo="@4(13[15],13[23])" *) OB debugger_pad (.I(debugger_c), .O(debugger));
    (* lineinfo="@4(12[21],12[27])" *) OB \segout_pad[0]  (.I(segout_c_0), 
            .O(segout[0]));
    (* lineinfo="@4(12[21],12[27])" *) OB \segout_pad[1]  (.I(segout_c_1), 
            .O(segout[1]));
    (* lineinfo="@4(12[21],12[27])" *) OB \segout_pad[2]  (.I(segout_c_2), 
            .O(segout[2]));
    (* lineinfo="@4(12[21],12[27])" *) OB \segout_pad[3]  (.I(segout_c_3), 
            .O(segout[3]));
    (* lineinfo="@4(57[22],57[45])" *) FA2 add_164_10 (.A0(GND_net), .B0(counter[8]), 
            .C0(n1_adj_244[8]), .D0(n1686), .CI0(n1686), .A1(GND_net), 
            .B1(counter[9]), .C1(n1_adj_244[9]), .D1(n3479), .CI1(n3479), 
            .CO0(n3479), .CO1(n1688), .S0(timepassed_N_155[9]), .S1(timepassed_N_155[10]));
    defparam add_164_10.INIT0 = "0xc33c";
    defparam add_164_10.INIT1 = "0xc33c";
    (* lineinfo="@4(12[21],12[27])" *) OB \segout_pad[4]  (.I(segout_c_4), 
            .O(segout[4]));
    (* lineinfo="@4(12[21],12[27])" *) OB \segout_pad[5]  (.I(segout_c_5), 
            .O(segout[5]));
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i29_1_lut (.A(countstart[28]), 
            .Z(n1_adj_244[28]));
    defparam sub_3_inv_0_i29_1_lut.INIT = "0x5555";
    (* lineinfo="@4(12[21],12[27])" *) OB \segout_pad[6]  (.I(segout_c_6), 
            .O(segout[6]));
    (* lineinfo="@4(11[15],11[19])" *) OB nsel_pad (.I(sel_c_18_N_134), .O(nsel));
    (* lineinfo="@4(10[21],10[24])" *) OB \row_pad[0]  (.I(row_c_0), .O(row[0]));
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i32_1_lut (.A(countstart[31]), 
            .Z(n1_adj_244[31]));
    defparam sub_3_inv_0_i32_1_lut.INIT = "0x5555";
    (* lineinfo="@4(10[21],10[24])" *) OB \row_pad[1]  (.I(row_c_1), .O(row[1]));
    (* lineinfo="@4(10[21],10[24])" *) OB \row_pad[2]  (.I(row_c_2), .O(row[2]));
    (* lineinfo="@4(10[21],10[24])" *) OB \row_pad[3]  (.I(row_c_3), .O(row[3]));
    (* lineinfo="@4(9[15],9[18])" *) OB sel_pad (.I(sel_c_18), .O(sel));
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i31_1_lut (.A(countstart[30]), 
            .Z(n1_adj_244[30]));
    defparam sub_3_inv_0_i31_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i22_1_lut (.A(countstart[21]), 
            .Z(n1_adj_244[21]));
    defparam sub_3_inv_0_i22_1_lut.INIT = "0x5555";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i28 (.D(counter[28]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[28]));
    defparam pressedcountstart_i0_i28.REGSET = "RESET";
    defparam pressedcountstart_i0_i28.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i27 (.D(counter[27]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[27]));
    defparam pressedcountstart_i0_i27.REGSET = "RESET";
    defparam pressedcountstart_i0_i27.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i26 (.D(counter[26]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[26]));
    defparam pressedcountstart_i0_i26.REGSET = "RESET";
    defparam pressedcountstart_i0_i26.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i25 (.D(counter[25]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[25]));
    defparam pressedcountstart_i0_i25.REGSET = "RESET";
    defparam pressedcountstart_i0_i25.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i24 (.D(counter[24]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[24]));
    defparam pressedcountstart_i0_i24.REGSET = "RESET";
    defparam pressedcountstart_i0_i24.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i23 (.D(counter[23]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[23]));
    defparam pressedcountstart_i0_i23.REGSET = "RESET";
    defparam pressedcountstart_i0_i23.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i22 (.D(counter[22]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[22]));
    defparam pressedcountstart_i0_i22.REGSET = "RESET";
    defparam pressedcountstart_i0_i22.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i21 (.D(counter[21]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[21]));
    defparam pressedcountstart_i0_i21.REGSET = "RESET";
    defparam pressedcountstart_i0_i21.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i20 (.D(counter[20]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[20]));
    defparam pressedcountstart_i0_i20.REGSET = "RESET";
    defparam pressedcountstart_i0_i20.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i19 (.D(counter[19]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[19]));
    defparam pressedcountstart_i0_i19.REGSET = "RESET";
    defparam pressedcountstart_i0_i19.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i18 (.D(sel_c_18), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[18]));
    defparam pressedcountstart_i0_i18.REGSET = "RESET";
    defparam pressedcountstart_i0_i18.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i17 (.D(counter[17]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[17]));
    defparam pressedcountstart_i0_i17.REGSET = "RESET";
    defparam pressedcountstart_i0_i17.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i16 (.D(counter[16]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[16]));
    defparam pressedcountstart_i0_i16.REGSET = "RESET";
    defparam pressedcountstart_i0_i16.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i15 (.D(counter[15]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[15]));
    defparam pressedcountstart_i0_i15.REGSET = "RESET";
    defparam pressedcountstart_i0_i15.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i14 (.D(counter[14]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[14]));
    defparam pressedcountstart_i0_i14.REGSET = "RESET";
    defparam pressedcountstart_i0_i14.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i13 (.D(counter[13]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[13]));
    defparam pressedcountstart_i0_i13.REGSET = "RESET";
    defparam pressedcountstart_i0_i13.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i12 (.D(counter[12]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[12]));
    defparam pressedcountstart_i0_i12.REGSET = "RESET";
    defparam pressedcountstart_i0_i12.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i11 (.D(counter[11]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[11]));
    defparam pressedcountstart_i0_i11.REGSET = "RESET";
    defparam pressedcountstart_i0_i11.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i10 (.D(counter[10]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[10]));
    defparam pressedcountstart_i0_i10.REGSET = "RESET";
    defparam pressedcountstart_i0_i10.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i9 (.D(counter[9]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[9]));
    defparam pressedcountstart_i0_i9.REGSET = "RESET";
    defparam pressedcountstart_i0_i9.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i8 (.D(counter[8]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[8]));
    defparam pressedcountstart_i0_i8.REGSET = "RESET";
    defparam pressedcountstart_i0_i8.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i7 (.D(counter[7]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[7]));
    defparam pressedcountstart_i0_i7.REGSET = "RESET";
    defparam pressedcountstart_i0_i7.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i6 (.D(counter[6]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[6]));
    defparam pressedcountstart_i0_i6.REGSET = "RESET";
    defparam pressedcountstart_i0_i6.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i5 (.D(counter[5]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[5]));
    defparam pressedcountstart_i0_i5.REGSET = "RESET";
    defparam pressedcountstart_i0_i5.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i4 (.D(counter[4]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[4]));
    defparam pressedcountstart_i0_i4.REGSET = "RESET";
    defparam pressedcountstart_i0_i4.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i3 (.D(counter[3]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[3]));
    defparam pressedcountstart_i0_i3.REGSET = "RESET";
    defparam pressedcountstart_i0_i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i2 (.D(counter[2]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[2]));
    defparam pressedcountstart_i0_i2.REGSET = "RESET";
    defparam pressedcountstart_i0_i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ pressedcountstart_i0_i1 (.D(counter[1]), 
            .SP(n533), .CK(int_osc), .SR(GND_net), .Q(pressedcountstart[1]));
    defparam pressedcountstart_i0_i1.REGSET = "RESET";
    defparam pressedcountstart_i0_i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i0 (.D(counter[0]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[0]));
    defparam countstart_i0_i0.REGSET = "RESET";
    defparam countstart_i0_i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i21_1_lut (.A(countstart[20]), 
            .Z(n1_adj_244[20]));
    defparam sub_3_inv_0_i21_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i4_1_lut (.A(countstart[3]), 
            .Z(n1_adj_244[3]));
    defparam sub_3_inv_0_i4_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i3_1_lut (.A(countstart[2]), 
            .Z(n1_adj_244[2]));
    defparam sub_3_inv_0_i3_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i14_1_lut (.A(countstart[13]), 
            .Z(n1_adj_244[13]));
    defparam sub_3_inv_0_i14_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i13_1_lut (.A(countstart[12]), 
            .Z(n1_adj_244[12]));
    defparam sub_3_inv_0_i13_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i18_1_lut (.A(countstart[17]), 
            .Z(n1_adj_244[17]));
    defparam sub_3_inv_0_i18_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i17_1_lut (.A(countstart[16]), 
            .Z(n1_adj_244[16]));
    defparam sub_3_inv_0_i17_1_lut.INIT = "0x5555";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i5_4_lut (.A(timepassed_N_155[1]), 
            .B(timepassed_N_155[5]), .C(timepassed_N_155[4]), .D(timepassed_N_155[7]), 
            .Z(n12_adj_206));
    defparam i5_4_lut.INIT = "0xfffe";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i6_4_lut_adj_13 (.A(timepassed_N_155[3]), 
            .B(n12_adj_206), .C(timepassed_N_155[2]), .D(timepassed_N_155[6]), 
            .Z(n2139));
    defparam i6_4_lut_adj_13.INIT = "0xfffe";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i310_4_lut (.A(timepassed_N_155[9]), 
            .B(timepassed_N_155[10]), .C(timepassed_N_155[8]), .D(n2139), 
            .Z(n20_adj_200));
    defparam i310_4_lut.INIT = "0xeccc";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i1_4_lut_adj_14 (.A(timepassed_N_155[12]), 
            .B(timepassed_N_155[14]), .C(timepassed_N_155[11]), .D(n20_adj_200), 
            .Z(n5_adj_201));
    defparam i1_4_lut_adj_14.INIT = "0xeccc";
    (* lut_function="(A (B)+!A (B (C+(D))))" *) LUT4 i1_4_lut_adj_15 (.A(n5_adj_201), 
            .B(timepassed_N_155[17]), .C(timepassed_N_155[15]), .D(timepassed_N_155[13]), 
            .Z(n5_adj_242));
    defparam i1_4_lut_adj_15.INIT = "0xccc8";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i236_4_lut (.A(n5_adj_242), 
            .B(timepassed_N_155[19]), .C(timepassed_N_155[18]), .D(timepassed_N_155[16]), 
            .Z(n38_adj_196));
    defparam i236_4_lut.INIT = "0xeccc";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(57[22],57[55])" *) LUT4 i6_4_lut_adj_16 (.A(timepassed_N_155[30]), 
            .B(timepassed_N_155[26]), .C(timepassed_N_155[32]), .D(timepassed_N_155[28]), 
            .Z(n16_adj_243));
    defparam i6_4_lut_adj_16.INIT = "0xfffe";
    (* lut_function="(A (B+(C (D)))+!A (B))" *) LUT4 i239_4_lut (.A(timepassed_N_155[21]), 
            .B(timepassed_N_155[22]), .C(timepassed_N_155[20]), .D(n38_adj_196), 
            .Z(n44_adj_195));
    defparam i239_4_lut.INIT = "0xeccc";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ i0__i3 (.D(itemp[3]), .SP(n535), 
            .CK(int_osc), .SR(reset_c), .Q(i0[3]));
    defparam i0__i3.REGSET = "RESET";
    defparam i0__i3.SRMODE = "CE_OVER_LSR";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=73, LSE_LLINE=47, LSE_RLINE=47, lineinfo="@4(47[15],47[73])" *) count_module clocker (counter[15], 
            counter[16], counter[13], counter[14], int_osc, counter[11], 
            counter[12], counter[31], reset_c, counter[30], counter[9], 
            counter[10], counter[29], counter[28], counter[27], counter[7], 
            counter[8], counter[26], counter[25], counter[24], counter[23], 
            counter[22], counter[21], counter[20], counter[19], sel_c_18, 
            counter[17], counter[6], counter[5], counter[4], counter[3], 
            counter[2], counter[1], counter[0], {col}, n2307, row_c_0);
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ i0__i2 (.D(itemp[2]), .SP(n535), 
            .CK(int_osc), .SR(reset_c), .Q(i0[2]));
    defparam i0__i2.REGSET = "RESET";
    defparam i0__i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ i0__i1 (.D(itemp[1]), .SP(n535), 
            .CK(int_osc), .SR(reset_c), .Q(i0[1]));
    defparam i0__i1.REGSET = "RESET";
    defparam i0__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ i1__i3 (.D(i0[3]), .SP(n535), 
            .CK(int_osc), .SR(reset_c), .Q(i1[3]));
    defparam i1__i3.REGSET = "RESET";
    defparam i1__i3.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ i1__i2 (.D(i0[2]), .SP(n535), 
            .CK(int_osc), .SR(reset_c), .Q(i1[2]));
    defparam i1__i2.REGSET = "RESET";
    defparam i1__i2.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ i1__i1 (.D(i0[1]), .SP(n535), 
            .CK(int_osc), .SR(reset_c), .Q(i1[1]));
    defparam i1__i1.REGSET = "RESET";
    defparam i1__i1.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i31 (.D(counter[31]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[31]));
    defparam countstart_i0_i31.REGSET = "RESET";
    defparam countstart_i0_i31.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i30 (.D(counter[30]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[30]));
    defparam countstart_i0_i30.REGSET = "RESET";
    defparam countstart_i0_i30.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i29 (.D(counter[29]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[29]));
    defparam countstart_i0_i29.REGSET = "RESET";
    defparam countstart_i0_i29.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i28 (.D(counter[28]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[28]));
    defparam countstart_i0_i28.REGSET = "RESET";
    defparam countstart_i0_i28.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i27 (.D(counter[27]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[27]));
    defparam countstart_i0_i27.REGSET = "RESET";
    defparam countstart_i0_i27.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i26 (.D(counter[26]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[26]));
    defparam countstart_i0_i26.REGSET = "RESET";
    defparam countstart_i0_i26.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i25 (.D(counter[25]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[25]));
    defparam countstart_i0_i25.REGSET = "RESET";
    defparam countstart_i0_i25.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i24 (.D(counter[24]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[24]));
    defparam countstart_i0_i24.REGSET = "RESET";
    defparam countstart_i0_i24.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ countstart_i0_i23 (.D(counter[23]), 
            .SP(n535), .CK(int_osc), .SR(GND_net), .Q(countstart[23]));
    defparam countstart_i0_i23.REGSET = "RESET";
    defparam countstart_i0_i23.SRMODE = "CE_OVER_LSR";
    VLO i1_2 (.Z(GND_net));
    (* lut_function="(A (B+(C+(D)))+!A (B+(C)))", lineinfo="@4(57[22],57[55])" *) LUT4 i8_4_lut_adj_17 (.A(n44_adj_195), 
            .B(n16_adj_243), .C(timepassed_N_155[31]), .D(timepassed_N_155[23]), 
            .Z(n18_adj_238));
    defparam i8_4_lut_adj_17.INIT = "0xfefc";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@4(57[22],57[55])" *) LUT4 i7_4_lut (.A(timepassed_N_155[29]), 
            .B(timepassed_N_155[25]), .C(timepassed_N_155[24]), .D(timepassed_N_155[27]), 
            .Z(n17_adj_239));
    defparam i7_4_lut.INIT = "0xfffe";
    (* lut_function="(!(A+(B+!(C+(D)))))" *) LUT4 i2_4_lut (.A(cycleflag[1]), 
            .B(pressed), .C(n17_adj_239), .D(n18_adj_238), .Z(n2303));
    defparam i2_4_lut.INIT = "0x1110";
    (* lut_function="((B)+!A)", lineinfo="@4(79[11],111[6])" *) LUT4 i1881_2_lut (.A(pressed), 
            .B(cycleflag[1]), .Z(n2683));
    defparam i1881_2_lut.INIT = "0xdddd";
    (* lut_function="(!(A+(B (C+!(D))+!B (C (D)))))", lineinfo="@4(79[11],111[6])" *) LUT4 i2020_4_lut (.A(reset_c), 
            .B(n2683), .C(n2303), .D(cycleflag[0]), .Z(n11_adj_197));
    defparam i2020_4_lut.INIT = "0x0511";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i24_1_lut (.A(countstart[23]), 
            .Z(n1_adj_244[23]));
    defparam sub_3_inv_0_i24_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i23_1_lut (.A(countstart[22]), 
            .Z(n1_adj_244[22]));
    defparam sub_3_inv_0_i23_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i24_1_lut (.A(pressedcountstart[23]), 
            .Z(n1[23]));
    defparam sub_5_inv_0_i24_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i23_1_lut (.A(pressedcountstart[22]), 
            .Z(n1[22]));
    defparam sub_5_inv_0_i23_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i6_1_lut (.A(countstart[5]), 
            .Z(n1_adj_244[5]));
    defparam sub_3_inv_0_i6_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i5_1_lut (.A(countstart[4]), 
            .Z(n1_adj_244[4]));
    defparam sub_3_inv_0_i5_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i16_1_lut (.A(countstart[15]), 
            .Z(n1_adj_244[15]));
    defparam sub_3_inv_0_i16_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i15_1_lut (.A(countstart[14]), 
            .Z(n1_adj_244[14]));
    defparam sub_3_inv_0_i15_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i26_1_lut (.A(pressedcountstart[25]), 
            .Z(n1[25]));
    defparam sub_5_inv_0_i26_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i25_1_lut (.A(pressedcountstart[24]), 
            .Z(n1[24]));
    defparam sub_5_inv_0_i25_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i26_1_lut (.A(countstart[25]), 
            .Z(n1_adj_244[25]));
    defparam sub_3_inv_0_i26_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i25_1_lut (.A(countstart[24]), 
            .Z(n1_adj_244[24]));
    defparam sub_3_inv_0_i25_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i2_1_lut (.A(pressedcountstart[1]), 
            .Z(n1[1]));
    defparam sub_5_inv_0_i2_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i1_1_lut (.A(pressedcountstart[0]), 
            .Z(n1[0]));
    defparam sub_5_inv_0_i1_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i12_1_lut (.A(pressedcountstart[11]), 
            .Z(n1[11]));
    defparam sub_5_inv_0_i12_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i11_1_lut (.A(pressedcountstart[10]), 
            .Z(n1[10]));
    defparam sub_5_inv_0_i11_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i14_1_lut (.A(pressedcountstart[13]), 
            .Z(n1[13]));
    defparam sub_5_inv_0_i14_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i13_1_lut (.A(pressedcountstart[12]), 
            .Z(n1[12]));
    defparam sub_5_inv_0_i13_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i8_1_lut (.A(countstart[7]), 
            .Z(n1_adj_244[7]));
    defparam sub_3_inv_0_i8_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i7_1_lut (.A(countstart[6]), 
            .Z(n1_adj_244[6]));
    defparam sub_3_inv_0_i7_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i4_1_lut (.A(pressedcountstart[3]), 
            .Z(n1[3]));
    defparam sub_5_inv_0_i4_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i3_1_lut (.A(pressedcountstart[2]), 
            .Z(n1[2]));
    defparam sub_5_inv_0_i3_1_lut.INIT = "0x5555";
    (* lut_function="(A (B+!(C))+!A (B (C)))", lineinfo="@4(67[16],67[29])" *) LUT4 mux_9_i1_3_lut (.A(i1[0]), 
            .B(i0[0]), .C(sel_c_18), .Z(n125[0]));
    defparam mux_9_i1_3_lut.INIT = "0xcaca";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i16_1_lut (.A(pressedcountstart[15]), 
            .Z(n1[15]));
    defparam sub_5_inv_0_i16_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i15_1_lut (.A(pressedcountstart[14]), 
            .Z(n1[14]));
    defparam sub_5_inv_0_i15_1_lut.INIT = "0x5555";
    (* lineinfo="@4(58[29],58[58])" *) FA2 add_163_32 (.A0(GND_net), .B0(counter[30]), 
            .C0(n1[30]), .D0(n1740), .CI0(n1740), .A1(GND_net), .B1(counter[31]), 
            .C1(n1[31]), .D1(n3611), .CI1(n3611), .CO0(n3611), .S0(pressedtimepassed_N_157[31]), 
            .S1(pressedtimepassed_N_157[32]));
    defparam add_163_32.INIT0 = "0xc33c";
    defparam add_163_32.INIT1 = "0xc33c";
    (* lineinfo="@4(79[11],111[6])" *) FD1P3XZ i1__i0 (.D(i0[0]), .SP(n535), 
            .CK(int_osc), .SR(reset_c), .Q(i1[0]));
    defparam i1__i0.REGSET = "RESET";
    defparam i1__i0.SRMODE = "CE_OVER_LSR";
    (* lut_function="(A+!(B+(C+!(D))))", lineinfo="@4(79[11],111[6])" *) LUT4 i412_2_lut_4_lut (.A(reset_c), 
            .B(cycleflag[0]), .C(cycleflag[1]), .D(pressed), .Z(n535));
    defparam i412_2_lut_4_lut.INIT = "0xabaa";
    (* lut_function="(A (B (C+!(D))+!B (C))+!A (C))", lineinfo="@4(80[3],107[7])" *) LUT4 i66_3_lut_4_lut (.A(cycleflag[0]), 
            .B(n2303), .C(reset_c), .D(n147), .Z(n533));
    defparam i66_3_lut_4_lut.INIT = "0xf0f8";
    (* lut_function="(!(A+(B+!(C))))" *) LUT4 i2_3_lut (.A(cycleflag[0]), 
            .B(cycleflag[1]), .C(pressed), .Z(n147));
    defparam i2_3_lut.INIT = "0x1010";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i6_1_lut (.A(pressedcountstart[5]), 
            .Z(n1[5]));
    defparam sub_5_inv_0_i6_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i5_1_lut (.A(pressedcountstart[4]), 
            .Z(n1[4]));
    defparam sub_5_inv_0_i5_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i28_1_lut (.A(pressedcountstart[27]), 
            .Z(n1[27]));
    defparam sub_5_inv_0_i28_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i27_1_lut (.A(pressedcountstart[26]), 
            .Z(n1[26]));
    defparam sub_5_inv_0_i27_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i30_1_lut (.A(pressedcountstart[29]), 
            .Z(n1[29]));
    defparam sub_5_inv_0_i30_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i29_1_lut (.A(pressedcountstart[28]), 
            .Z(n1[28]));
    defparam sub_5_inv_0_i29_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i32_1_lut (.A(pressedcountstart[31]), 
            .Z(n1[31]));
    defparam sub_5_inv_0_i32_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i31_1_lut (.A(pressedcountstart[30]), 
            .Z(n1[30]));
    defparam sub_5_inv_0_i31_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(116[16],116[20])" *) LUT4 sel_c_18_I_0_1_lut (.A(sel_c_18), 
            .Z(sel_c_18_N_134));
    defparam sel_c_18_I_0_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i10_1_lut (.A(countstart[9]), 
            .Z(n1_adj_244[9]));
    defparam sub_3_inv_0_i10_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i9_1_lut (.A(countstart[8]), 
            .Z(n1_adj_244[8]));
    defparam sub_3_inv_0_i9_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i8_1_lut (.A(pressedcountstart[7]), 
            .Z(n1[7]));
    defparam sub_5_inv_0_i8_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(58[29],58[58])" *) LUT4 sub_5_inv_0_i7_1_lut (.A(pressedcountstart[6]), 
            .Z(n1[6]));
    defparam sub_5_inv_0_i7_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i2_1_lut (.A(countstart[1]), 
            .Z(n1_adj_244[1]));
    defparam sub_3_inv_0_i2_1_lut.INIT = "0x5555";
    (* lut_function="(!(A))", lineinfo="@4(57[22],57[45])" *) LUT4 sub_3_inv_0_i1_1_lut (.A(countstart[0]), 
            .Z(n1_adj_244[0]));
    defparam sub_3_inv_0_i1_1_lut.INIT = "0x5555";
    (* lut_function="(A+(B+(C+(D))))" *) LUT4 i5_4_lut_adj_18 (.A(pressedtimepassed_N_157[1]), 
            .B(pressedtimepassed_N_157[5]), .C(pressedtimepassed_N_157[4]), 
            .D(pressedtimepassed_N_157[7]), .Z(n12_adj_240));
    defparam i5_4_lut_adj_18.INIT = "0xfffe";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=81, LSE_LLINE=50, LSE_RLINE=50, lineinfo="@4(50[15],50[81])" *) synchronizer colsyncer (colunstable_c_3, 
            {col}, int_osc, colunstable_c_2, colunstable_c_1, colunstable_c_0);
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=17, LSE_RCOL=92, LSE_LLINE=44, LSE_RLINE=44, lineinfo="@4(44[17],44[92])" *) keypad_handler keypad ({col}, 
            counter[16], counter[15], n2307, row_c_3, row_c_2, row_c_1, 
            row_c_0, {itemp}, pressed);
    
endmodule

//
// Verilog Description of module sevensegLUT
//

module sevensegLUT (input [3:0]iActive, output segout_c_2, output segout_c_1, 
            output segout_c_0, output segout_c_6, output segout_c_5, output segout_c_4, 
            output segout_c_3);
    
    
    (* lut_function="(!(A (B+!(C))+!A (B ((D)+!C)+!B !(C+(D)))))", lineinfo="@2(9[3],29[10])" *) LUT4 segout_c_2_I_0_4_lut (.A(iActive[1]), 
            .B(iActive[3]), .C(iActive[0]), .D(iActive[2]), .Z(segout_c_2));
    defparam segout_c_2_I_0_4_lut.INIT = "0x3170";
    (* lut_function="(!(A (B+!((D)+!C))+!A !(B (C (D))+!B !(C+!(D)))))", lineinfo="@2(9[3],29[10])" *) LUT4 segout_c_1_I_0_4_lut (.A(iActive[1]), 
            .B(iActive[3]), .C(iActive[2]), .D(iActive[0]), .Z(segout_c_1));
    defparam segout_c_1_I_0_4_lut.INIT = "0x6302";
    (* lut_function="(!(A ((C+!(D))+!B)+!A (B (C+(D))+!B !(C (D)+!C !(D)))))", lineinfo="@2(9[3],29[10])" *) LUT4 iActive_3__I_0_4_lut (.A(iActive[1]), 
            .B(iActive[0]), .C(iActive[3]), .D(iActive[2]), .Z(segout_c_0));
    defparam iActive_3__I_0_4_lut.INIT = "0x1805";
    (* lut_function="(!(A (B ((D)+!C)+!B !(C (D)+!C !(D)))+!A (B+(C+!(D)))))", lineinfo="@2(9[3],29[10])" *) LUT4 segout_c_6_I_0_4_lut (.A(iActive[0]), 
            .B(iActive[1]), .C(iActive[3]), .D(iActive[2]), .Z(segout_c_6));
    defparam segout_c_6_I_0_4_lut.INIT = "0x2182";
    (* lut_function="(A (B (D)+!B !((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@2(9[3],29[10])" *) LUT4 segout_c_5_I_0_4_lut (.A(iActive[0]), 
            .B(iActive[3]), .C(iActive[2]), .D(iActive[1]), .Z(segout_c_5));
    defparam segout_c_5_I_0_4_lut.INIT = "0xd860";
    (* lut_function="(A (B (C (D)))+!A (B (D)+!B !((D)+!C)))", lineinfo="@2(9[3],29[10])" *) LUT4 segout_c_4_I_0_4_lut (.A(iActive[0]), 
            .B(iActive[3]), .C(iActive[1]), .D(iActive[2]), .Z(segout_c_4));
    defparam segout_c_4_I_0_4_lut.INIT = "0xc410";
    (* lut_function="(A (C (D)+!C !(D))+!A !(B (C+!(D))+!B ((D)+!C)))", lineinfo="@2(9[3],29[10])" *) LUT4 segout_c_3_I_0_4_lut (.A(iActive[0]), 
            .B(iActive[3]), .C(iActive[2]), .D(iActive[1]), .Z(segout_c_3));
    defparam segout_c_3_I_0_4_lut.INIT = "0xa41a";
    
endmodule

//
// Verilog Description of module count_module
//

module count_module (output \counter[15] , output \counter[16] , output \counter[13] , 
            output \counter[14] , output int_osc, output \counter[11] , 
            output \counter[12] , output \counter[31] , input reset_c, 
            output \counter[30] , output \counter[9] , output \counter[10] , 
            output \counter[29] , output \counter[28] , output \counter[27] , 
            output \counter[7] , output \counter[8] , output \counter[26] , 
            output \counter[25] , output \counter[24] , output \counter[23] , 
            output \counter[22] , output \counter[21] , output \counter[20] , 
            output \counter[19] , output sel_c_18, output \counter[17] , 
            output \counter[6] , output \counter[5] , output \counter[4] , 
            output \counter[3] , output \counter[2] , output \counter[1] , 
            output \counter[0] , input [3:0]col, output n2307, output row_c_0);
    
    (* is_clock=1, lineinfo="@4(25[8],25[15])" *) wire int_osc;
    
    wire n1758, n3539, GND_net, n1760;
    wire [31:0]n133;
    
    wire n1756, n3536, VCC_net, n1754, n3533, n1752, n3530, n1750, 
        n3527, n1774, n3563, n1748, n3524, n1772, n3560, n1770, 
        n3557, n1746, n3521, n1768, n3554, n1744, n3518, n1766, 
        n3551, n3515, n1764, n3548, n1762, n3545, n3542;
    
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_17 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[15] ), .D0(n1758), .CI0(n1758), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[16] ), .D1(n3539), 
            .CI1(n3539), .CO0(n3539), .CO1(n1760), .S0(n133[15]), .S1(n133[16]));
    defparam counter_95_add_4_17.INIT0 = "0xc33c";
    defparam counter_95_add_4_17.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_15 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[13] ), .D0(n1756), .CI0(n1756), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[14] ), .D1(n3536), 
            .CI1(n3536), .CO0(n3536), .CO1(n1758), .S0(n133[13]), .S1(n133[14]));
    defparam counter_95_add_4_15.INIT0 = "0xc33c";
    defparam counter_95_add_4_15.INIT1 = "0xc33c";
    (* syn_instantiated=1, LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=73, LSE_LLINE=47, LSE_RLINE=47, lineinfo="@4(47[15],47[73])" *) HSOSC hf_osc (.CLKHFPU(VCC_net), 
            .CLKHFEN(VCC_net), .CLKHF(int_osc));
    defparam hf_osc.CLKHF_DIV = "0b01";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_13 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[11] ), .D0(n1754), .CI0(n1754), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[12] ), .D1(n3533), 
            .CI1(n3533), .CO0(n3533), .CO1(n1756), .S0(n133[11]), .S1(n133[12]));
    defparam counter_95_add_4_13.INIT0 = "0xc33c";
    defparam counter_95_add_4_13.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i30 (.D(n133[30]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[30] ));
    defparam counter_95__i30.REGSET = "RESET";
    defparam counter_95__i30.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i29 (.D(n133[29]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[29] ));
    defparam counter_95__i29.REGSET = "RESET";
    defparam counter_95__i29.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_11 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[9] ), .D0(n1752), .CI0(n1752), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[10] ), .D1(n3530), 
            .CI1(n3530), .CO0(n3530), .CO1(n1754), .S0(n133[9]), .S1(n133[10]));
    defparam counter_95_add_4_11.INIT0 = "0xc33c";
    defparam counter_95_add_4_11.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i28 (.D(n133[28]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[28] ));
    defparam counter_95__i28.REGSET = "RESET";
    defparam counter_95__i28.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i27 (.D(n133[27]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[27] ));
    defparam counter_95__i27.REGSET = "RESET";
    defparam counter_95__i27.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i26 (.D(n133[26]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[26] ));
    defparam counter_95__i26.REGSET = "RESET";
    defparam counter_95__i26.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_9 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[7] ), .D0(n1750), .CI0(n1750), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[8] ), .D1(n3527), 
            .CI1(n3527), .CO0(n3527), .CO1(n1752), .S0(n133[7]), .S1(n133[8]));
    defparam counter_95_add_4_9.INIT0 = "0xc33c";
    defparam counter_95_add_4_9.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i25 (.D(n133[25]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[25] ));
    defparam counter_95__i25.REGSET = "RESET";
    defparam counter_95__i25.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i24 (.D(n133[24]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[24] ));
    defparam counter_95__i24.REGSET = "RESET";
    defparam counter_95__i24.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i23 (.D(n133[23]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[23] ));
    defparam counter_95__i23.REGSET = "RESET";
    defparam counter_95__i23.SRMODE = "CE_OVER_LSR";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_33 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[31] ), .D0(n1774), .CI0(n1774), 
            .A1(GND_net), .B1(GND_net), .C1(GND_net), .D1(n3563), .CI1(n3563), 
            .CO0(n3563), .S0(n133[31]));
    defparam counter_95_add_4_33.INIT0 = "0xc33c";
    defparam counter_95_add_4_33.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i22 (.D(n133[22]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[22] ));
    defparam counter_95__i22.REGSET = "RESET";
    defparam counter_95__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i21 (.D(n133[21]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[21] ));
    defparam counter_95__i21.REGSET = "RESET";
    defparam counter_95__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i20 (.D(n133[20]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[20] ));
    defparam counter_95__i20.REGSET = "RESET";
    defparam counter_95__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i19 (.D(n133[19]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[19] ));
    defparam counter_95__i19.REGSET = "RESET";
    defparam counter_95__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i18 (.D(n133[18]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(sel_c_18));
    defparam counter_95__i18.REGSET = "RESET";
    defparam counter_95__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i17 (.D(n133[17]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[17] ));
    defparam counter_95__i17.REGSET = "RESET";
    defparam counter_95__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i16 (.D(n133[16]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[16] ));
    defparam counter_95__i16.REGSET = "RESET";
    defparam counter_95__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i15 (.D(n133[15]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[15] ));
    defparam counter_95__i15.REGSET = "RESET";
    defparam counter_95__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i14 (.D(n133[14]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[14] ));
    defparam counter_95__i14.REGSET = "RESET";
    defparam counter_95__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i13 (.D(n133[13]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[13] ));
    defparam counter_95__i13.REGSET = "RESET";
    defparam counter_95__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i12 (.D(n133[12]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[12] ));
    defparam counter_95__i12.REGSET = "RESET";
    defparam counter_95__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i11 (.D(n133[11]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[11] ));
    defparam counter_95__i11.REGSET = "RESET";
    defparam counter_95__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i10 (.D(n133[10]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[10] ));
    defparam counter_95__i10.REGSET = "RESET";
    defparam counter_95__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i9 (.D(n133[9]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[9] ));
    defparam counter_95__i9.REGSET = "RESET";
    defparam counter_95__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i8 (.D(n133[8]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[8] ));
    defparam counter_95__i8.REGSET = "RESET";
    defparam counter_95__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i7 (.D(n133[7]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[7] ));
    defparam counter_95__i7.REGSET = "RESET";
    defparam counter_95__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i6 (.D(n133[6]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[6] ));
    defparam counter_95__i6.REGSET = "RESET";
    defparam counter_95__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i5 (.D(n133[5]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[5] ));
    defparam counter_95__i5.REGSET = "RESET";
    defparam counter_95__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i4 (.D(n133[4]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[4] ));
    defparam counter_95__i4.REGSET = "RESET";
    defparam counter_95__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i3 (.D(n133[3]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[3] ));
    defparam counter_95__i3.REGSET = "RESET";
    defparam counter_95__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i2 (.D(n133[2]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[2] ));
    defparam counter_95__i2.REGSET = "RESET";
    defparam counter_95__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i1 (.D(n133[1]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[1] ));
    defparam counter_95__i1.REGSET = "RESET";
    defparam counter_95__i1.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i0 (.D(n133[0]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[0] ));
    defparam counter_95__i0.REGSET = "RESET";
    defparam counter_95__i0.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_7 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[5] ), .D0(n1748), .CI0(n1748), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[6] ), .D1(n3524), 
            .CI1(n3524), .CO0(n3524), .CO1(n1750), .S0(n133[5]), .S1(n133[6]));
    defparam counter_95_add_4_7.INIT0 = "0xc33c";
    defparam counter_95_add_4_7.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_31 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[29] ), .D0(n1772), .CI0(n1772), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[30] ), .D1(n3560), 
            .CI1(n3560), .CO0(n3560), .CO1(n1774), .S0(n133[29]), .S1(n133[30]));
    defparam counter_95_add_4_31.INIT0 = "0xc33c";
    defparam counter_95_add_4_31.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_29 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[27] ), .D0(n1770), .CI0(n1770), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[28] ), .D1(n3557), 
            .CI1(n3557), .CO0(n3557), .CO1(n1772), .S0(n133[27]), .S1(n133[28]));
    defparam counter_95_add_4_29.INIT0 = "0xc33c";
    defparam counter_95_add_4_29.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_5 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[3] ), .D0(n1746), .CI0(n1746), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[4] ), .D1(n3521), 
            .CI1(n3521), .CO0(n3521), .CO1(n1748), .S0(n133[3]), .S1(n133[4]));
    defparam counter_95_add_4_5.INIT0 = "0xc33c";
    defparam counter_95_add_4_5.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_27 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[25] ), .D0(n1768), .CI0(n1768), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[26] ), .D1(n3554), 
            .CI1(n3554), .CO0(n3554), .CO1(n1770), .S0(n133[25]), .S1(n133[26]));
    defparam counter_95_add_4_27.INIT0 = "0xc33c";
    defparam counter_95_add_4_27.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_3 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[1] ), .D0(n1744), .CI0(n1744), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[2] ), .D1(n3518), 
            .CI1(n3518), .CO0(n3518), .CO1(n1746), .S0(n133[1]), .S1(n133[2]));
    defparam counter_95_add_4_3.INIT0 = "0xc33c";
    defparam counter_95_add_4_3.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_25 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[23] ), .D0(n1766), .CI0(n1766), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[24] ), .D1(n3551), 
            .CI1(n3551), .CO0(n3551), .CO1(n1768), .S0(n133[23]), .S1(n133[24]));
    defparam counter_95_add_4_25.INIT0 = "0xc33c";
    defparam counter_95_add_4_25.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_1 (.A0(GND_net), 
            .B0(GND_net), .C0(GND_net), .A1(GND_net), .B1(VCC_net), 
            .C1(\counter[0] ), .D1(n3515), .CI1(n3515), .CO0(n3515), 
            .CO1(n1744), .S1(n133[0]));
    defparam counter_95_add_4_1.INIT0 = "0xc33c";
    defparam counter_95_add_4_1.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_23 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[21] ), .D0(n1764), .CI0(n1764), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[22] ), .D1(n3548), 
            .CI1(n3548), .CO0(n3548), .CO1(n1766), .S0(n133[21]), .S1(n133[22]));
    defparam counter_95_add_4_23.INIT0 = "0xc33c";
    defparam counter_95_add_4_23.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_21 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[19] ), .D0(n1762), .CI0(n1762), 
            .A1(GND_net), .B1(GND_net), .C1(\counter[20] ), .D1(n3545), 
            .CI1(n3545), .CO0(n3545), .CO1(n1764), .S0(n133[19]), .S1(n133[20]));
    defparam counter_95_add_4_21.INIT0 = "0xc33c";
    defparam counter_95_add_4_21.INIT1 = "0xc33c";
    (* lineinfo="@0(15[15],15[29])" *) FA2 counter_95_add_4_19 (.A0(GND_net), 
            .B0(GND_net), .C0(\counter[17] ), .D0(n1760), .CI0(n1760), 
            .A1(GND_net), .B1(GND_net), .C1(sel_c_18), .D1(n3542), .CI1(n3542), 
            .CO0(n3542), .CO1(n1762), .S0(n133[17]), .S1(n133[18]));
    defparam counter_95_add_4_19.INIT0 = "0xc33c";
    defparam counter_95_add_4_19.INIT1 = "0xc33c";
    (* lut_function="(!(A+(B (C+(D))+!B (C+!(D)))))" *) LUT4 i2_4_lut (.A(col[0]), 
            .B(col[1]), .C(col[2]), .D(col[3]), .Z(n2307));
    defparam i2_4_lut.INIT = "0x0104";
    (* lut_function="(!(A+(B)))", lineinfo="@0(15[15],15[29])" *) LUT4 i2028_2_lut (.A(\counter[15] ), 
            .B(\counter[16] ), .Z(row_c_0));
    defparam i2028_2_lut.INIT = "0x1111";
    VHI i2 (.Z(VCC_net));
    (* syn_use_carry_chain=1, lineinfo="@0(15[15],15[29])" *) FD1P3XZ counter_95__i31 (.D(n133[31]), 
            .SP(VCC_net), .CK(int_osc), .SR(reset_c), .Q(\counter[31] ));
    defparam counter_95__i31.REGSET = "RESET";
    defparam counter_95__i31.SRMODE = "CE_OVER_LSR";
    
endmodule

//
// Verilog Description of module synchronizer
//

module synchronizer (input colunstable_c_3, output [3:0]col, input int_osc, 
            input colunstable_c_2, input colunstable_c_1, input colunstable_c_0);
    
    (* is_clock=1, lineinfo="@4(25[8],25[15])" *) wire int_osc;
    
    wire VCC_net, GND_net;
    
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=81, LSE_LLINE=50, LSE_RLINE=50, lineinfo="@3(7[12],9[5])" *) IOL_B stableval_i2 (.PADDI(colunstable_c_2), 
            .DO1(GND_net), .DO0(GND_net), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(int_osc), .OUTCLK(GND_net), .DI0(col[2]));
    defparam stableval_i2.LATCHIN = "NONE_REG";
    defparam stableval_i2.DDROUT = "NO";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=81, LSE_LLINE=50, LSE_RLINE=50, lineinfo="@3(7[12],9[5])" *) IOL_B stableval_i1 (.PADDI(colunstable_c_1), 
            .DO1(GND_net), .DO0(GND_net), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(int_osc), .OUTCLK(GND_net), .DI0(col[1]));
    defparam stableval_i1.LATCHIN = "NONE_REG";
    defparam stableval_i1.DDROUT = "NO";
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=81, LSE_LLINE=50, LSE_RLINE=50, lineinfo="@3(7[12],9[5])" *) IOL_B stableval_i0 (.PADDI(colunstable_c_0), 
            .DO1(GND_net), .DO0(GND_net), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(int_osc), .OUTCLK(GND_net), .DI0(col[0]));
    defparam stableval_i0.LATCHIN = "NONE_REG";
    defparam stableval_i0.DDROUT = "NO";
    VLO i2 (.Z(GND_net));
    (* LSE_LINE_FILE_ID=72, LSE_LCOL=15, LSE_RCOL=81, LSE_LLINE=50, LSE_RLINE=50, lineinfo="@3(7[12],9[5])" *) IOL_B stableval_i3 (.PADDI(colunstable_c_3), 
            .DO1(GND_net), .DO0(GND_net), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(int_osc), .OUTCLK(GND_net), .DI0(col[3]));
    defparam stableval_i3.LATCHIN = "NONE_REG";
    defparam stableval_i3.DDROUT = "NO";
    VHI i1 (.Z(VCC_net));
    
endmodule

//
// Verilog Description of module keypad_handler
//

module keypad_handler (input [3:0]col, input \counter[16] , input \counter[15] , 
            input n2307, output row_c_3, output row_c_2, output row_c_1, 
            input row_c_0, output [3:0]itemp, output pressed);
    
    wire [3:0]pressedarr;
    wire [5:0]num;
    
    wire n76, n2691, n1352, n40, n67, n67_adj_158, n67_adj_159, 
        n2481, n141, n1396, n61, n2125, n2485, n1633, n64, n70, 
        n2483, n2670, n2669, num_1__N_125, n1948, n1567, n2663, 
        n2685, n896, n73, n2668, n70_adj_160, n127, n67_adj_161, 
        n830, n17, n2310, n65, n71, n2655, n2654, n2688;
    
    (* lut_function="(!(A+!(B)))" *) LUT4 i1_2_lut (.A(col[0]), .B(\counter[16] ), 
            .Z(n76));
    defparam i1_2_lut.INIT = "0x4444";
    (* lut_function="(!(A (B (C (D))+!B (C))+!A (((D)+!C)+!B)))" *) LUT4 i61_4_lut (.A(n2691), 
            .B(n76), .C(col[3]), .D(n1352), .Z(n40));
    defparam i61_4_lut.INIT = "0x0aca";
    (* lut_function="(!(A (B+!(C (D)))+!A (B (C+(D))+!B ((D)+!C))))" *) LUT4 i98_4_lut (.A(\counter[15] ), 
            .B(col[1]), .C(col[2]), .D(\counter[16] ), .Z(n67));
    defparam i98_4_lut.INIT = "0x2014";
    (* lut_function="(A (B)+!A (B+(C)))" *) LUT4 i1_4_lut (.A(col[1]), .B(n2307), 
            .C(n40), .Z(n67_adj_158));
    defparam i1_4_lut.INIT = "0xdcdc";
    (* lut_function="(!(A (B (C+!(D))+!B ((D)+!C))+!A (B+((D)+!C))))" *) LUT4 i98_4_lut_adj_1 (.A(\counter[15] ), 
            .B(\counter[16] ), .C(col[3]), .D(col[2]), .Z(n67_adj_159));
    defparam i98_4_lut_adj_1.INIT = "0x0830";
    (* lut_function="(A (B+((D)+!C))+!A (B (C)+!B (C (D))))", lineinfo="@4(29[15],29[22])" *) LUT4 i15_4_lut (.A(pressedarr[3]), 
            .B(n2481), .C(row_c_3), .D(n141), .Z(pressedarr[3]));
    defparam i15_4_lut.INIT = "0xfaca";
    (* lut_function="(A+(B))" *) LUT4 i914_2_lut (.A(col[3]), .B(col[0]), 
            .Z(n1396));
    defparam i914_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A (B)+!A !(B)))" *) LUT4 i107_2_lut (.A(col[1]), .B(col[2]), 
            .Z(n61));
    defparam i107_2_lut.INIT = "0x6666";
    (* lut_function="(!(A+((C+!(D))+!B)))" *) LUT4 i3_4_lut (.A(n1396), .B(n61), 
            .C(row_c_3), .D(row_c_2), .Z(n2125));
    defparam i3_4_lut.INIT = "0x0400";
    (* lut_function="(A (B (D)+!B ((D)+!C))+!A (B ((D)+!C)+!B (D)))" *) LUT4 i1_4_lut_4_lut (.A(col[0]), 
            .B(col[2]), .C(n2485), .D(n2307), .Z(n1633));
    defparam i1_4_lut_4_lut.INIT = "0xff06";
    (* lut_function="(A+!(B+(C+!(D))))" *) LUT4 i1_4_lut_adj_2 (.A(n2125), 
            .B(col[2]), .C(col[1]), .D(n64), .Z(n70));
    defparam i1_4_lut_adj_2.INIT = "0xabaa";
    (* lut_function="(A (B ((D)+!C)+!B !(C))+!A (B (D)))" *) LUT4 num_3__I_0_4_lut (.A(n67_adj_159), 
            .B(n70), .C(n2483), .D(\counter[16] ), .Z(num[3]));
    defparam num_3__I_0_4_lut.INIT = "0xce0a";
    (* lut_function="(A+(B))", lineinfo="@4(10[21],10[24])" *) LUT4 i1_2_lut_adj_3 (.A(num[3]), 
            .B(num[0]), .Z(n141));
    defparam i1_2_lut_adj_3.INIT = "0xeeee";
    (* lut_function="(!(A+((C)+!B)))" *) LUT4 i1904_3_lut (.A(col[3]), .B(\counter[16] ), 
            .C(col[2]), .Z(n2670));
    defparam i1904_3_lut.INIT = "0x0404";
    (* lut_function="(!(A+!(B (C+!(D))+!B (C (D)))))" *) LUT4 i1_4_lut_adj_4 (.A(col[1]), 
            .B(n2669), .C(n2670), .D(col[0]), .Z(num_1__N_125));
    defparam i1_4_lut_adj_4.INIT = "0x5044";
    (* lut_function="(!(A+(B+((D)+!C))))", lineinfo="@4(10[21],10[24])" *) LUT4 i1289_3_lut_4_lut (.A(row_c_2), 
            .B(row_c_1), .C(n67), .D(n1396), .Z(n1948));
    defparam i1289_3_lut_4_lut.INIT = "0x0010";
    (* lut_function="(A+(B))" *) LUT4 i1277_2_lut (.A(n1633), .B(num_1__N_125), 
            .Z(n1567));
    defparam i1277_2_lut.INIT = "0xeeee";
    (* lut_function="(!(A+(B+(C (D)+!C !(D)))))" *) LUT4 i1910_3_lut_4_lut (.A(col[0]), 
            .B(row_c_2), .C(col[3]), .D(col[2]), .Z(n2663));
    defparam i1910_3_lut_4_lut.INIT = "0x0110";
    (* lut_function="(!(A (B+((D)+!C))+!A ((D)+!B)))" *) LUT4 i1885_2_lut_4_lut (.A(col[2]), 
            .B(col[3]), .C(\counter[15] ), .D(\counter[16] ), .Z(n2669));
    defparam i1885_2_lut_4_lut.INIT = "0x0064";
    (* lut_function="(A+(B))", lineinfo="@4(29[15],29[22])" *) LUT4 i1896_2_lut (.A(n1948), 
            .B(n1567), .Z(n2685));
    defparam i1896_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B+(C))+!A (B ((D)+!C)+!B (C (D))))", lineinfo="@4(29[15],29[22])" *) LUT4 i1283_4_lut (.A(n2685), 
            .B(pressedarr[0]), .C(row_c_0), .D(n141), .Z(pressedarr[0]));
    defparam i1283_4_lut.INIT = "0xfcac";
    (* lut_function="(!(A (B (C+!(D))+!B !(C (D)))+!A (B+!(C (D)))))" *) LUT4 i102_4_lut (.A(\counter[15] ), 
            .B(col[0]), .C(col[3]), .D(\counter[16] ), .Z(n64));
    defparam i102_4_lut.INIT = "0x3800";
    (* lut_function="(A (B))", lineinfo="@1(25[3],30[10])" *) LUT4 i960_2_lut (.A(\counter[15] ), 
            .B(\counter[16] ), .Z(row_c_3));
    defparam i960_2_lut.INIT = "0x8888";
    (* lut_function="(!(A+!(B)))", lineinfo="@1(25[3],30[10])" *) LUT4 i959_2_lut (.A(\counter[15] ), 
            .B(\counter[16] ), .Z(row_c_2));
    defparam i959_2_lut.INIT = "0x4444";
    (* lut_function="(!((B)+!A))", lineinfo="@1(25[3],30[10])" *) LUT4 i958_2_lut (.A(\counter[15] ), 
            .B(\counter[16] ), .Z(row_c_1));
    defparam i958_2_lut.INIT = "0x2222";
    (* lut_function="(A+(B))" *) LUT4 i1719_2_lut (.A(col[3]), .B(col[1]), 
            .Z(n2485));
    defparam i1719_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B (C+(D))+!B !(C+!(D)))+!A (B (C)))" *) LUT4 i100_4_lut (.A(n896), 
            .B(n2663), .C(row_c_3), .D(row_c_2), .Z(n73));
    defparam i100_4_lut.INIT = "0xcac0";
    (* lut_function="(A (B (C+!(D))+!B !(C+(D)))+!A (B (C)))" *) LUT4 i99_4_lut (.A(n2668), 
            .B(n2307), .C(row_c_1), .D(col[1]), .Z(n70_adj_160));
    defparam i99_4_lut.INIT = "0xc0ca";
    (* lut_function="(!(A (B (C)+!B !((D)+!C))+!A (B+!(C (D)))))" *) LUT4 num_0__I_0_4_lut (.A(n70_adj_160), 
            .B(col[1]), .C(\counter[16] ), .D(n73), .Z(num[0]));
    defparam num_0__I_0_4_lut.INIT = "0x3a0a";
    (* lut_function="(A (B+(C+!(D)))+!A !((C+!(D))+!B))", lineinfo="@4(29[15],29[22])" *) LUT4 i23_3_lut_4_lut (.A(pressedarr[2]), 
            .B(n127), .C(\counter[15] ), .D(\counter[16] ), .Z(pressedarr[2]));
    defparam i23_3_lut_4_lut.INIT = "0xacaa";
    (* lut_function="(!(A (C+!(D))+!A (B+(C+!(D)))))" *) LUT4 i2_3_lut_4_lut (.A(\counter[15] ), 
            .B(\counter[16] ), .C(col[3]), .D(n67_adj_161), .Z(n830));
    defparam i2_3_lut_4_lut.INIT = "0x0b00";
    (* lut_function="(A (B+((D)+!C))+!A !(((D)+!C)+!B))", lineinfo="@4(29[15],29[22])" *) LUT4 i19_3_lut_4_lut (.A(pressedarr[1]), 
            .B(n127), .C(\counter[15] ), .D(\counter[16] ), .Z(pressedarr[1]));
    defparam i19_3_lut_4_lut.INIT = "0xaaca";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_5 (.A(num[0]), .B(n1633), 
            .Z(itemp[0]));
    defparam i1_2_lut_adj_5.INIT = "0x8888";
    (* lut_function="(A+(B+(C+(D))))", lineinfo="@1(19[19],19[30])" *) LUT4 i3_4_lut_adj_6 (.A(pressedarr[0]), 
            .B(pressedarr[2]), .C(pressedarr[1]), .D(pressedarr[3]), .Z(pressed));
    defparam i3_4_lut_adj_6.INIT = "0xfffe";
    (* lut_function="(!(A+(B (C+!(D))+!B !(C (D)))))" *) LUT4 i1900_2_lut_4_lut (.A(col[3]), 
            .B(col[0]), .C(col[2]), .D(row_c_0), .Z(n2668));
    defparam i1900_2_lut_4_lut.INIT = "0x1400";
    (* lut_function="(!(A+(B (C)+!B !(C))))" *) LUT4 i1_2_lut_3_lut (.A(col[3]), 
            .B(col[0]), .C(col[2]), .Z(n896));
    defparam i1_2_lut_3_lut.INIT = "0x1414";
    (* lut_function="(A+(B (D)+!B (C+(D))))" *) LUT4 i1717_2_lut_3_lut_4_lut (.A(col[0]), 
            .B(\counter[15] ), .C(\counter[16] ), .D(col[1]), .Z(n2483));
    defparam i1717_2_lut_3_lut_4_lut.INIT = "0xffba";
    (* lut_function="(A ((C+(D))+!B)+!A (B+(C+(D))))" *) LUT4 i1903_4_lut_4_lut (.A(col[0]), 
            .B(col[2]), .C(n17), .D(n2310), .Z(n2691));
    defparam i1903_4_lut_4_lut.INIT = "0xfff6";
    (* lut_function="(A (B+!(C+(D)))+!A (B (C+(D))))", lineinfo="@4(29[15],29[22])" *) LUT4 i24_3_lut_4_lut (.A(n1633), 
            .B(n67_adj_158), .C(\counter[15] ), .D(\counter[16] ), .Z(n2481));
    defparam i24_3_lut_4_lut.INIT = "0xccca";
    (* lut_function="(A (B)+!A (B (C)))", lineinfo="@4(10[21],10[24])" *) LUT4 i1_3_lut (.A(n1948), 
            .B(n1633), .C(num_1__N_125), .Z(itemp[1]));
    defparam i1_3_lut.INIT = "0xc8c8";
    (* lut_function="(!((B)+!A))" *) LUT4 i2_2_lut (.A(n64), .B(n1352), 
            .Z(n65));
    defparam i2_2_lut.INIT = "0x2222";
    (* lut_function="(!(A+!(B (C)+!B (C+(D)))))" *) LUT4 i1_4_lut_adj_7 (.A(col[1]), 
            .B(col[3]), .C(n65), .D(n2310), .Z(n71));
    defparam i1_4_lut_adj_7.INIT = "0x5150";
    (* lut_function="(!(A ((D)+!B)+!A (((D)+!C)+!B)))", lineinfo="@4(29[15],29[22])" *) LUT4 i2_4_lut (.A(n830), 
            .B(n1633), .C(n71), .D(row_c_0), .Z(itemp[2]));
    defparam i2_4_lut.INIT = "0x00c8";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut_adj_8 (.A(num[3]), .B(n1633), 
            .Z(itemp[3]));
    defparam i1_2_lut_adj_8.INIT = "0x8888";
    (* lut_function="(!(A (B+(C+(D)))+!A (B+((D)+!C))))" *) LUT4 i1911_4_lut (.A(col[1]), 
            .B(row_c_3), .C(col[0]), .D(col[2]), .Z(n2655));
    defparam i1911_4_lut.INIT = "0x0012";
    (* lut_function="(!(A+!(B (C (D)))))" *) LUT4 i1_4_lut_4_lut_adj_9 (.A(n1352), 
            .B(\counter[15] ), .C(\counter[16] ), .D(col[0]), .Z(n17));
    defparam i1_4_lut_4_lut_adj_9.INIT = "0x4000";
    (* lut_function="(!(A+((C+!(D))+!B)))" *) LUT4 i1889_4_lut (.A(col[1]), 
            .B(row_c_3), .C(col[0]), .D(col[2]), .Z(n2654));
    defparam i1889_4_lut.INIT = "0x0400";
    (* lut_function="(A (B+!(C))+!A (B (C)))" *) LUT4 i101_3_lut (.A(n2654), 
            .B(n2655), .C(row_c_1), .Z(n67_adj_161));
    defparam i101_3_lut.INIT = "0xcaca";
    (* lut_function="(A ((C)+!B)+!A (C))" *) LUT4 i870_2_lut_3_lut (.A(\counter[15] ), 
            .B(\counter[16] ), .C(col[2]), .Z(n1352));
    defparam i870_2_lut_3_lut.INIT = "0xf2f2";
    (* lut_function="(A+(B))", lineinfo="@4(29[15],29[22])" *) LUT4 i1902_2_lut (.A(n830), 
            .B(n67_adj_158), .Z(n2688));
    defparam i1902_2_lut.INIT = "0xeeee";
    (* lut_function="(A (B+(C+(D)))+!A (B+!((D)+!C)))", lineinfo="@4(29[15],29[22])" *) LUT4 i1_4_lut_adj_10 (.A(n1567), 
            .B(n141), .C(n2688), .D(row_c_0), .Z(n127));
    defparam i1_4_lut_adj_10.INIT = "0xeefc";
    (* lut_function="(!(A (B+((D)+!C))+!A ((C+!(D))+!B)))" *) LUT4 i1_2_lut_4_lut (.A(\counter[15] ), 
            .B(\counter[16] ), .C(col[2]), .D(col[0]), .Z(n2310));
    defparam i1_2_lut_4_lut.INIT = "0x0420";
    
endmodule
